@import '~src/assets/scss/common-variable';

.settings-container {
  height: calc(100vh);
  overflow-y: auto;
  background: $darkBg;
  padding: 6rem 0rem 3rem;
}

.membership {
  h5 {
    margin-bottom: 1rem;
    margin-top: .65rem;
  }

  .btn {
    padding: .5rem 1.5rem;
    background: lighten($dark, 5);
    border-color: lighten($dark, 5);
    color: rgba($white, .7);
    border-radius: $br*2;
    @include transition;

    &:hover {
      background: lighten($dark, 10);
      border-color: lighten($dark, 10);
      color: $white;
    }
  }

  @media (min-width:992px) {
    h5 {
      margin-bottom: 2rem;
    }
  }
}

.account-details {
  margin: 0 0 2rem;
  padding: 0;
  list-style: none;

  li {
    display: flex;
    align-items: center;
    padding-top: .5rem;
    padding-bottom: .5rem;

    .value {
      display: flex;
      flex: 1 1 auto;
      align-items: center;
      gap: 1rem;
      font-size: 1.25rem;

      .icon {
        width: 1.5rem;
        font-size: 1.25rem;
        color: rgba($white, .5);
      }
    }

    .btn {
      box-shadow: none;
      color: lighten($primary, 20);

      &:hover {
        color: lighten($primary, 40);
      }
    }
  }
}

.submit-button {
  .btn {
    border-color: rgba($warning, .5);
    color: $warning;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 1.5rem;
    border-radius: $br*3;
  }
}

.account-profile-details {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 0;

    .name-icon {

      display: flex;
      align-items: center;
      justify-content: center;
      width: 4rem;
      height: 4rem;

      border-radius: $br*3;

      &.icon-1 {
        background: linear-gradient(180deg, $kismat, lighten($kismat, 10));
      }

      &.icon-2 {
        background: linear-gradient(180deg, $success, lighten($success, 10));
      }

      &.icon-3 {
        background: linear-gradient(180deg, $danger, lighten($danger, 10));
      }

      &.icon-4 {
        background: linear-gradient(180deg, $warning, lighten($warning, 10));
      }

      &.icon-5 {
        background: linear-gradient(180deg, $info, lighten($info, 10));
      }

      span {
        font-size: 0;

        &:first-letter {
          font-size: 2rem;
        }
      }
    }

    .content {

      h5,
      p {
        margin: 0;
      }

      p {
        font-weight: 300;
        color: rgba($white, .7);
        margin-top: .25rem;
        font-size: .875rem;
      }
    }
  }
}
