<div class="settings-container">
  <div class="container">
    <ngb-accordion [closeOthers]="true" activeIds="accountSettings">

      <ngb-panel id="accountSettings">
        <ng-template ngbPanelTitle>
          Account & Settings
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="row">
            <div class="col-lg-4 mb-4 mb-lg-0">
              <div class="membership">
                <h5>Membership & Billing</h5>
                <button class="btn btn-secondary">Cancel Membership</button> <br><br>
                <button class="btn btn-secondary">Change Membership</button>
              </div>
            </div>
            <div class="col-lg-8">
              <ul class="account-details">
                <li>
                  <span class="value"><i class="icon fi-mail-regular"></i> ABC@gmail.com</span>
                  <button class="btn btn-dark" (click)="changeAccount()"><span class="d-none d-lg-block">Change account email</span><i
                      class="icon d-lg-none fi-edit-regular"></i></button>
                </li>
                <li>
                  <span class="value"><i class="icon fi-lock-closed-regular"></i>●●●●●●●●●●●●●●</span>
                  <button class="btn btn-dark" (click)="changePassword()"><span class="d-none d-lg-block">Change password</span> <i
                      class="icon d-lg-none fi-edit-regular"></i></button>
                </li>
                <li>
                  <span class="value"><i class="icon fi-call-regular"></i>1234567890</span>
                  <button class="btn btn-dark" (click)="changeMobile()"><span class="d-none d-lg-block">Change phone number</span> <i
                      class="icon d-lg-none fi-edit-regular"></i></button>
                </li>
                <li>
                  <span class="value"><i class="icon fi-payment-regular"></i> ●●●● ●●●● ●●●● 4321 <i
                      class="icon fa-brands fa-cc-visa"></i></span>
                  <button class="btn btn-dark"><span class="d-none d-lg-block">Manage payment info</span> <i
                      class="icon d-lg-none fi-edit-regular"></i></button>
                </li>
                <li>
                  <span class="value"></span>
                  <button class="btn btn-dark">Billing details</button>
                </li>
              </ul>
            </div>
            <div class="text-end submit-button">
              <button class="btn btn-primary btn-lg">Update</button>
            </div>
          </div>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="planDetails">
        <ng-template ngbPanelTitle>
          Plan Details
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="row align-items-center">
            <div class="col-lg-4 mb-4 mb-lg-0">
              <div class="membership">
                <h5 class="m-0">Plan</h5>
              </div>
            </div>
            <div class="col-lg-8">
              <ul class="account-details align-items-center m-0">
                <li>
                  <span class="value"><strong>Basic</strong></span>
                  <button class="btn btn-dark"><span class="d-none d-lg-block">Change</span><i
                      class="icon d-lg-none fi-edit-regular"></i></button>
                </li>
              </ul>
            </div>
          </div>
        </ng-template>
      </ngb-panel>
      <ngb-panel id="profileParentalControls">
        <ng-template ngbPanelTitle>
          Profile & Parental Controls
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="row">
                <div class="col-lg-4 mb-4 mb-lg-0">
                  <div class="membership">
                    <h5>Profile & Parental Controls</h5>
                  </div>
                </div>
                <div class="col-lg-8">
                  <ul class="account-profile-details m-0">
                    <li *ngFor="let item of ['Prameshwar Kumar','Surya Vamshi','Sanjeev Sajal','Krishna','Narayan']; let i = index">
                      <div class="name-icon icon-{{i+1}}"><span>{{item}}</span></div>
                      <div class="content">
                          <h5>{{item}}</h5>
                          <p>All Maturity Ratings</p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
        </ng-template>
      </ngb-panel>
      <!-- <ngb-panel id="projectDeadline">
        <ng-template ngbPanelTitle>
          Project Deadline
        </ng-template>
        <ng-template ngbPanelContent>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
          officia
          aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
          tempor,
          sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
          helvetica,
          craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
          Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
          accusamus
          labore sustainable VHS.
        </ng-template>
      </ngb-panel> -->
    </ngb-accordion>

    <div class="text-end submit-button">
        <button class="btn btn-primary btn-lg">Save All</button>
      </div>
  </div>
</div>
