<div class="card">
  <div class="card-header">
    <h4 class="card-title">Content Cast And Crew</h4>
    <h4 class="card-title">{{video?.title}}</h4>

  </div>
  <div class="card-body">
    <div class="video-details-container">
      <form novalidate>
        <div class="row g-4">
          <div class="col-md-6">
            <label for="castId" class="form-label">Name</label>
            <input id="typeahead-basic" type="text" class="form-control" [formControl]="searchActorByName"
              [ngbTypeahead]="filteredActors" [resultTemplate]="rt" [inputFormatter]="formatter"
              (selectItem)="selectActor($event)" />
            <div class="text-danger" *ngIf="addCast.controls.castId.hasError('required') && submitted">
              Name is required
              </div>
          </div>
          <div class="col-md-6" [formGroup]="addCast">
            <label for="designation" class="form-label">Designation</label>
            <input id="designation" type="text" class="form-control" formControlName="designation"
              placeholder="Example: Actor, Director, etc" />
            <div class="text-danger" *ngIf="addCast.controls.designation.hasError('required') && submitted">
              Designation is required
            </div>
          </div>
          <div class="col-md-6 footer-right">
            <button type="button" class="btn btn-lg btn-outline-warning"
              (click)="redirectservice.uploadVideos(videoId)">Back</button>
            <button type="button" class="btn btn-lg btn-outline-success" (click)="addActor()">Add</button>
          </div>
          <div class="col-6 footer-right">
            <button type="button" class="btn btn-lg btn-outline-success ms-auto"
              (click)="redirectservice.payment(videoId)">Next</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #rt let-r="result" let-t="term">
  <ngb-highlight [result]="r.castName" [term]="t"></ngb-highlight>
</ng-template>

<ng-container *ngIf="videoActors.length !== 0">
  <div class="pt-4">
    <kismat-actors-list [actors]="videoActors"></kismat-actors-list>
  </div>
</ng-container>
