<div class="container">
  <div class="row vh-100 align-items-center justify-content-center">
    <div class="col-lg-5  text-center">
      <!-- <div class="card">
        <div class="card-body"> -->
          <div>
            <div class="pb-3">
              <img src="./assets/imgs/logo.png" alt="Kismat" width="200px">
            </div>
            <h1 class="text-warning">Verify Your Email Address</h1>
            <p class="text-muted">We have sent you an email with a verification code.
              Please enter and verify your email.</p>
          </div>
          <ng-otp-input [config]="config"  (onInputChange)="onOtpChange($event)"></ng-otp-input>
          <div class="mt-4">
            <button type="submit" class="btn btn-outline-warning btn-rounded px-5 py-2"
            (click)="verify()">Verify</button>
          </div>
        <!-- </div>
      </div> -->
    </div>
  </div>
</div>
