  <div class="card border-0 shadow-sm mb-4">
    <div class="card-header bg-transparent border-0">
      <h3 class="card-title">{{actorEditMode? 'Update Actor' : 'Add Actor'}}</h3>
    </div>
    <div class="card-body">
      <div class="type-cast">
        <div class="type-cast-form">
          <form [formGroup]="actorsForm">
            <div class="row g-4">
              <div class="form-group col-lg-6">
                <label for="name">Name</label>
                <div class="input-group ">
                  <input type="text" class="form-control" id="name" placeholder="Name" formControlName="castName">
                </div>
                <div class="text-danger" *ngIf="actorsForm.controls.castName.hasError('required') && submitted">
                  Name is required
                </div>
              </div>

              <div class="form-group col-lg-6">
                <label for="designation">Designation</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="designation" placeholder="Designation"
                    formControlName="designation">
                </div>
                <div class="text-danger" *ngIf="actorsForm.controls.designation.hasError('required') && submitted">
                  Role is required
                </div>
              </div>

              <!-- <div class="form-group col-lg-6">
                <label for="dob">Date of Birth </label>
                <div class="input-group ">
                  <input class="form-control" placeholder="yyyy-mm-dd" id="dob" name="dob" ngbDatepicker
                    #d="ngbDatepicker" (dateSelect)="onDateSelect($event)" [value]="actorDOB">
                  <button class="btn btn-outline-secondary fi-calendar-ltr-filled" (click)="d.toggle()"
                    type="button"></button>
                </div>
                <div class="text-danger" *ngIf="actorsForm.controls.dob.hasError('required') && submitted">
                  DOB is required
                </div>
              </div> -->
              <!-- <div class="form-group col-lg-6">
                <label for="isActive">Select Profile Pic</label>
                <div class="input-group ">
                  <input id="Thumbnail" type="file" class="form-control" accept="image/*"
                    (change)="uploadProfile($event.target)" />

                  <div class="mt-2" *ngIf="uploading">
                    <div class="progress-container">
                      <div class="header">
                        <h6 class="title">Uploading</h6>
                        <span>45%</span>
                      </div>
                      <div class="progress">
                        <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated"
                          role="progressbar" style="width: 45%;" aria-valuenow="45" aria-valuemin="0"
                          aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-danger" *ngIf="actorsForm.controls.isActive.hasError('required') && submitted">
                  Is Active is required
                </div>
              </div> -->

              <div class="form-group col-lg-12">
                <label for="description">Description</label>
                <div class="input-group ">
                  <textarea rows="3" type="text" class="form-control" id="description" placeholder="Description"
                    formControlName="description"></textarea>
                </div>
                <div class="text-danger" *ngIf="actorsForm.controls.description.hasError('required') && submitted">
                  Description is required
                </div>
              </div>
            </div>
            <div class="buttons d-flex justify-content-end mt-4">
              <button type="cancel" class="btn btn-ott-submit btn-lg btn-light" *ngIf="actorEditMode" (click)="cancel()">Cancel</button>
              <button type="submit" class="btn btn-ott-submit btn-lg btn-primary text-warning ms-2"
                (click)="createNewActor()"> <i class="fa" [ngClass]="actorEditMode? 'fa-sync-alt': 'fa-plus'"></i> {{actorEditMode? 'Update': 'Add'}}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <kismat-data-table title="Actors" [data]="actors" [headers]="actorsHeaders"
  (onSelectItemForEdit)="onSelectItemForEdit($event)" (onSelectItemForDelete)="onSelectItemForDelete($event)"
  (onSelectFile)="uploadProfile($event)">
</kismat-data-table>

