@import '~src/assets/scss/common-variable';

$inputGroupHeight: 4rem;

.modal-body {
  padding: 1.5rem;
  padding-bottom: 0;

  @media (min-width:992px) {
    padding: 3rem;
    padding-bottom: 0;
  }
}

.modal-footer {
  border: none;

  .btn {
    color: $warning;
    border-radius: $br*3;
    padding-left: 2rem;
    padding-right: 2rem;
    border-color: rgba($warning, .5);

    @media (min-width:992px) {
      min-height: $inputGroupHeight;
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }
  }
}

.search-container {
  margin-bottom: 2rem;

  @media (min-width:992px) {
    margin-bottom: 4rem;
  }

  .input-group {
    height: $inputGroupHeight;
    background: $dark;
    border: 1px solid rgba($white, .3);
    border-radius: $br*2;

    .buttons {
      .btn {
        height: $inputGroupHeight;
        color: $white;
        font-size: 1.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        @include transition;

        &:hover {
          color: $warning;
        }

        &:not(:first-child) {
          &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            height: $inputGroupHeight - 2;
            width: 1px;
            background: rgba($white, .3);
          }
        }
      }
    }


    .dropdown {
      >.btn {
        height: $inputGroupHeight;
        color: $white;
        display: flex;
        align-items: center;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        box-shadow: none;
        @include transition;

        &:hover,
        &[aria-expanded="true"] {
          color: $warning;
        }

        &:after {
          margin-inline-start: 1rem;
        }

        &:before {
          content: "";
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          height: $inputGroupHeight - 2;
          width: 1px;
          background: rgba($white, .3);
        }
      }
    }

    .form-control {
      background: transparent;
      border: none;
      color: $white;
      box-shadow: none;
      padding-left: 1.5rem;
      padding-right: 1.5rem;

      @media (min-width:992px) {
        font-size: 1.5rem;
      }
    }
  }
}

.card {
  &.card-search {
    position: relative;
    border-radius: 0;
    border: none;
    background: transparent;
    overflow: hidden;
    @include transition;
    transform: scale(1);
    border-radius: $br*3;
    cursor: pointer;

    .video-img {
      width: 100%;
      height: 285px;
      display: block;
      object-fit: cover;
      border-radius: $br*3;
    }

    .card-body {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
      background: $dark;
      // background: linear-gradient(360deg, rgba($dark, 1) 0%, rgba($dark, 0) 100%);
      color: $white;
      padding-top: 0px;
      background: linear-gradient(0deg, #000000, transparent);

      h2 {
        font-weight: 600;
      }

      p {
        overflow: hidden;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        text-overflow: ellipsis;
        white-space: normal;
      }

      .actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;

        .rating-stars {
          color: $warning;
          font-size: 1.1rem;
        }
      }

      .buttons {
        display: flex;
        align-items: center;
        gap: .3rem;

        .btn {
          color: $white;
          font-size: 1rem;
          padding: 0;
          @include transition;
          opacity: .7;
          transform: scale(1);

          &:hover {
            opacity: 1;
            transform: scale(1.15);
          }
        }
      }

      .d-grid {
        .btn {
          border-color: rgba($warning, .5);
          color: $warning;
          border-radius: $br*2;
          font-weight: 500;

          @media (min-width:992px) {
            height: 2.5rem;
            font-size: 1rem;
          }
        }
      }

      @media (min-width:992px) {
        padding: 1rem;
      }
    }

    @media (min-width:992px) {
      .card-body {
        transform: translateY(100%);
        @include transition;
      }

      &:hover {
        transform: scale(1.07);
        z-index: 11;

        .card-body {
          transform: translateY(0);
        }
      }
    }
  }
}
