<div class="modal-body">
  <div class="search-container">
    <div class="input-group">
      <div ngbDropdown>
        <button class="btn btn-dropdown" id="dropdownBasic1" ngbDropdownToggle>Select Cetegory</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem *ngFor="let item of ['Movies','TV Shows','Web Series','Comedy Movies','Action Movies','Drama','Kismet Specials']">{{item}}</button>
        </div>
      </div>
      <input type="text" class="form-control" placeholder="Search over 8 million Movies, tv shows and more" aria-label="Text input with dropdown button">
      <div class="buttons">
        <button class="btn btn-icon"><i class="fi-search-regular"></i></button>
        <button class="btn btn-icon"><i class="fi-mic-on-regular"></i></button>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-4" *ngFor="let item of items">
        <div class="card card-search" [routerLink]="['/search-result']" (click)="activeModal.dismiss('Cross click')" >
            <img class="video-img" [src]="item.img" [alt]="item.title" [title]="item.title">
            <div class="card-body">
                <h4>{{item.title}}</h4>
                <p>{{item.description}}</p>
                <div class="actions">
                  <div class="rating-stars">
                    <i class="icon fi-star-filled" *ngFor="let item of [1,2,3,4]"></i>
                    <i class="icon fi-star-half-filled"></i>
                  </div>
      
                  <div class="buttons">
                    <button class="btn"><i class="icon fi-share-android-filled"></i></button>
                    <button class="btn"><i class="icon fi-heart-regular"></i></button>
                    <button class="btn"><i class="icon fi-arrow-download-filled"></i></button>
                    <button class="btn"><i class="icon fi-thumb-like-regular"></i></button>
                    <button class="btn"><i class="icon fi-thumb-dislike-regular"></i></button>
                  </div>
                </div>
                <!-- <div class="d-grid">
                  <button class="btn btn-primary">Watch Now</button>
                </div> -->
              </div>
        </div>
    </div>
</div>

</div>
<div class="modal-footer">
  <button class="btn btn-lg btn-primary" (click)="activeModal.dismiss('Cross click')">Similar Result</button>
</div>
