<ng-container>
  <div class="card">
    <card-title class="px-4 pt-4 h4">
      Cast And Crew
    </card-title>
    <div class="card-body">
      <div class="row g-3">
        <div class="col-lg-3 " *ngFor="let item of actors; let i = index">
          <div class="card card-sections p-2">
            <div> <img class="card-image" [src]="item?.details?.profileDP" [alt]="item?.details?.castName" width="100%" /> </div>
            <h4 class="mt-2">{{item?.details?.castName}}</h4>
            <!-- <b>{{item?.details?.designation}}</b>
            <p>{{item?.details?.description}}</p> -->
          </div> 
        </div>
      </div>
    </div>
  </div>
</ng-container>
