<div class="modal-header">
  <h4 class="modal-title">Upload Videos</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <!-- <ng-container *ngIf="!uploadformFile">
    <div class="drag-content-area">
      <i class="icon fad fa-cloud-upload"></i>
      <h6>Drag and drop video files to upload</h6>
      <p>Your videos will be private until you publish them.</p>
    </div>
    <div class="select-file-button">
      <button class="btn btn-lg btn-primary" (click)="openFormFeilds()">
        Select Files
      </button>
    </div>
  </ng-container> -->
  <!-- <ng-container *ngIf="uploadformFile"> -->
  <ng-container>
    <div class="video-details-container">
      <!-- <div class="header">
        <h4 class="title">Video Details  (1/8)</h4>
        <div class="actions"> <button class="btn btn-sm disabled"><i class="far fa-angle-left"></i></button>
          <button class="btn btn-sm"><i class="far fa-angle-right"></i></button></div>
      </div> -->
      <form novalidate [formGroup]="videoForm">
        <div class="row g-4">
          <div class="col-md-6">
            <label for="type" class="form-label">Movie Type </label>
            <select id="type" class="form-control" formControlName="type">
              <option *ngFor="let item of types" [value]="item.name">{{item.name}}</option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="title" class="form-label">Movie Name</label>
            <input type="text" id="title" class="form-control" placeholder="Movie Name" formControlName="title">
          </div>
          <div class="col-md-6">
            <label for="subTitle" class="form-label">Movie Sub Title</label>
            <input type="text" id="subTitle" class="form-control" placeholder="Movie Sub Title"
              formControlName="subTitle">
          </div>
          <div class="col-md-6">
            <label for="language" class="form-label">Language </label>
            <select id="language" class="form-control" formControlName="language">
              <option *ngFor="let item of languages" [value]="item.name">{{item.name}}</option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="season" class="form-label">Season</label>
            <input type="text" id="season" class="form-control" placeholder="Season" formControlName="season">
          </div>
          <div class="col-md-6">
            <label for="episode" class="form-label">Episode</label>
            <input type="text" id="episode" class="form-control" placeholder="Episode" formControlName="episode">
          </div>
          <div class="col-md-6">
            <label for="" class="form-label">Release date </label>
            <div class="input-group">
              <input class="form-control"  placeholder="yyyy-mm-dd" name="dp" (dateSelect)="onDateSelect($event)"  ngbDatepicker
                #d="ngbDatepicker" >
              <button class="btn btn-outline-dark " (click)="d.toggle()" type="button"><i
                  class="fad fa-calendar-day"></i></button>
            </div>
          </div>
          <div class="col-md-6">
            <label for="rating" class="form-label">Rating</label>
            <input type="text" id="rating" class="form-control" placeholder="Rating" formControlName="rating">
          </div>
          <div class="col-md-6">
            <label for="movieLength" class="form-label">Content Length</label>
            <input type="text" id="movieLength" class="form-control" placeholder="02:00:00"
              formControlName="movieLength">
          </div>

          <!-- <div class="col-md-6">
            <label for="language" class="form-label">Language </label>
            <select id="language" class="form-control" formControlName="episode" >
              <option *ngFor="let item of ['Hindi','English', 'Telugu']">{{item}}</option>
            </select>
          </div> -->

        

          <div class="col-md-6">
            <label for="visibility" class="form-label">Visibility</label>
            <select id="visibility" class="form-control" formControlName="visibility" multiple>
              <option *ngFor="let item of visibility" [value]="item.name">{{item.name}}</option>
            </select>
          </div>
          <div class="col-md-6">
            <label for="genres" class="form-label">Movie Genres </label>
            <select class="form-control" id="genres" formControlName="genres" multiple>
              <option *ngFor="let item of genres" [value]="item.name">{{item.name}}</option>
            </select>
          </div>

          <div class="col-md-6">
            <label for="castId" class="form-label">Cast of Movie</label>
            <input id="castId" type="text" class="form-control" placeholder="Enter Cast of Movie"
              formControlName="castId">
          </div>

          <div class="col-md-6">
            <div class="form-check form-switch">
              <label class="form-check-label" for="isAgeRestricted">Age Restrictions</label>
              <input class="form-check-input" type="checkbox" role="switch" id="isAgeRestricted"
                formControlName="isAgeRestricted">
            </div>
          </div>
          <!-- <div class="col-12">
            <div class="d-flex align-items-center justify-content-between">
              <div class="form-check form-switch">
                <label class="form-check-label" for="flexSwitchCheckDefault">Yes, it’s made for kids</label>
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
              </div>
              <button class="btn btn-add-new-row"> Add new row <i class="icon fad fa-plus-circle"></i></button>
            </div>
          </div> -->

          <div class="col-12">
            <label for="description" class="form-label">Movie Description</label>
            <textarea id="description" cols="30" rows="5" class="form-control" placeholder="Enter Description"
              formControlName="description"></textarea>
          </div>
        </div>
      </form>
    </div>
  </ng-container>



</div>
<!-- <div class="modal-footer" *ngIf="!uploadformFile"> -->
<div class="modal-footer">
  <!-- <div class="footer-left">
    <div class="progress-container">
      <div class="header">
        <h6 class="title">Uploading</h6>
        <span>85%</span>
      </div>
      <div class="progress">
        <div class="progress-bar bg-warning" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0"
          aria-valuemax="100"></div>
      </div>
    </div>
  </div> -->
  <div class="footer-right ms-auto">
    <button type="button" class="btn btn-lg btn-outline-success" (click)="saveVideo()">Save</button>
    <button type="button" class="btn btn-lg btn-primary" (click)="publishVideo()">Publish</button>
  </div>

</div>
