<app-header></app-header>
<app-scroll-bar></app-scroll-bar>
<app-max-movie-night></app-max-movie-night>
<app-streaming></app-streaming>
<app-download-watch-offline></app-download-watch-offline>
<app-exclusive-movies></app-exclusive-movies>
<!-- <app-recommended-movies></app-recommended-movies> -->
<app-favourite-devices></app-favourite-devices>
<app-footer></app-footer>
