<ng-container>
    <div class="p-4">
      <div class="d-flex justify-content-between align-items-canter">
        <p class="h4">Change Mobile Number</p>
        <button type="button" class="btn-close" aria-label="Close" (click)="modalService.dismissAll('Cross click')">
        </button>
      </div>
      <form [formGroup]="payload" (ngSubmit)="submit()" >
        <div class="form-group my-4">
          <label for="mobileNumber">Mobile Number</label>
          <input type="text" class="form-control" id="mobileNumber"  placeholder="Enter Mobile Number" 
          formControlName="mobileNumber" [OnlyNumber]="true">
          <div class="text-danger" *ngIf="payload.controls.mobileNumber.invalid && submitted">
            Mobile Number is required
          </div>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
  </ng-container>
  