<ng-container>
  <span class="badge rounded-pill bg-light text-dark
    d-inline-flex align-items-center m-1 p-2" *ngFor="let item of data; let i = index" [class.d-none]="i >= showPills">
    <span class=" fs-6 " (click)="onSelectItem.emit(item)">{{item}}</span>
    <button type="button" class="btn-close ms-2" aria-label="Close" (click)="onCancleItem.emit(item)"></button>
  </span>
  <button class="btn btn-success rounded-pill py-1" *ngIf="data.length > showPills" (click)="open(morelist)">
    Show More
  </button>
</ng-container>

<ng-template #morelist let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{poptitle}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <span class="badge rounded-pill bg-light text-dark
    d-inline-flex align-items-center m-1 p-2" *ngFor="let item of data; let i = index">
      <span class=" fs-6 " (click)="onSelectItem.emit(item)">{{item}}</span>
      <button type="button" class="btn-close ms-2" aria-label="Close" (click)="onCancleItem.emit(item)"></button>
    </span>
  </div>
</ng-template>
