h4 {
  align-items: center;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-bottom: 0rem;
  padding-top: 20px;
}

.bg-black {
  background-color: black;
}

.text-center {
  text-align: center !important;
}

// .movie-style {
//   overflow: hidden;

//   img {
//     height: 100%;
//     width: 100%;
//     transform: translate(5%, 0);
//     padding-right: 10px;
//   }

//   @media screen and (max-width: 768px) {
//     img {
//       margin-top: 1rem;
//       width: 100%;
//       transform: translate(5%, 0);
//     }
//   }

// }

// .d-flex {
//   display: flex !important;
//   padding-bottom: 10px;
// }

.content-style {
  color: white;
  font-size: 1rem !important;
  overflow: hidden !important;
  padding: 3rem 1rem;
}

.solid {
  border-top: 4px solid #30cc64;
  width: 30%;
}
