<div class="bg-black">
  <div class="container">
    <div class="text-center pb-5 pt-4">
      <h4>Streaming Anytime, Anywhere</h4>
    </div>
    <div>
      <img src="./assets/imgs/devices.png" alt="" class="img-fluid w-100" />
    </div>
    <div class="row row-cols-1 row-cols-lg-4 row-cols-md-4 content-style">
      <div class="col">
        <hr class="solid">
        A personalized streaming experience <br>for up to five viewer profiles.
      </div>
      <div class="col">
        <hr class="solid">
        Bingeable collections hand-pikced by humans -- not robots.
      </div>
      <div class="col">
        <hr class="solid">
        A curated kids' experience that grows along with their intersts.
      </div>
      <div class="col">
        <hr class="solid">
        Ad-Free subscribers can download top titles to watch anywhere they go.
      </div>
    </div>
  </div>
</div>
