<section class="ott-section section-top-ten">
  <div class="container">
    <div class="section-title">
      <div class="title-left">
        <h2 class="title">Top 10 in Kismat</h2>
      </div>
      <div class="title-right">
        <!-- <a href="" class="link">Explore All</a> -->
      </div>
    </div>
  </div>

  <swiper [config]="swiperSlidesConfig" #swiperContainer [virtual]="true" class="swiper-zoom swiper-top-ten">
    <ng-template swiperSlide *ngFor="let item of topTen; let i = index">
      <div class="card card-top-ten">

        <!-- <img class="slide-img" [src]="item.img" [alt]="item.title" [title]="item.title"> -->

        <div class="slide-img">
          <kismat-video [video]="{name: item.title? item.title : ''  , src : item.videoSource.videoUrl? item.videoSource.videoUrl :'',
          img : item.videoSource.vthumbnail? item.videoSource.vthumbnail : ''}"
            [mouseoverPlayPauseEvents]="commonservice.isLoggedIn()">
          </kismat-video>
        </div>


        <div class="card-body">
          <!-- <h2>{{item.title}}</h2> -->
          <p>{{item.description}}</p>
          <div class="actions">
            <div class="rating-stars">
              <i class="icon fi-star-filled" *ngFor="let item of [1,2,3,4]"></i>
              <i class="icon fi-star-half-filled"></i>
            </div>

            <app-player-actions [videoId]="item.id"></app-player-actions>
          </div>
          <div class="d-grid">
            <button class="btn btn-primary"
              (click)="commonservice.isLoggedIn()? redirectservice.preview(item.id)  : modalservice.openSigninModal()">Watch
              Now</button>
          </div>
        </div>
      </div>
      <div class="index-swiper"><img src="./assets/imgs/numbers/number-{{i+1}}.svg" alt="">
      </div>
    </ng-template>
  </swiper>
</section>
