@import '~src/assets/scss/common-variable';

.heart {
  color: red;
}

.like {
  color: green;
}

.dislike {
  color: black;
}

.marginBottom {
  margin-bottom: 15px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
  // margin-top: 2rem;

  .btn {
    color: $white;
    font-size: 1.5rem;
    padding: 0;
    @include transition;
    opacity: .7;
    transform: scale(1);

    &:hover {
      opacity: 1;
      transform: scale(1.15);
    }
  }
}
