<div class="buttons" (click)="userAction($event)">
  <!-- <button  class="btn"><i id="love" class="icon" [ngClass]="[isLove ? 'fas fa-heart heart':'fi-heart-regular']"></i>
  </button> -->
  <button  class="btn"><i id="like" class="icon marginBottom" [ngClass]="[isLike ? 'fas fa-thumbs-up like':'fas fa-thumbs-up']"></i></button>
  <button  class="btn"><i id="dislike" class="icon" [ngClass]="[isDisLike ? 'fas fa-thumbs-down heart like':'fas fa-thumbs-down']"></i></button>
  <app-like-button id="love" *ngIf="showlove"></app-like-button>
  <button *ngIf="viewMore" class="btn"><i  id="moreInfo" class="icon fi-question-circle-regular" ></i></button>
</div>