@import '~src/assets/scss/common-variable';


.section-latest {
  background-color: $darkBg;
  padding-bottom: 1rem;

  @media (min-width:992px) {
    padding-bottom: 2rem;
  }

  .swiper-zoom {
    @media (min-width:992px) {
      padding-left: 3.5rem;
    }
  }

  .card {
    &.card-latest {
      position: relative;
      border-radius: 0;
      border: none;
      background: transparent;
      overflow: hidden;
      @include transition;
      transform: scale(1);
      border-radius: $br*3;
      cursor: pointer;

      .slide-img {
        width: 100%;
        height: 385px;
        display: block;
        object-fit: cover;
        border-radius: $br*3;
      }

      .card-body {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        background: $dark;
        // background: linear-gradient(360deg, rgba($dark, 1) 0%, rgba($dark, 0) 100%);
        color: $white;
        padding-top: 0px;
        background: linear-gradient(0deg, #000000, transparent);

        h2 {
          font-weight: 600;
        }

        p {
          overflow: hidden;
          -webkit-box-orient: vertical;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          text-overflow: ellipsis;
          white-space: normal;
        }

        .actions {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 1rem;

          .rating-stars {
            color: $warning;
            font-size: 1.1rem;
          }
        }

        .buttons {
          display: flex;
          align-items: center;
          gap: .3rem;

          .btn {
            color: $white;
            font-size: 1rem;
            padding: 0;
            @include transition;
            opacity: .7;
            transform: scale(1);

            &:hover {
              opacity: 1;
              transform: scale(1.15);
            }
          }
        }

        .d-grid {
          .btn {
            border-color: rgba($warning, .5);
            color: $warning;
            border-radius: $br*2;
            font-weight: 500;

            @media (min-width:992px) {
              height: 2.5rem;
              font-size: 1rem;
            }
          }
        }

        @media (min-width:992px) {
          padding: 1rem;
        }
      }

      @media (min-width:992px) {
        .card-body {
          transform: translateY(100%);
          @include transition;
        }

        &:hover {
          transform: scale(1.07);
          z-index: 11;

          .card-body {
            transform: translateY(0);
          }
        }
      }
    }
  }
}
