<ng-container>
  <div class="header-content">
    <kismat-video [videoId]="videoId" [video]="currentVideo" [autoplay]="true" [muted]="false" [showBuffer]="true"
      [showVideoControls]="true" [showVideoProgressBar]="true" [showOverlayPlay]="true" [showVideoBackButton]="true"
      [showVideoTitle]="true" [showSeasonsDrop]="showSeasonsDrop" [seasons]="seasons"
      (seasonChange)="seasonChange($event)" [episodes]="episodes" (episodeChange)="episodeChange($event)"
      [currentSeason]="currentSeason" [currentEpisode]="currentEpisode" (back)="goBack($event)" (ended)="ended($event)"
      [currentTime]="currentTime">
    </kismat-video>
  </div>
</ng-container>
