@import '~src/assets/scss/common-variable';

.header-content {
  background-color: $dark;
  position: relative;
  height: 100vh;
  .video-container {
    width: 100%;

    video {
      width: 100%;
      display: block;
    }

    @media (min-width:992px) {
      width: 70%;
      margin-left: auto;
    }
  }

}