<div class="card">
  <div class="card-header">
    <h4 class="card-title">Content Uploads</h4>
    <h4 class="card-title">{{video?.title}}</h4>
  </div>
  <div class="card-body">

    <div class="row g-4">
      <div class="col-12">
        <h4>Videos </h4>
      </div>
      <div class="col-lg-4">
        <kismat-file-uploads title="Upload Video" [videoId]="videoId"
          [video]="{name:video?.title, src:video?.videoSource?.videoUrl, img:''}" [uploadType]="uploadingTypes.video"
          (response)="fileUploaded($event)">
        </kismat-file-uploads>
      </div>
      <div class="col-lg-4">
        <kismat-file-uploads title="Upload Trailer" [videoId]="videoId"
          [video]="{name:video?.title, src:video?.videoSource?.trailerUrl, img:''}"
          [uploadType]="uploadingTypes.trailer" (response)="fileUploaded($event)">
        </kismat-file-uploads>
      </div>
    </div>
    <div class="row">
      <div class="col-12 pt-4">
        <h4>Posters </h4>
      </div>
      <div class="col-lg-4">
        <kismat-file-uploads title="Upload Header Poster (16:9)" [videoId]="videoId"
          [video]="{name:video?.title, src:video?.videoSource?.hthumbnail, img:video?.videoSource?.hthumbnail}"
          filetype="poster" [uploadType]="uploadingTypes.hthumbnail" fileaccept="image/*"
          (response)="fileUploaded($event)">
        </kismat-file-uploads>
      </div>

      <div class="col-lg-4">
        <kismat-file-uploads title="Upload Poster  (7:5)" [videoId]="videoId"
          [video]="{name:video?.title, src:video?.videoSource?.thumbnailUrl, img:video?.videoSource?.thumbnailUrl}"
          filetype="poster" [uploadType]="uploadingTypes.thumbnail" fileaccept="image/*"
          (response)="fileUploaded($event)">
        </kismat-file-uploads>
      </div>

      <div class="col-lg-4">
        <kismat-file-uploads title="Upload Vertical Poster (9:16)" [videoId]="videoId"
          [video]="{name:video?.title, src:video?.videoSource?.vthumbnail, img:video?.videoSource?.vthumbnail}"
          filetype="poster" [uploadType]="uploadingTypes.vthumbnail" fileaccept="image/*"
          (response)="fileUploaded($event)">
        </kismat-file-uploads>
      </div>
    </div>

    <div class="row">
      <div class="col-12 pt-4">
        <h4>Content Certificate </h4>
      </div>
      <div class="col-lg-4">
        <kismat-file-uploads title="Upload Content Certificate" [videoId]="videoId"
          [video]="{name:video?.title, src:video?.contentCertificate, img:video?.contentCertificate}" filetype="poster"
          [uploadType]="uploadingTypes.contentCertificate" fileaccept="image/*" (response)="fileUploaded($event)">
        </kismat-file-uploads>
      </div>
    </div>


    <!-- <div class="row">
      <div class="col-12">
        <h4>Subtitles </h4>
      </div>
      <div class="col-lg-4">
        <div class="card content-video-card">
          <div class="card-body">
            <ng-container *ngIf="!video?.videoSource?.subtitleFile">
              Please Subtitles
            </ng-container>
            <ng-container *ngIf="video?.videoSource?.subtitleFile">
              <kismat-video [video]="{name:  video?.title, src : video?.videoSource?.subtitleFile,
            img : video?.videoSource?.subtitleFile}">
              </kismat-video>
            </ng-container>
            <div class="form-group pt-3">
              <label for="Thumbnail">Upload Subtitles:</label>
              <input id="Thumbnail" type="file" class="form-control" accept="audio/*"
                (change)="subtitlesUpload($event.target)" />
              <div class="mt-2" *ngIf="uploading == uploadingTypes?.subtitleFile">
                <div class="progress-container">
                  <div class="header">
                    <h6 class="title">Uploading</h6>
                    <span>45%</span>
                  </div>
                  <div class="progress">
                    <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar"
                      style="width: 45%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div class="row pt-4">
      <div class="col-12 footer-right">
        <button type="button" class="btn btn-lg btn-outline-warning"
          (click)="redirectservice.privacyAndRestriction(videoId)">Back</button>
        <button type="button" class="btn btn-lg btn-outline-success ms-auto"
          (click)="redirectservice.castAndCrew(videoId)">Next</button>
      </div>
    </div>
  </div>
</div>
