<nav class="kott-sidenav" id="sidenavAccordion">
  <div class="kott-sidenav-menu">
    <ng-container *ngFor="let item of menus">
      <a *ngIf="item.label !='Monetisation'" (click)="nonmonestItem()" [routerLink]="[item.link]"
        routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link">
        <i class="icon fad" [class]="item.icon"></i>
        <span>{{item.label}}</span></a>

      <a *ngIf="item.label =='Monetisation'" [routerLink]="[item.link]" [routerLinkActiveOptions]="{exact:true}"
        class="nav-link" (click)="monestItem()" class="nav-link" id="mone-dropdown">
        <i class="icon fad" [class]="item.icon"></i>
        <span>{{item.label}}</span>
        <span class="ms-auto" [ngClass]="[toggleSwitch? 'fa fa-angle-up':'fa fa-angle-down']"></span>
      </a>
      <ng-container *ngIf="item.label =='Monetisation'">
        <div class="submenu-label-one" [ngClass]="{'active': toggleSwitch}">
          <a *ngFor="let newItem of monest" [routerLink]="[newItem.link]" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}" class="nav-link">
            <i class="icon fad" [class]="newItem.icon"></i>
            <span>{{newItem.label}}</span></a>
        </div>
      </ng-container>
    </ng-container>
  </div>
</nav>
