@import '~src/assets/scss/common-variable';



.kott-sidenav {
  padding-top: $lgNavbarHeight + 1;

  background: $white;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-wrap: nowrap;


  .kott-sidenav-menu {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    >.nav-link {
      padding: 1rem 2rem;
      display: flex;
      align-items: center;
      gap: .5rem;
      border-left: 5px solid transparent;
      font-weight: 500;
      font-size: 1.125rem;

      .icon {
        width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.25rem;

      }

      &:not(.active) {
        &:hover {

          color: rgba($kismat, .7);
        }
      }

      &.active {
        border-color: $kismat;
        color: darken($kismat, 10);
        background: rgba($kismat, .1);
      }
    }

    .submenu-label-one {
      
      background-color: $light;
      @include transition;
      

      &:not(.active) {
        max-height: 0;
        visibility: hidden;
        overflow: hidden;
        padding:  0;
      }
      &.active {
        max-height: 100vh;
        visibility: visible;
        padding: .5rem 1rem .5rem 0;
      }

      .nav-link {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-weight: 500;
        font-size: 1rem;
        padding: .75rem 3rem;
        &:hover{
          color: $kismat;
        }
      }
    }
  }
}
