<ng-container>
  <video id="videoplayer" #livevideoplayer class="video-js vjs-default-skin" controls 
  [poster]="posterurl">
    <source [src]="videourl" type="application/x-mpegURL" />
  </video>
</ng-container>

