@import '~src/assets/scss/_variables';

::ng-deep {
  .video-js {
    width: 100% !important;
    height: 100% !important;

    .vjs-big-play-button {
      top: 45% !important;
      left: 45% !important;
      line-height: 1em !important;
      height: 1.1em !important;
      width: 2em !important;
      border: 2px solid white !important;
    }

    &:hover {
      .vjs-big-play-button {
        border: 2px solid $success !important;
      }
    }
  }
}
