<select style="text-align: center;padding:10px;margin-left: 35%;" [(ngModel)]="duration" (change)="onSelect()">
    <option value="" disabled selected>Select your option</option>
    <option>30 Days</option>
    <option>Three Months</option>
    <option>Six Months</option>
    <option>One Year</option>
    <option>ALL Details</option>
</select>

<br/>
<br/>
<br/>

<div>
    <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    </style>
    
    <table *ngIf="showValues">
      <tr>
        <th>Subscription Plan</th>
        <th>Number of Subscriptions</th>
        <th>Total Revenue</th>
      </tr>
      <tr>
        <td>Regular</td>
        <td>3</td>
        <td>200$</td>
      </tr>
      <tr>
        <td>Pay Per View</td>
        <td>2</td>
        <td>100$</td>
      </tr>
    </table> 
</div>