<ngb-toast *ngFor="let toast of commonservice.toasts" [class]="toast.classname" [autohide]="true"
  [delay]="toast.delay || 5000" (hidden)="commonservice.removeToast(toast)">
  <ng-template [ngIf]="isTemplate(toast)" [ngIfElse]="text">
    <ng-template [ngTemplateOutlet]="toast.textOrTpl"></ng-template>
  </ng-template>

  <ng-template #text>{{ toast.textOrTpl }}</ng-template>
</ngb-toast>
