<nav class="navbar navbar-admin navbar-expand-lg bg-white fixed-top">
    <!-- Navbar Brand-->
    <a class="navbar-brand" href="#"><img src="./assets/imgs/logo.png" alt="HROPAL"></a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!" (click)="toggleButton()" [ngClass]="{'collapsed': toggleMenu}">
        <div class="icon"></div>
    </button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline me-auto ms-5 my-2 my-md-0">
        <div class="input-group input-group-lg input-group-search">
            <div class="input-group-text"><i class="far fa-search"></i></div>
            <input class="form-control" type="search" placeholder="Search across all content" aria-label="Search across all content" aria-describedby="btnNavbarSearch">

        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav navbar-nav-right ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item d-none d-lg-block">
            <a (click)="openUploadVideoModal()"  class="nav-link upload-video "><i class="far fa-video"></i> Content Upload</a>
        </li>
        <li class="nav-item ms-lg-4" ngbDropdown>
            <a class="nav-link icon-none notification" id="notifications" ngbDropdownToggle><i class="far fa-bell"></i> <span class="badge bg-orange">14</span></a>
            <div ngbDropdownMenu aria-labelledby="notifications" class="dropdown-menu-end">
                <button ngbDropdownItem>Action - 1</button>
                <button ngbDropdownItem>Another Action</button>
                <button ngbDropdownItem>Something else is here</button>
              </div>
        </li>
        <li class="nav-item ms-lg-4 profile" ngbDropdown>
            <a class="nav-link" id="profile-dropdown" ngbDropdownToggle>
                <div class="img">
                    <img src="./assets/imgs/avatar-1.png" alt="">
                    <span class="status online"></span>
                </div>
                <div class="text d-none d-lg-block ">
                    <h6>Kismet Admin</h6>
                    <p>Super Admin</p>
                </div>
            </a>
            <div ngbDropdownMenu aria-labelledby="profile-dropdown" class="dropdown-menu-end">
                <div class="menus row g-0">
                    <div class="col-sm-6">
                      <button ngbDropdownItem >Account & Settings</button>
                      <button ngbDropdownItem>Help & Support</button>
                      <button ngbDropdownItem (click)="logout()">Sign out</button>
                    </div>
                    <div class="col-sm-6">
                      <button ngbDropdownItem><i class="icon fi-add-circle-regular"></i>Add Admin</button>
                      <button ngbDropdownItem>Manage Admin</button>
                      <button ngbDropdownItem>Learn More</button>
                    </div>
                  </div>
              </div>
        </li>
    </ul>
</nav>
