@import '~src/assets/scss/common-variable';

.navbar-admin {
  height: $lgNavbarHeight + 1;

  .navbar-brand {
    padding-left: 2.75rem;
    img {
      height: $lpLogoHeight - .5;
    }
    @media (min-width:992px) {
      min-width: $sidemenuWidth;
      
    }
  }
  .input-group-search{
    position: relative;
    background: $light;
    border-radius: $br*2;
    height: 3rem;
    width: 25rem;
    .input-group-text{
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      border: none;
      background: transparent;
      width: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      
    }
    .form-control{
      background: transparent;
      border: none;
      border-radius: $br*2 !important;
      padding-left: 4rem;
      font-size: 1rem;

    }
  }

  .nav-link {
    cursor: pointer;
  }

  // .nav-item {
  //   display: flex;
  //   flex-direction: column;
  // }

  .upload-video {
    background: $white;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    border-radius: $br*2;
    height: 3rem;

    &:hover {
      color: $primary;
      background: lighten($primary, 70);

    }
    @media (min-width:992px) {
      margin-top: 0.35rem;
    }

  }
  .notification{
   height: 3rem;
   width: 3rem;
   position: relative;
   padding: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: $br*10;
   box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
   &:hover {
    color: $primary;
    background: lighten($primary, 70);

  }
   .badge{
     position: absolute;
     top: 0;
     right: 0;
     background: $dark;
     font-size: .5rem;
     min-width: 1.25rem;
     height: 1.25rem;
     padding: 0;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 1rem;

   }
   @media (min-width:992px) {
    margin-top: 0.35rem;
  }
  }

  .profile {
    .nav-link {
      display: flex;
      align-items: center;
      gap: 1rem;

      .text {

        h6,
        p {
          margin: 0;
        }

        h6 {
          color: $dark;
          font-size: 1rem;
          font-weight: 500;
        }

        p {
          font-size: .875rem;
          opacity: .7;
        }
      }


      .img {
        width: 2.75rem;
        height: 2.75rem;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }

}


#sidebarToggle {
  @include menuButton(0px, 0);
  position: relative;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;


  .icon {
    @include menuButtonIcon(3px, 32px);
    transform: scale(.6);

    @media (min-width:992px) {
      transform: scale(.8);
    }

    &:before {
      @include menuButtonIcon-before(3px, 32px, -10px);
      left: 0;
    }

    &:after {
      @include menuButtonIcon-after(3px, 32px, 10px);
      left: 0;
    }
  }

  @media (min-width:992px) {
    &.collapsed {
      .icon {
        transition: 0.5s;

        &:before {
          transform: rotateZ(-45deg) scaleX(0.75) translate(-10px, -5px);
        }

        &:after {
          transform: rotateZ(45deg) scaleX(0.75) translate(-10px, 5px);
        }
      }
    }
  }



  @media (max-width:992px) {
    margin: 0 3rem;

    &:not(.collapsed) {
      .icon {
        transition: 0.5s;

        &:before {
          transform: rotateZ(-45deg) scaleX(0.75) translate(-10px, -5px);
        }

        &:after {
          transform: rotateZ(45deg) scaleX(0.75) translate(-10px, 5px);
        }
      }
    }
  }


}
