<div class="card shadow-sm border-0">
  <div class="card-header bg-transparent border-0">
    <h4 class="card-title"> {{isEditMode ? 'Update Content' : 'Create Content'}} </h4>
    <h4 class="card-title" *ngIf="isEditMode">{{video?.title}}</h4>
  </div>
  <div class="card-body">
    <div class="video-details-container">
      <form novalidate [formGroup]="videoForm">
        <div class="row g-4">
          <div class="col-md-4">
            <label for="videoType" class="form-label">Content Type </label>
            <select id="videoType" class="form-control" formControlName="videoType">
              <option value="" disabled>Select Content Type</option>
              <option *ngFor="let item of types" [value]="item | lowercase">{{item | lowercase}}</option>
            </select>
            <div class="text-danger" *ngIf="videoForm.controls.videoType.hasError('required') && submitted">
              Content Type is required
            </div>
          </div>
          <div class="col-md-4">
            <label for="title" class="form-label">Content Name</label>
            <input type="text" id="title" class="form-control" placeholder="Content Name" formControlName="title">
            <div class="text-danger" *ngIf="videoForm.controls.title.hasError('required') && submitted">
              Content Name is required
            </div>
          </div>
          <div class="col-md-4">
            <label for="subTitle" class="form-label">Content Tagline</label>
            <input type="text" id="subTitle" class="form-control" placeholder="Content Tagline"
              formControlName="subTitle">
          </div>
          <div class="col-md-4">
            <label for="language" class="form-label">Language </label>
            <select id="language" class="form-control" formControlName="audioLanguage">
              <option value="" disabled>Select Language</option>
              <option *ngFor="let item of languages" [value]="item.name">{{item.name}}</option>
            </select>
            <div class="text-danger" *ngIf="videoForm.controls.audioLanguage.hasError('required') && submitted">
              Language is required
            </div>
          </div>
          <!-- 
          <div class="col-md-4" *ngIf="videoForm.get('type')?.value == 'Web Series'">
            <label for="season" class="form-label">Season</label>
            <input type="text" id="season" class="form-control" placeholder="Season" formControlName="season">
          </div>

          <div class="col-md-4" *ngIf="videoForm.get('type')?.value == 'Web Series'">
            <label for="episode" class="form-label">Episode</label>
            <input type="text" id="episode" class="form-control" placeholder="Episode" formControlName="episode">
          </div> -->

          <div class="col-md-4">
            <label for="" class="form-label">Release date </label>
            <div class="input-group input-group-kismat">
              <input class="form-control" placeholder="yyyy-mm-dd" name="releaseDate" (dateSelect)="onDateSelect($event, 'releaseDate')"
                ngbDatepicker #d="ngbDatepicker" [value]="videoForm.get('releaseDate')?.value">
              <button class="btn btn-outline-dark " (click)="d.toggle()" type="button"><i
                  class="fad fa-calendar-day"></i></button>
            </div>
            <div class="text-danger" *ngIf="videoForm.controls.releaseDate.hasError('required') && submitted">
              Release date is required
            </div>
          </div>

          <div class="col-md-4">
            <label for="" class="form-label">Kismet Release date </label>
            <div class="input-group input-group-kismat" >
              <input class="form-control" placeholder="yyyy-mm-dd" name="ottReleaseDate" (dateSelect)="onDateSelect($event, 'ottReleaseDate')"
                ngbDatepicker #od="ngbDatepicker" [value]="videoForm.get('ottReleaseDate')?.value">
              <button class="btn btn-outline-dark " (click)="od.toggle()" type="button"><i
                  class="fad fa-calendar-day"></i></button>
            </div>
            <div class="text-danger" *ngIf="videoForm.controls.ottReleaseDate.hasError('required') && submitted">
              Kismet release date is required
            </div>
          </div>

          <div class="col-12">
            <label for="description" class="form-label">Content Description</label>
            <textarea id="description" cols="30" rows="5" class="form-control" placeholder="Content Description"
              formControlName="description"></textarea>
            <div class="text-danger" *ngIf="videoForm.controls.description.hasError('required') && submitted">
              Content Description is required
            </div>
          </div>
          <div class="col-12 footer-right">
            <button type="button" class="btn btn-lg btn-outline-success"
              (click)="createVideo()">{{isEditMode ? 'Update Content' : 'Create Content'}}</button>
            <button type="button" class="btn btn-lg btn-outline-success  ms-auto" *ngIf="isEditMode"
              (click)="redirectservice.privacyAndRestriction(videoId)">Next</button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
