<div class="card mb-4 border-0 shadow-sm">
  <div class="card-header bg-transparent border-0">
    <div class="card-title">Create Admin</div>
  </div>
  <div class="card-body">

    <form [formGroup]="adminForm">
      <div class="row g-4">
        <div class="form-group col-lg-4">
          <label for="userName">UserName</label>
          <div class="input-group">
            <input type="text" class="form-control" id="UserName" placeholder="UserName" formControlName="userName">
          </div>
          <div class="text-danger" *ngIf="adminForm.controls.userName.hasError('required')  && submitted">
            UserName is required
          </div>
        </div>
        <div class="form-group col-lg-4">
          <label for="firstName">First Name</label>
          <div class="input-group">
            <input type="text" class="form-control" id="firstName" placeholder="First Name" formControlName="firstName">
          </div>
          <div class="text-danger" *ngIf="adminForm.controls.firstName.hasError('required')  && submitted">
            First Name is required
          </div>
        </div>
        <div class="form-group col-lg-4">
          <label for="lastName">Last Name</label>
          <div class="input-group">
            <input type="text" class="form-control" id="lastName" placeholder="Last Name" formControlName="lastName">
          </div>
          <div class="text-danger" *ngIf="adminForm.controls.lastName.hasError('required')  && submitted">
            Last Name is required
          </div>
        </div>
        <div class="form-group col-lg-4">
          <label for="email">Email</label>
          <div class="input-group">
            <input type="text" class="form-control" id="email" placeholder="Email" formControlName="email">
          </div>
          <div class="text-danger" *ngIf="adminForm.controls.email.hasError('required')  && submitted">
            Email is required
          </div>
        </div>
        <div class="form-group col-lg-4">
          <label for="password">Password</label>
          <div class="input-group">
            <input type="text" class="form-control" id="password" placeholder="Password" formControlName="password">
          </div>
          <div class="text-danger" *ngIf="adminForm.controls.password.hasError('required')  && submitted">
            Password is required
          </div>
        </div>
        <div class="form-group col-lg-4">
          <label for="mobileNumber">Mobile Number</label>
          <div class="input-group">
            <input type="text" class="form-control" id="mobileNumber" 
            placeholder="Mobile Number" formControlName="mobileNumber"
            [OnlyNumber]="true" [maxlength]="10" [minlength]="10">
          </div>
          <div class="text-danger" *ngIf="adminForm.controls.mobileNumber.hasError('required')  && submitted">
            Mobile Number is required
          </div>
        </div>

      </div>
      <div class="buttons d-flex justify-content-end mt-4">
        <button type="cancel" class="btn btn-ott-submit btn-lg btn-light me-2" (click)="cancle()">Cancel</button>
        <button type="submit" class="btn btn-ott-submit btn-lg btn-primary text-warning ms-2"
          (click)="createAdmin()">
          <i class="fa fa-plus" ></i> Add Admin</button>
      </div>


    </form>
  </div>
</div>

<div class="mt-4">
  <kismat-data-table title="Video Section" [data]="admins" [headers]="adminHeaders" 
  [editbtn]="false" (onSelectItemForDelete)="onSelectItemForDelete($event)">
  </kismat-data-table>
</div>
