<div class="modal-header">
  <h4 class="modal-title">Sign Up</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modalservice.closeModal('Cross click')">
    <i class="icon fi-dismiss-filled"></i>
  </button>
</div>
<div class="modal-body pt-4">
  <form [formGroup]="signUpForm" (ngSubmit)="onRegister()">
    <div class="row">
      <div class="form-group col-lg-6">
        <!-- <label for="fname">First Name</label> -->
        <div class="input-group input-group-lg">
          <span class="input-group-text" id="basic-addon1"><i class="fi-person-filled"></i></span>
          <input type="text" class="form-control" id="fname" placeholder="First Name" formControlName="firstName">
        </div>
        <div class="text-danger" *ngIf="signUpForm.controls.firstName.hasError('required') && submitted">
          First Name is required
        </div>
      </div>

      <div class="form-group col-lg-6">
        <!-- <label for="lname">Last Name</label> -->
        <div class="input-group input-group-lg">
          <span class="input-group-text" id="basic-addon1"><i class="fi-person-filled"></i></span>
          <input type="text" class="form-control" id="lname" placeholder="Last Name" formControlName="lastName">
        </div>
        <div class="text-danger" *ngIf="signUpForm.controls.lastName.hasError('required') && submitted">
          Last Name is required
        </div>
      </div>
      <div class="form-group col-lg-6">
        <!-- <label for="lname">User Name</label> -->
        <div class="input-group input-group-lg">
          <span class="input-group-text" id="basic-addon1"><i class="fi-person-filled"></i></span>
          <input type="text" class="form-control" id="lname" placeholder="User Name" formControlName="userName">
        </div>
        <div class="text-danger" *ngIf="signUpForm.controls.userName.hasError('required') && submitted">
          User Name is required
        </div>
      </div>

      <div class="form-group col-lg-6">
        <!-- <label for="email">Email</label> -->
        <div class="input-group input-group-lg">
          <span class="input-group-text" id="basic-addon1"><i class="fi-mail-filled"></i></span>
          <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email">
        </div>
        <div class="text-danger" *ngIf="signUpForm.controls.email.hasError('required') && submitted">
          Email is required
        </div>
      </div>

      <div class="form-group col-lg-6">
        <!-- <label for="password">Password</label> -->
        <div class="input-group input-group-lg">
          <span class="input-group-text" id="basic-addon1"><i class="fi-lock-closed-filled"></i></span>
          <input type="Password" class="form-control" id="password" placeholder="Password" formControlName="password">
        </div>
        <div class="text-danger" *ngIf="signUpForm.controls.password.hasError('required') && submitted">
          Password is required
        </div>
      </div>
      <div class="form-group col-lg-6">
        <!-- <label for="phone">Mobile Number</label> -->
        <div class="input-group input-group-lg">
          <span class="input-group-text" id="basic-addon1"><i class="fi-call-filled"></i></span>
          <input type="text" class="form-control" style="padding: 8px 0px 8px 50px;" formControlName="countrycode"
            placeholder="code">
          <input type="tel" class="pl-0 form-control" style="padding: 22px !important;" id="phone"
            placeholder="Mobile No" formControlName="mobileNumber" minlength="10" maxlength="10" [OnlyNumber]="true">
        </div>
        <div class="text-danger" *ngIf="signUpForm.controls.mobileNumber.hasError('required') && submitted">
          Mobile Number is required
        </div>
      </div>

    </div>


    <div class="d-grid buttons">
      <button type="submit" class="btn btn-outline-warning btn-rounded">Sign Up</button>
    </div>
  </form>
  <div class="already-account">
    <p>Already have Account?</p>
    <a class="account" (click)="modalservice.openSigninModal()">Login</a>
  </div>
</div>
<!-- <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Cross click')">Save</button>
    </div> -->
