@import '~src/assets/scss/common-variable';

::ng-deep {
  .modal-content {
    background: rgb(0 0 0 / 0%) !important;
    border: 2px solid #746431;
    border-width: initial;
  }
}

.buttons {
  margin-top: 1rem !important;

  .btn {
    border-color: rgba($warning, .3);
    height: 2.5rem;
    border-radius: $br*3;
    font-size: 1rem;
    border-width: initial;
    width: 40%;
    margin: auto;

    @media (min-width:992px) {
      font-size: 1.3rem;
      height: 3rem;
    }
  }
}


.form-group {
  margin-bottom: 1rem;

  label {
    color: $white;
    font-size: 1rem;
    margin-bottom: .25rem;
    opacity: .8;
  }

  .input-group {
    height: 3rem;
    background-color: $white;
    position: relative;
    border-radius: $br*3;

    .input-group-text {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
      width: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background: transparent;
      border: none;
      color: rgba($dark, .3);
      font-size: 1.5rem;
    }

    .form-control {
      padding-left: 3.25rem;
      background: transparent;
      border: none;
      font-size: 1rem;
      height: 3.2rem !important;
    }
  }

  @media (min-width:992px) {
    margin-bottom: 1.5rem;

    label {
      font-size: 1.25rem;
      margin-bottom: .5rem;
      opacity: 1;
    }

    .input-group {
      height: 3.2rem;
      font-size: 1.5rem;

      .input-group-text {
        width: 3.2rem;
      }

      .form-control {
        padding-left: 4rem;
        font-size: 1.25rem;
        height: 3.2rem !important;
      }
    }
  }
}


.already-account {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  justify-content: center;

  p {
    color: $secondary;
    font-size: 1.25rem;
    margin: 0;
  }

  .account {
    font-size: 1.25rem;
    text-decoration: none;
    font-weight: 500;
    color: $white;
    cursor: pointer;
    margin-left: 4px;
    &:hover {
      text-decoration: underline;
    }
  }
}

.mobile {
  flex: 0 0 auto;
  width: 50%;
}

.phone {
  flex: 0 0 auto;
  width: 75%;
}

.pl-0 {
  padding-left: 0px !important;
}
