<!-- <ng-container *ngIf="showAddVideo">
  <kismat-add-movie></kismat-add-movie>
</ng-container> -->

<div class="card card-table shadow-sm border-0 h-100">
  <div class="card-header bg-transparent border-0">
    <div class="header-left">
      <h3 class="card-title">Content</h3>
    </div>
    <div class="header-right"></div>
  </div>
  <div class="card-body p-0">
      <table class="table table-kott m-0">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Content Name</th>
            <th scope="col">Content Type</th>
            <th scope="col">Release Date</th>
            <th scope="col">Update</th>
            <th scope="col">Release</th>
            <th scope="col">Uploads</th>
            <th scope="col">Cast And Crew</th>
            <th scope="col">More</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of videos; index as i">
            <tr>
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ item.title }}</td>
              <td>
                <ng-container
                  *ngIf="(item.videoType === 'series' || item.videoType === 'web series' || item.videoType === 'tv shows'); else defaultVideotype">
                  <div ngbDropdown (openChange)="getSeasons($event, item)">
                    <button class="btn seasons-drop" id="dropdownBasic1_{{i}}"
                      ngbDropdownToggle>{{item.videoType}}</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1_{{i}}">
                      <button ngbDropdownItem *ngFor="let season of existedSeasons"
                        (click)="selectSeason(season)">{{season.title}}</button>
                      <button ngbDropdownItem (click)="newSeason(item)"> <i class="fa fa-plus"></i> Add New</button>
                    </div>
                  </div>
                </ng-container>
                <ng-template #defaultVideotype>
                  {{item.videoType}}
                </ng-template>
              </td>

              <td>{{ item.releaseDate | date: 'dd/MM/yyyy'}}</td>
              <td>
                <button class="btn btn-outline-success btn-sm" (click)="updateVideo(item)">update</button>
              </td>
              <td>
                <button class="btn btn-outline-success btn-sm" (click)="privacy(item)">Release</button>
              </td>
              <td>
                <button class="btn btn-outline-success btn-sm" (click)="uploadingVidoes(item)">Uploads</button>
              </td>
              <td>
                <button class="btn btn-outline-success btn-sm" (click)="castAndCrew(item)">Cast And Crew</button>
              </td>
              <td>
                <button class="btn btn-outline-success btn-sm " (click)="showMore(item)">More</button>
              </td>
              <td>
                <button class="btn btn-outline-danger btn-sm " title="Delete" (click)="deleteVideo(item)"> <i
                    class="fad fa-trash"></i></button>
              </td>
            </tr>
            <ng-container *ngIf="item.showmore">
              <tr class="bg-light">
                <td colspan="10">
                  <div class="row py-2 px-4">
                    <div class="col-lg-6 ">
                      <h3><b>Title : </b> {{item.title}}</h3>
                      <h5><b>Sub Title : </b> {{item.subTitle}}</h5>
                      <div>
                        <b> Country Origin : </b> {{item.countryOrigin}}
                      </div>
                      <div>
                        <b>Content Length : </b> {{item.movieLength}}
                      </div>
                      <div>
                        <b>Release Date : </b> {{item.releaseDate | date: 'dd/MM/yyyy'}}
                      </div>

                    </div>
                    <div class="col-lg-6">
                      <div>
                        <b>Rating : </b> {{item.rating}}
                      </div>
                      <div>
                        <b>Downloads: </b> {{item.downloads || 0}}
                      </div>
                      <div>
                        <b>Views: </b> {{item.videoViews || 0}}
                      </div>
                      <div>
                        <b>Is Age Restricted: </b> {{item.isAgeRestricted}}
                      </div>
                      <div>
                        <b>Is Its Made For Kids: </b> {{item.isItsMadeForKids}}
                      </div>
                      <div>
                        <b>Is Show In Carousel: </b> {{item.isShowInCarousel}}
                      </div>
                      <div>
                        <b> Genres : </b> {{item.genres}}
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <div class="desc">
                        <p><b>About :</b> {{item.description}}</p>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3">
                      <div class="card content-video-card">
                        <div class="card-body">
                          <ng-container *ngIf="!item?.videoSource?.videoUrl">
                            Please Upload Video
                          </ng-container>
                          <ng-container *ngIf="item?.videoSource?.videoUrl">
                            <kismat-video [video]="{name: item.title , src : item?.videoSource?.videoUrl,
                            img : ''}" [showOverlayPlay]="true">
                            </kismat-video>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="card content-video-card">
                        <div class="card-body">
                          <ng-container *ngIf="!item?.videoSource?.trailerUrl">
                            Please Upload Trailer
                          </ng-container>
                          <ng-container *ngIf="item?.videoSource?.trailerUrl">
                            <kismat-video [video]="{name: item.title , src : item?.videoSource?.trailerUrl,
                            img : ''}" [showOverlayPlay]="true">
                            </kismat-video>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="card content-video-card">
                        <div class="card-body">
                          <ng-container *ngIf="!item?.videoSource?.thumbnailUrl">
                            Please Upload Thumbnail
                          </ng-container>
                          <ng-container *ngIf="item?.videoSource?.thumbnailUrl">
                            <kismat-video [video]="{name: item.title , src : item?.videoSource?.thumbnailUrl,
                            img : item?.videoSource?.thumbnailUrl}">
                            </kismat-video>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="card content-video-card">
                        <div class="card-body">
                          <ng-container *ngIf="!item?.videoSource?.verticalThumbnail">
                            Please Upload Vertical Thumbnail
                          </ng-container>
                          <ng-container *ngIf="item?.videoSource?.verticalThumbnail">
                            <kismat-video [video]="{name: item.title , src : item?.videoSource?.verticalThumbnail,
                            img : item?.videoSource?.verticalThumbnail}">
                            </kismat-video>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row py-2">
                    <div class="col-lg-12">
                      <kismat-actors-list [actors]="videoActors"></kismat-actors-list>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-container>
          </ng-container>
        </tbody>
      </table>
  </div>
</div>
