@import '~src/assets/scss/common-variable';

// .progress-container {
//     .header {
//       display: flex;
//       align-items: center;
//       justify-content: space-between;
//       gap: 2rem;
//       margin-bottom: .5rem;

//       .title {
//         margin: 0;
//         font-size: 1rem;
//         font-weight: 500;
//       }

//       span {
//         color: lighten($darkBg, 50);
//         font-size: .75rem;
//       }
//     }

//     .progress {
//       height: .5rem;
//       border-radius: 1rem;
//     }

//     @media (min-width:992px) {
//       min-width: 300px;
//     }
//   }

.content-video-card {
  height: 200px;
  overflow: auto;
  object-fit: fill;

}

::ng-deep {
  .seasons-drop {
    padding: 0;
    display: flex;
    align-items: center;
  }

  .dropdown-menu {
    padding: 0px !important;
  }

  .dropdown-item {
    min-height: 35px !important;
    padding: 0.2rem 1rem !important;
    font-size: 1rem !important;
  }
}
