<div class="row">
  <div class="col-12 mb-3">
    <div class="card" *ngIf="uploadContent">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <h3>{{video?.title}}</h3>
          <button type="button" class="btn-close" aria-label="Close" (click)="closeContenUpload()"></button>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <kismat-file-uploads title="Upload Video" [videoId]="selectedItem.episodeId" [uploadType]="'Episode'"
              [video]="{name:video?.title, src:video?.src , img:''}" (response)="fileUploaded($event)"
              [isEpisodeIdOrVideoId]="'episodeId'">
            </kismat-file-uploads>
          </div>
        </div>
      </div>

    </div>

    <app-add-episodes *ngIf="!uploadContent" (onCreated)="refreshEpisodes()"></app-add-episodes>
  </div>
</div>


<div class="mb-2">
  <kismat-data-table title="Episodes" [data]="episodes" [headers]="tableHeaders"
    (onSelectItemForEdit)="onSelectItemForEdit($event)" (onClickButton)="selectButton($event)">
  </kismat-data-table>
</div>
