<div class="modal-header pb">
    <!-- <h5 class="modal-title" *ngIf="!showLoginForm">Login to continue</h5> -->
    <!-- <h5 class="modal-title" *ngIf="showLoginForm">Login</h5> -->
    <h5 class="modal-title">{{title | titlecase}}</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalservice.closeModal('Cross click')">
      <i class="icon fi-dismiss-filled"></i>
    </button>
</div>
<div class="modal-body pb row d-flex">
    <div class="col-4" *ngFor="let item of data | async">
        <div class="slide-img">
            <kismat-video
              [video]="{name: item?.title, src : item?.videoSource?.videoUrl, img :item?.videoSource?.thumbnailUrl }"
              [mouseoverPlayPauseEvents]="commonservice.isLoggedIn()">
            </kismat-video>
          </div>
          <div class="card-body text-style">
            <h5>{{item.title}}</h5>
            <p>{{item.description}}</p>
            <div class="actions">
              <div class="rating-stars">
                <ngb-rating [rate]="item?.rating || 0" [max]="5" [readonly]="true"> </ngb-rating>
              </div>

              <div class="buttons row">
                <button class="btn btn-color col-2"><i class="icon fi-share-android-filled"></i></button>
                <button class="btn btn-color col-2"><i class="icon fi-heart-regular"></i></button>
                <button class="btn btn-color col-2"><i class="icon fi-arrow-download-filled"></i></button>
                <button class="btn btn-color col-2"><i class="icon fi-thumb-like-regular"></i></button>
                <button class="btn btn-color col-2"><i class="icon fi-thumb-dislike-regular"></i></button>
              </div>
            </div>
        </div>
    </div>
</div>
  
  