<app-home-header></app-home-header>
<app-top-ten></app-top-ten>
<!-- <app-latest-trending></app-latest-trending> -->
<!-- <app-continue-watching></app-continue-watching> -->

<!-- <kismet-genres></kismet-genres> -->
<kismet-sections></kismet-sections>

<app-subscribe-plan></app-subscribe-plan>
<app-footer></app-footer>
