<div class="text-center  py-lg-5 py-4">
  <h4>MAKE IT AN KISMET MOVIE NIGHT</h4>
  <h5>Enjoy Acclaimed Movies and Blockbuster Hits at No Extra Cost</h5>
</div>
<div class="d-flex movie-style hide-scrollbar">
  <img src="./assets/imgs/death-on-the-nile-1200x675_074c0.jpg" alt="" />
  <img src="./assets/imgs/moon-800x800426e.jpg" alt="" />
  <img src="./assets/imgs/king-richard-1200x67574c0.jpg" alt="" />
  <img src="./assets/imgs/fast-and-furious-6-800x800426e.jpg" alt="" />
</div>
<!-- <div class="text-center pt-lg-5 pt-4">
  <h5>Discover More Entertainment to Love</h5>
  <div class="d-flex discover-style  hide-scrollbar">
    <img src="./assets/imgs/content-modal-cover-originals_13474.png" alt="" />
    <img src="./assets/imgs/content-modal-cover-tv_13474.png" alt="" />
    <img src="./assets/imgs/content-modal-cover-movies_23474.png" alt="" />
    <img src="./assets/imgs/content-modal-cover-family_13474.png" alt="" />
  </div>
</div> -->
