h4 {
  align-items: center;
  color: #34cc66;
  display: flex;
  justify-content: center;
  letter-spacing: .2rem;
  margin: 0 0 1rem 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  letter-spacing: .2rem;

  &::after {
    border-image-source: linear-gradient(to right, #34cc66, transparent);
    margin: 0 0 0 20px;
    border-image-slice: 1;
    border-top: 3px solid;
    content: '';
    flex: 1 0 20px;
  }

  &::before {
    border-image-source: linear-gradient(to left, #34cc66, transparent);
    margin: 0 20px 0 0;
    border-image-slice: 1;
    border-top: 3px solid;
    content: '';
    flex: 1 0 20px;
  }
}

div {
  background-color: black;
}

h5 {
  margin-bottom: 0rem;
  color: white;
  font-size: 1.4rem !important;
}

.text-center {
  text-align: center !important;
  padding: 1rem;
}

.movie-style {
  justify-content: center;
  overflow: hidden;

  img {
    height: 250px;
    width: 25%;
    padding-right: 2rem;
    transform: translate(10%, 11%);
  }
}

.discover-style {
  justify-content: center;
  padding-top: 30px !important;
  
  img {
    height: 400px;
    width: 280px;
    padding-right: 2rem;
    //transform: translate(125%, 10%);
  }
}

.d-flex {
  display: flex !important;
  padding-bottom: 10px;
}


@media screen and (max-width: 768px) {
  .movie-style {
    justify-content: start;
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;

    img {
      width: 65% !important;
      padding-right: 0.4rem;
    }
  }

  .discover-style {
    justify-content: start;
    overflow-y: hidden;
    overflow-x: auto;
    padding-top: 10px !important;

    img {
      height: 300px;
      width: 65%;
      padding-right: 0.4rem;
    }
  }



}
