<header [class.fullHeight]="fullHeight">
  <swiper [config]="swiperSlidesConfig" #swiperContainer [virtual]="true" class="swiper-header">
    <ng-template swiperSlide *ngFor="let item of carousels; let i = index">

      <div class="slide-content">
        <div class="slide-content-bg-effect"></div>
        <div class="slide-img" *ngIf="swiperContainer.swiperRef.activeIndex == i" [tabindex]="i">
          <kismat-video [video]="{name: item.title, src : item?.videoSource?.trailerUrl,
          img : item?.videoSource?.hthumbnail}" [autoplay]="swiperContainer.swiperRef.activeIndex == i"
            [videoFocusOut]="videoFocusOut" [muted]="true">
          </kismat-video>
        </div>


        <!-- <img [src]="item.img" [alt]="item.tags" [title]="item.tags"> -->
        <div class="age-range">+18</div>
        <div class="content">
          <h1>{{item.title}}</h1>
          <p class="description">
            <span class="desc-content"> {{item?.description}} </span>
            <br> <a href="javascript:void(0)" class="read-more text-warning"
              *ngIf="item?.description?.length > 200">Read
              More</a></p>

          <div class="actions">
            <div class="action-left" style="margin-bottom: 60px;">
              <!-- //Director Text-->
              <!-- <div class="director"><span>Director:</span> Aijaz Khan</div> -->
              <app-player-actions [videoId]="item.id" [flag]="true" [viewMore]="true" [showlove]="true">
              </app-player-actions>
            </div>
            <div class="action-right">
              <button class="btn btn-primary" (click)="redirectservice.preview(item.id)">
                <i class="fas fa-solid fa-play"></i> Play</button>
            </div>

          </div>

          <!-- // drame,comedy buttons  -->
          <!-- <div class="tags">
            <a class="tag" *ngFor="let item of ['Drama','Comedy','1h 47m','2013']">{{item}}</a>
          </div> -->

        </div>
      </div>
    </ng-template>
  </swiper>
</header>
