@import '~src/assets/scss/common-variable';

header {
  min-height: 600px;
  height: calc(100vh - #{$lgNavbarHeight});
  position: relative;
  background: darken($dark, 2);

  .swiper {
    min-height: 600px;
    height: calc(100vh - #{$lgNavbarHeight});
    overflow: hidden;

    .slide-content {
      width: 100%;
      height: 100%;
      // padding-top: $lgNavbarHeight -2;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      overflow-y: auto;
      position: relative;
      display: flex;
      align-items: center;

      .slide-content-bg-effect {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: linear-gradient(180deg, rgba($dark, 0) 0%, rgba($dark, 0.92) 100%, $dark 100%);
      }

      .slide-img {
        position: absolute;
        height: 100%;
        width: 100%;
        display: block;
        object-fit: cover;
        border-radius: $br*3;
      }


      .age-range {
        position: absolute;
        left: 0;
        top: 100px;
        background: linear-gradient(90deg, rgba($dark, 0) 0%, rgba($dark, 0.82) 100%, $dark 100%);
        color: $warning;
        padding: .5rem 1rem .5rem 2rem;
        font-weight: 600;
        font-size: 1.25rem;
        border-right: 2px solid $warning;

        @media (min-width:992px) {
          top: inherit;
          bottom: 300px;
        }
      }

      &:before {
        @include pcover;
        content: '';
        background: rgba($dark, .4);
      }

      .content {
        // margin-top: 2rem;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 2;
        max-width: 990px;
        width: 100%;
        // background: linear-gradient(90deg,rgba($dark, 0) 0%, rgba($dark, 0.82) 100%, $dark 100%);
        padding: 0rem 6rem !important;

        .actions {
          display: flex;

          .action-left {
            flex: 1 1 auto;

            .buttons {
              display: flex;
              align-items: center;
              gap: 1rem;
              margin-top: 2rem;

              .btn {
                color: $white;
                font-size: 1.5rem;
                padding: 0;
                @include transition;
                opacity: .7;
                transform: scale(1);

                &:hover {
                  opacity: 1;
                  transform: scale(1.15);
                }
              }
            }
          }

          .action-right {
            .btn {
              border-color: rgba($warning, .5);
              color: $warning;
              display: flex;
              align-items: center;
              gap: 1rem;
              padding: .5rem 2rem;
              font-size: 1.5rem;
              border-radius: $br*3;
              margin-top: 1rem;
            }
          }
        }

        .tags {
          display: flex;
          align-items: center;
          gap: 1rem;
          margin-top: 1rem;
          flex-wrap: wrap;

          a {
            background: #BEBFC4;
            color: $dark;
            text-decoration: none;
            border-radius: $br*2;
            padding: .4rem 1.5rem;
          }
        }

        @media (min-width:992px) {
          padding: 2rem 6rem 4rem;

          .actions {
            .action-right {
              .btn {
                padding: 0.6rem 3rem;
                gap: 1rem;
                font-size: 1.3rem;
              }
            }
          }

          .tags {
            margin-top: 2rem;
          }
        }

        h1 {
          font-weight: 900;
          color: $warning;
          font-size: 2.5rem;
        }

        p {
          color: $white;
          font-size: 1.25rem;
          font-weight: 300;
          text-shadow: 0px 1px 3px rgb(0, 0, 0);

          span {
            cursor: default;
            pointer-events: none;
          }
        }
        .description {
          font-size: 1.3rem;
          line-height: 1;
          // width: 50%;
          margin-bottom: 0px;
    
          .desc-content {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            line-height: 1.5;
          }
        }

        .director {
          font-style: italic;
          font-size: 1.5rem;
          color: $white;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          margin: 0;

          span {
            font-weight: 600;
          }
        }

        .rating-stars {
          color: $warning;
        }

        @media (min-width:992px) {

          // margin-top: 3rem;
          h1 {
            font-size: 2rem;
            margin-bottom: 1rem;
          }

          p {
            font-size: 1rem;
            margin-bottom: 2rem;
          }

          .director {
            font-size: 1.7rem;
            gap: 1rem;
          }
        }
      }

      @media (min-width:992px) {
        // padding-top: $lgNavbarHeight;
      }

    }

  }

  &.fullHeight {
    height: 100vh;

    .swiper {
      height: 100vh;
    }
  }

  @media (min-width:992px) {
    height: calc(100vh - #{$lgNavbarHeight + 3});
    min-height: 550px;

    .swiper {
      height: calc(100vh - #{$lgNavbarHeight + 3});
      min-height: 550px;
    }

    &.fullHeight {
      min-height: 600px;
      height: 90vh;

      .swiper {
        min-height: 600px;
        height: 90vh;
      }
    }
  }
}
