<div class="card mb-2">
  <div class="card-header">
    <h3 class="card-title text-center mb-0">Add Cast</h3>
  </div>
  <div class="card-body">

    <div class="type-cast">
      <div class="type-cast-form d-flex justify-content-center">
        <form [formGroup]="typeCastForm" (ngSubmit)="typeCast()">

          <div class="row p-3">
            <div class="form-group col-lg-6">
              <label for="name">Name</label>
              <div class="input-group ">
                <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name">
              </div>
              <div class="text-danger" *ngIf="typeCastForm.controls.name.hasError('required') && submitted">
                Name is required
              </div>
            </div>

            <div class="form-group col-lg-6">
              <label for="profileDP">Profile DP</label>
              <div class="input-group ">
                <input type="file" class="form-control" id="profileDP" placeholder="Profile DP"
                  formControlName="profileDP">
              </div>
              <div class="text-danger" *ngIf="typeCastForm.controls.profileDP.hasError('required') && submitted">
                Profile DP is required
              </div>
            </div>

            <div class="form-group col-lg-6">
              <label for="dob">DOB</label>
              <div class="input-group ">
                <input class="form-control" placeholder="yyyy-mm-dd" id="dob" formControlName="dob" name="dob"
                  ngbDatepicker #d="ngbDatepicker">
                <button class="btn btn-outline-secondary fi-calendar-ltr-filled" (click)="d.toggle()"
                  type="button"></button>
              </div>
              <div class="text-danger" *ngIf="typeCastForm.controls.dob.hasError('required') && submitted">
                DOB is required
              </div>
            </div>


            <div class="form-group col-lg-6">
              <label for="castedIn">CastedIn</label>
              <div class="input-group ">
                <select class="form-control form-select" aria-label="Default select" id="castedIn"
                  formControlName="castedIn">
                  <option value="movie1" selected>Movie1</option>
                  <option value="movie2">Movie2</option>
                </select>
              </div>
              <div class="text-danger" *ngIf="typeCastForm.controls.castedIn.hasError('required') && submitted">
                CastedIn is required
              </div>
            </div>

            <div class="form-group col-lg-12">
              <label for="description">Description</label>
              <div class="input-group ">
                <textarea type="text" class="form-control" id="description" placeholder="Description"
                  formControlName="description"></textarea>
              </div>
              <div class="text-danger" *ngIf="typeCastForm.controls.description.hasError('required') && submitted">
                Description is required
              </div>
            </div>
          </div>
          <div class="float-end buttons mx-2">
            <button type="submit" class="btn btn-danger  mx-2">Cancel</button>
            <button type="submit" class="btn btn-primary text-warning mx-2">Add</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
