.type-cast{
    .header {
        font-weight: 600;
    }
    .form-group {
        margin-bottom: 1rem;
        label {
            font-size: 1rem;
            margin-bottom: 0.25rem;
        }
    }
}