@import '~src/assets/scss/common-variable';

::ng-deep {
  .modal-content {
    background: rgb(0 0 0 / 0%) !important;
    border: 2px solid #746431;
    border-width: initial;
  }
}

.buttons {
  .btn {
    border-color: rgba($warning, .3);
    height: 2.5rem;
    border-radius: $br*3;
    font-size: 1rem;
    border-width: initial;
    width: 50%;
    margin: auto;

    @media (min-width:992px) {
      font-size: 1.3rem;
      height: 3rem;
    }
  }
}

.login-type {
  margin-bottom: 4rem;

  .or {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    color: $white;
    font-size: 1.5rem;

    @media (min-width:992px) {
      margin: 2rem 0;
    }
  }

  .input-group {
    border-bottom: 1px solid $warning;

    .btn {
      background: transparent;
      border: none;
      border-inline-end: 1px solid $warning;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0;
      font-size: 1rem;
      margin-bottom: .5rem;
    }

    .form-control {
      background: transparent;
      border: none;
      color: $white;
      font-size: 1rem;
      padding-left: 1rem;
      padding-right: 1rem;
      margin-bottom: .5rem;
      box-shadow: none;
      height: 3.2rem !important;
    }

    @media (min-width:992px) {
      .btn {
        font-size: 2rem;
        margin-bottom: 1rem;
      }

      .form-control {
        font-size: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        margin-bottom: 1rem;
        height: 3.2rem !important;
      }
    }
  }
}

.login-form {
  margin-bottom: 1.5rem;

  .form-group {
    margin-bottom: 1rem;

    label {
      color: $white;
      font-size: 1rem;
      margin-bottom: .25rem;
      opacity: .8;
    }

    .input-group {
      height: 3.2rem !important;
      background-color: $white;
      position: relative;
      border-radius: $br*3;

      .input-group-text {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        width: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        border: none;
        color: rgba($dark, .3);
        font-size: 1.5rem;
      }

      .form-control {
        padding-left: 3.25rem;
        background: transparent;
        border: none;
        font-size: 1rem;
        height: 3.2rem !important;
      }
    }

    @media (min-width:992px) {
      margin-bottom: 1.5rem;

      label {
        font-size: 1.25rem;
        margin-bottom: .5rem;
        opacity: 1;
      }

      .input-group {
        height: 3.2rem;
        font-size: 1.5rem;

        .input-group-text {
          width: 3.2rem;
        }

        .form-control {
          padding-left: 4rem;
          font-size: 1.25rem;
          height: 3.2rem !important;
        }
      }
    }
  }

  .buttons {
    margin-top: 1rem;
    margin-bottom: 1.5rem;

    @media (min-width:992px) {
      margin-top: 1.5rem;
      margin-bottom: 1rem;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .forgot-password {
      color: $white;
      font-size: 1rem;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    @media (min-width:992px) {
      .forgot-password {
        font-size: 1.25rem;
      }
    }
  }


  .new-account {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    justify-content: center;

    p {
      color: $secondary;
      font-size: 1.25rem;
      margin: 0;
    }

    .account {
      font-size: 1.25rem;
      text-decoration: none;
      font-weight: 500;
      color: $white;
      cursor: pointer;
      margin-left: 4px;
      &:hover {
        text-decoration: underline;
      }
    }
  }

}
