<div class="modal-header">
  <!-- <h5 class="modal-title" *ngIf="!showLoginForm">Login to continue</h5> -->
  <!-- <h5 class="modal-title" *ngIf="showLoginForm">Login</h5> -->
  <h5 class="modal-title">Login</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="modalservice.closeModal('Cross click')">
    <i class="icon fi-dismiss-filled"></i>
  </button>
</div>
<div class="modal-body">
  <div class="login-form">
    <form [formGroup]="signInForm" (ngSubmit)="onSignIn()">
      <div class="form-group">
        <!-- <label for="username">User Name</label> -->
        <div class="input-group">
          <span class="input-group-text" id="basic-addon1"><i class="fi-person-filled"></i></span>
          <input type="text" class="form-control" id="username" placeholder="User Name" formControlName="username">
        </div>
        <div class="text-danger" *ngIf="signInForm.controls.username.hasError('required') && submitted">
          User Name is required
        </div>
      </div>

      <div class="form-group">
        <!-- <label for="password">Password</label> -->
        <div class="input-group">
          <span class="input-group-text" id="basic-addon1"><i class="fi-lock-closed-filled"></i></span>
          <input type="Password" class="form-control" id="password" placeholder="Password" formControlName="password">
        </div>
        <div class="text-danger" *ngIf="signInForm.controls.password.hasError('required') && submitted">
          Password is required
        </div>

      </div>

      <div class="actions">
        <div class="form-check form-check-odark">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
          <label class="form-check-label" for="flexCheckChecked">
            Remember me
          </label>
        </div>
        <a (click)="modalservice.forgotPasswordModal()" class="forgot-password">Forgot Password?</a>
      </div>


      <div class="d-grid buttons">
        <button type="submit" class="btn btn-outline-warning btn-rounded">Sign In</button>
      </div>

      <div class="new-account">
          <p>New to Kismet?</p>
          <a class="account" (click)="modalservice.openSignupModal()">Sign up Now</a>
      </div>
    </form>
  </div>
</div>
<!-- <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Cross click')">Save</button>
  </div> -->
