<ng-container *ngFor="let item of sections; index as i; first as first; last as last">
  <kismet-specials [genre]="item.sectionName" title="{{item.sectionName}}" [noPaddingBottom]="first"
    [noPadding]="!first && !last" [noPaddingTop]="last"></kismet-specials>
</ng-container>
