@import '~src/assets/scss/common-variable';

.buttons {
  .btn {
    border-color: rgba($warning, .3);
    height: 3rem;
    border-radius: $br*3;
    font-size: 1rem;

    @media (min-width:992px) {
      font-size: 2rem;
      height: 4rem;
    }
  }
  .resend-otp{
      font-size: 1.25rem;
      font-weight: 500;
      color: $white;
      text-decoration: none;
      @include transition;
      &:hover{
        color: $success;
      }
  }
}


.form-group {
  margin-bottom: 1rem;

  label {
    color: $white;
    font-size: 1rem;
    margin-bottom: .25rem;
    opacity: .8;
  }

  .input-group {
    height: 3rem;
    background-color: $white;
    position: relative;
    border-radius: $br*3;

    .input-group-text {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      z-index: 1;
      width: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background: transparent;
      border: none;
      color: rgba($dark, .3);
      font-size: 1.5rem;
    }

    .form-control {
      padding-left: 3.25rem;
      background: transparent;
      border: none;
      font-size: 1rem;
    }
  }

  @media (min-width:992px) {
    margin-bottom: 1.5rem;

    label {
      font-size: 1.25rem;
      margin-bottom: .5rem;
      opacity: 1;
    }

    .input-group {
      height: 3.5rem;
      font-size: 1.5rem;

      .input-group-text {
        width: 3.5rem;
      }

      .form-control {
        padding-left: 4rem;
        font-size: 1.25rem;
      }
    }
  }
}

.buttons {
  margin-top: 1.5rem;
  margin-bottom: 1rem;

  @media (min-width:992px) {
    margin-top: 2.5rem;
    margin-bottom: 2rem;
  }
}

.otp-input {
    display: block;
    margin-bottom: 1rem;
    @media (min-width:992px) {
        margin-bottom: 3rem;
        
    }
}
.reset-password-details{
    .buttons {
      
        @media (min-width:992px) {
          margin-top: 4.5rem;
        }
      }
}
