<div class="modal-header">
  <div class="header-left" *ngIf="!showOTPForm && !resetPass">
    <h4 class="modal-title">Forgot Password?</h4>
    <p>Enter the email address or mobile phone number associated with your account.</p>
  </div>
  <div class="header-left" *ngIf="showOTPForm && !resetPass">
    <h4 class="modal-title">OTP Varification</h4>
    <p>A one time password (OTP) is sent with the SMS text to the user's phone and email</p>
  </div>
  <div class="header-left" *ngIf="resetPass">
    <h4 class="modal-title">Reset your password</h4>
    <p>Your identity has been verified set your new password </p>
  </div>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <i class="icon fi-dismiss-filled"></i>
  </button>
</div>
<div class="modal-body pt-0">
  <div class="account-details" *ngIf="!showOTPForm">
    <div class="form-group">
      <label for="email">Email ID / phone number</label>
      <div class="input-group input-group-lg">
        <span class="input-group-text" id="basic-addon1"><i class="fi-person-filled"></i></span>
        <input type="email" class="form-control" id="email" placeholder="Email">
      </div>
    </div>
    <div class="d-grid gap-2 buttons">
      <button class="btn btn-primary btn-lg text-warning" (click)="getOtp()">Next</button>
    </div>
  </div>
  <div class="otp-verification" *ngIf="showOTPForm && !resetPass">
    <ng-otp-input [config]="{length:6}" class="otp-input"></ng-otp-input>

    <div class="buttons d-flex align-items-center">
        <a href="" class="resend-otp">Resend OTP</a>
        <div class="spacer flex-fill"></div>
        <button class="btn btn-primary btn-lg text-warning px-5" (click)="resetPassword()">Next</button>
      </div>
  </div>

  <div class="reset-password-details" *ngIf="resetPass">
    <div class="form-group">
        <label for="password">New Password </label>
        <div class="input-group input-group-lg">
          <span class="input-group-text" id="basic-addon1"><i class="fi-lock-closed-regular"></i></span>
          <input type="password" class="form-control" id="password" placeholder="New Password">
        </div>
      </div>
      <div class="form-group">
        <label for="cpassword">Confirm New Password </label>
        <div class="input-group input-group-lg">
          <span class="input-group-text" id="basic-addon1"><i class="fi-lock-closed-regular"></i></span>
          <input type="password" class="form-control" id="cpassword" placeholder="Confirm New Password">
        </div>
      </div>
    <div class="d-grid gap-2 buttons">
      <button class="btn btn-primary btn-lg text-warning" >Update Password</button>
    </div>
  </div>
</div>
