  <div class="card shadow-sm border-0 mb-4">
    <div class="card-header bg-transparent border-0">
      <div class="card-title">Create VideoType</div>
    </div>
    <div class="card-body">
      <form [formGroup]="videoForm">
        <div class="row">
          <div class="form-group col-lg-12">
            <label for="name">VideoType</label>
            <div class="input-group">
              <input type="text" class="form-control" id="videoType" placeholder="videoType" formControlName="videoType">
            </div>
            <!-- <div class="text-danger" *ngIf="videoForm.controls.videoType.hasError('required') && submitted">
              VideoType is required
            </div> -->
          </div>
        </div>
        <!-- <div class="float-end buttons mx-2">
          <button type="cancel" class="btn btn-danger  mx-2" >Cancel</button>
          <button type="submit" class="btn btn-primary text-warning mx-2">Add</button>
        </div> -->

        <div class="buttons d-flex justify-content-end mt-4">
          <button type="cancel" class="btn btn-ott-submit btn-lg btn-light">Cancel</button>
          <button type="submit" class="btn btn-ott-submit btn-lg btn-primary text-warning ms-2"><i class="fa fa-plus" ></i> Add
            </button>
        </div>
      </form>

    </div>
  </div>


  <div class="mb-2">
    <kismat-data-table title="VideoTypeList" [data]="videoType" [headers]="videoHeaders"
      (onSelectItemForEdit)="onSelectItemForEdit($event)" (onSelectItemForDelete)="onSelectItemForDelete($event)">
    </kismat-data-table>
  </div>

