@import '~src/assets/scss/common-variable';

.payment-container {
  height: calc(100vh - #{$lgNavbarHeight - 2});
  overflow-y: auto;
  background-image: $paymentPageBg;
  background-repeat: no-repeat;
  background-color: $darkBg;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 2rem 0;


  @media (min-width:992px) {
    height: calc(100vh - #{$lgNavbarHeight});
    padding: 4rem 0;
  }
}

.on-mobile {
  @media (min-width:992px) {
    display: none;
  }
}

.card-payment {
  border: none;

  background: $dark;
  border-radius: $br*6;

  .card-header {
    color: $white;
    padding: 2rem;
    border: none;
    background: transparent;

    .card-title {
      margin: 0;
      font-weight: 300;
    }

    @media (min-width:992px) {
      padding: 3rem 4rem;

      .card-title {
        font-size: 3rem;
      }
    }
  }

  .card-body {
    padding: 0;
    padding-top: 0;

    .lable-list {
      margin: 0;
      padding: 0;
      margin-bottom: 2rem;
      list-style: none;
      width: 100%;

      li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $white;
        width: 100%;
        padding: 1rem 0;

        &:not(.header) {
          &:not(.footer) {
            border-bottom: 1px solid rgba($white, .05);
          }
        }

        &.header {
          font-size: 1.5rem;
          font-weight: 700;
        }

        h5,
        h6,
        h4 {
          margin-bottom: 0;
        }

        h6 {
          color: $warning;
        }

        h4 {
          @media (min-width:992px) {
            font-weight: 300;
            font-size: 1.5rem;
          }
        }

        @media (min-width:992px) {
          min-height: 5rem;

          &.header {
            font-size: 2rem;
          }

          h5 {
            font-size: 1.5rem;
            font-weight: 400;
          }
        }
      }

      &.lable-list-value {
        cursor: pointer;
        @include transition;
        border-radius: $br*8;

        li {
          padding-left: 2rem;
          padding-right: 2rem;

          @media (min-width:992px) {
            padding-left: 4rem;
            padding-right: 4rem;
          }

          .icon {
            font-size: 2rem;
          }
        }

        &.selected {
          background: rgba($kismat, .6);

        }

        &:not(.selected) {
          &:hover {
            background: rgba($kismat, .1);
          }
        }

        .footer {
          font-size: 2rem;
          color: $warning;
          font-weight: 600;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;

          sub {
            font-size: 60%;
            font-weight: 300;
          }

          @media (min-width:992px) {
            font-size: 3rem;
          }
        }
      }

      @media (min-width:992px) {
        margin-bottom: 0;
      }
    }

    @media (min-width:992px) {
      padding: 3rem 4rem;
      padding-top: 0;
    }

    @media (max-width:992px) {
      .lable-list-value {
        li {
          h4 {
            font-size: 1.5rem;
            font-weight: 600;
          }

          h5 {
            margin-top: 0.5rem;
            font-weight: 400;
            color: rgba($white, 1);
            font-size: 1rem;
          }

          h6 {
            font-size: .875rem;
          }

          &.has-icon {
            display: flex;
            align-items: center;
            gap: 2rem;
            flex-direction: row;
            justify-content: flex-start;
          }
        }
      }
    }
  }
}

.buttons {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .btn {
    text-transform: uppercase;
    color: $warning;
    border-color: rgba($warning, .5);
    font-weight: 600;
    padding: .5rem 2rem;
  }

  @media (min-width:992px) {
    margin-top: 4rem;
    margin-bottom: 4rem;

    .btn {
      font-size: 2rem;
      padding: .5rem 4rem;
      border-radius: $br*4;
    }
  }
}
