<div class="payment-container">
  <div class="container">
    <div class="card card-payment">
      <div class="card-header">
        <h2 class="card-title">Subscribe to watch all content on Kismet</h2>
      </div>
      <div class="card-body">
        <div class="row g-lg-0">
          <div class="col-lg-6 d-none d-lg-flex">
            <ul class="lable-list">
              <li class="header"></li>
              <li>
                <h5>All content</h5>
                <h6>Movies, web series, live sports, TV, Kismet Specials</h6>
              </li>
              <li>
                <h5>Watch on TV or Laptop</h5>
              </li>
              <li>
                <h5>Ads free movies and shows (except sports)</h5>
              </li>
              <li>
                <h5>Number of devices that can be logged in</h5>
              </li>
              <li>
                <h5>Max video quality</h5>
              </li>
              <li>
                <h5>Max audio quality</h5>
              </li>
            </ul>
          </div>
          <div class="col-lg-3">
            <ul class="lable-list lable-list-value selected">
              <li class="header">Economy</li>
              <li class="has-icon">
                <i class="icon fi-dismiss-filled"></i>
                <div class="on-mobile">
                  <h5>All content</h5>
                  <h6>Movies, web series, live sports, TV, Kismet Specials</h6>
                </div>
              </li>
              <li class="has-icon">
                <i class="icon fi-dismiss-filled"></i>
                <h5 class="on-mobile">Watch on TV or Laptop</h5>
              </li>
              <li class="has-icon">
                <i class="icon fi-dismiss-filled"></i>
                <h5 class="on-mobile">Ads free movies and shows (except sports)</h5>
              </li>
              <li>
                <h4>2</h4>
                <h5 class="on-mobile">Number of devices that can be logged in</h5>
              </li>
              <li>
                <h4>Full HD (1080p)</h4>
                <h5 class="on-mobile">Max video quality</h5>
              </li>
              <li>
                <h4>Dolby 5.1</h4>
                <h5 class="on-mobile">Max audio quality</h5>
              </li>
              <li class="footer">
                999 <sub>/Year</sub>
              </li>
            </ul>
          </div>
          <div class="col-lg-3">
            <ul class="lable-list lable-list-value">
              <li class="header">Premium</li>
              <li class="has-icon">
                <i class="icon fi-checkmark-filled"></i>
                <div class="on-mobile">
                  <h5>All content</h5>
                  <h6>Movies, web series, live sports, TV, Kismet Specials</h6>
                </div>
              </li>
              <li class="has-icon">
                <i class="icon fi-checkmark-filled"></i>
                <h5 class="on-mobile">Watch on TV or Laptop</h5>
              </li>
              <li class="has-icon">
                <i class="icon fi-checkmark-filled"></i>
                <h5 class="on-mobile">Ads free movies and shows (except sports)</h5>
              </li>
              <li>
                <h4>4</h4>
                <h5 class="on-mobile">Number of devices that can be logged in</h5>
              </li>
              <li>
                <h4>Full HD (1080p)</h4>
                <h5 class="on-mobile">Max video quality</h5>
              </li>
              <li>
                <h4>Dolby 5.1</h4>
                <h5 class="on-mobile">Max audio quality</h5>
              </li>
              <li class="footer">
                1999<sub>/Year</sub>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="buttons">
        <button class="btn btn-primary">CONTINUE WITH Premium</button>
    </div>
  </div>
</div>
