@import '~src/assets/scss/_variables';

header {
  background: radial-gradient(50% 50% at 50% 50%, #10283C 0%, #061726 100%);
  position: relative;
  padding: 1rem;

  @media (min-width:992px) {
    padding: 5.5rem 0rem 3rem 0rem;
  }

  &::before {
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background-image: $landingHeaderBG;
    background-repeat: repeat-y;
    opacity: .1;
  }

}

.header-container {
  position: relative;

  .video-container {
    position: relative;
    border-radius: 1.5rem;
    overflow: hidden;
    height: 480px;


    // video {
    //   display: block;
    // }

    // .btn-play {
    //   position: absolute;
    //   left: 50%;
    //   top: 50%;
    //   transform: translate(-50%, -50%);
    //   z-index: 3;
    //   width: 3rem;
    //   height: 3rem;
    //   border-radius: 50%;
    //   color: $white;
    //   background-color: rgba($white, .2);
    //   backdrop-filter: blur(5px);
    //   font-size: 2rem;
    //   padding: 0;
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;

    //   &:hover {
    //     background-color: rgba($success, .7);
    //   }

    //   [class*='bi-play'] {
    //     text-indent: 2px;
    //   }


    //   @media (min-width:1200px) {
    //     font-size: 5rem;
    //     width: 6.5rem;
    //     height: 6.5rem;

    //     [class*='bi-play'] {
    //       text-indent: 4px;
    //     }
    //   }
    // }

    // .total-duration {
    //   position: absolute;
    //   top: 2rem;
    //   left: 2rem;
    //   padding: .5rem 1rem;
    //   border-radius: 4rem;
    //   background: $dark;
    //   color: $white;

    //   @media (min-width:1200px) {
    //     top: auto;
    //     left: auto;
    //     bottom: 2rem;
    //     right: 2rem;
    //   }
    // }
  }

  .video-content {
    color: $gray-500;

    .subtitle {
      margin-bottom: 0.5rem;
    }

    .title {
      color: $white;
    }

    .production-of {
      margin: 1rem 0;
      display: flex;
      align-items: center;
      gap: 1rem;
      color: $gray-300;
      font-weight: 500;

      >* {
        position: relative;
      }

      .has-devider {
        padding-left: 1.5rem;

        &:before {
          content: '';
          width: .5rem;
          height: .5rem;
          border-radius: 50%;
          background: $gray-300;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          position: absolute;
        }
      }

      .avatar {
        img {
          width: 2.125rem;
          height: 2.125rem;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }

  }

  @media (min-width:1200px) {
    display: flex;
    align-items: center;
    gap: 5rem;

    .video-container {
      flex: 1;

      img {
        min-height: 550px;
        object-fit: cover;
        width: 100%;
      }
    }

    .video-content {
      flex: 0 0 550px;

      .production-of {
        margin: 2rem 0;
        font-size: 1.25rem;
      }
    }
  }
}

.social-impact {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: .875rem;

  .icon{
    font-size: 1.1rem;
  }

  .like-dislike {
    flex: 1;
    max-width: 250px;
    display: flex;
    align-items: center;
    gap: .5rem;

    .progress {
      flex: 1;
      height: .5rem;
    }
  }

  .view-comment {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.card-video {
  cursor: pointer;
  .social-impact {
    justify-content: space-between;
    color: $gray-700;
   
  }

  .video-img {
    position: relative;
    height: 250px;
    overflow: hidden;
    border-radius: 1rem;
    
    img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 1rem;
      object-fit: cover;
      transform: scale(1);
      transition: all ease .3s;
    }

    .time {
      background-color: $dark;
      color: $white;
      font-size: .75rem;
      padding: .5rem .75rem;
      border-radius: 5rem;
      position: absolute;
      right: 1.5rem;
      bottom: 1.5rem;
    }

   
  }

  .card-title {
    margin: 1rem 0;
    color: $dark;
    transition: all ease .3s;
  }
  &.card-video-live{
    .video-img{
      img{
        border: 5px solid $success;
      }
    }
  }
  &:hover{
    .video-img{
      img{
        transform: scale(1.1);
      }
    }
    .card-title {
      color: $success;
    }
  }
}
