<!-- <router-outlet></router-outlet> -->

<header>
  <div class="container">
    <div class="header-container">
      <div class="video-container">
        <!-- <img src="./assets/imgs/gallery3.webp" class="img-fluid" alt=""> -->
        <kismet-live-video-player></kismet-live-video-player>
        <!-- <span class="total-duration">18:09</span> -->
        <button class="btn btn-play">
          <i class="fas fi-play-circle-regular"></i>
        </button>
      </div>
      <div class="video-content mt-4 mt-lg-0">
        <h5 class="subtitle">Featured Editors Pick</h5>
        <h2 class="title">New Trailer: The Thor Revels a foreboding look into 2022 City Life</h2>
        <div class="production-of">
          <div class="avatar"><img src="./assets/imgs/captain-america-icon.jpg" alt=""></div>
          <div class="name">Marvel Entertainment</div>
          <div class="has-devider lounch-time">52 min ago</div>
        </div>
        <div class="social-impact">
          <div class="like-dislike">
            <span><i class="fas fi-thumb-like-filled text-success icon"></i> 12k</span>
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: 85%" aria-valuenow="85"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <span><i class="fas fi-thumb-dislike-filled icon"></i> 1.1k</span>
          </div>
          <div class="view-comment">
            <span><i class="fas fi-eye-show-filled icon"></i> 122K</span>
            <span><i class="fas fi-chat-filled icon"></i> 32K</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>


<section class="section-default">
  <div class="container">
    <div class="section-header">
      <div class="header-start pt-4">
        <h4 class="title">Editors Picks</h4>
      </div>
      <div class="header-end"></div>
    </div>
    <swiper [config]="config" (slideChange)="onSlideChange()">
      <ng-template swiperSlide *ngFor="let item of [1,2,3,4]">
        <div class="card card-video border-0">
          <div class="video-img">
            <kismet-live-video-player></kismet-live-video-player>
            <!-- <img src="./assets/imgs/thumb-movie-v-{{item}}.png" alt=""> -->
            <!-- <span class="time">09:32</span> -->
          </div>
          <h5 class="card-title">Bypoll results LIVE: BJP wrests Rampur Lok Sabha seat from SP</h5>
          <div class="social-impact">
            <div class="like-dislike">
              <span><i class="fas fi-thumb-like-filled text-success icon"></i> 12k</span>
              <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 85%" aria-valuenow="85"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <span><i class="fas fi-thumb-dislike-filled icon"></i> 1.1k</span>
            </div>
            <div class="view-comment">
              <span><i class="fas fi-eye-show-filled icon"></i> 122K</span>
              <span><i class="fas fi-chat-filled icon"></i> 32K</span>
            </div>
          </div>
        </div>
      </ng-template>
    </swiper>
  </div>
</section>

<section class="section-default">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-2 mb-4">
        <ul class="nav nav-pills nav-pills-side">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><span class="live"></span> Live</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Viral</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Podcast</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Battle Leaderboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Entertainment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Comedy</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-10">
        <div class="section-header">
          <div class="header-start">
            <h4 class="title">Live</h4>
          </div>
          <div class="header-end"></div>
        </div>

        <div class="tab-container">
          <div class="row g-sm-4">
            <div class="col-md-6 col-xl-4" *ngFor="let item of [1,2,3,4,5,6,7,8]">
              <div class="card card-video card-video-live border-0">
                <div class="video-img">
                  <kismet-live-video-player></kismet-live-video-player>
                  <!-- <img src="./assets/imgs/thumb-movie-v-{{item}}.png" alt=""> -->
                  <!-- <span class="time">09:32</span> -->
                </div>
                <h5 class="card-title"> Bypoll results LIVE: BJP wrests Rampur Lok Sabha seat from SP</h5>
                <div class="social-impact">
                  <div class="like-dislike">
                    <span><i class="fas fi-thumb-like-filled text-success icon"></i> 12k</span>
                    <div class="progress">
                      <div class="progress-bar bg-success" role="progressbar" style="width: 85%" aria-valuenow="85"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span><i class="fas fi-thumb-dislike-filled icon"></i> 1.1k</span>
                  </div>
                  <div class="view-comment">
                    <span><i class="fas fi-eye-show-filled icon"></i> 122K</span>
                    <span><i class="fas fi-chat-filled icon"></i> 32K</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-6 col-xl-4" *ngFor="let item of [1,2,3,4]">
              <div class="card card-video card-video-live border-0">
                <div class="video-img">
                  <kismet-live-video-player></kismet-live-video-player>
                </div>
                <h5 class="card-title">Bypoll results LIVE: BJP wrests Rampur Lok Sabha seat from SP</h5>
                <div class="social-impact">
                  <div class="like-dislike">
                    <span><i class="fas fi-thumb-like-filled text-success icon"></i> 12k</span>
                    <div class="progress">
                      <div class="progress-bar bg-success" role="progressbar" style="width: 85%" aria-valuenow="85"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span><i class="fas fi-thumb-dislike-filled icon"></i> 1.1k</span>
                  </div>
                  <div class="view-comment">
                    <span><i class="fas fi-eye-show-filled icon"></i> 122K</span>
                    <span><i class="fas fi-chat-filled icon"></i> 32K</span>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
