@import '~src/assets/scss/common-variable';

// header {
//   min-height: 600px !important;
//   height: 100vh !important;
//   position: relative;
//   background-color: $dark;
// }

.header-content {
  min-height: 600px;
  height: 100vh;
  position: relative;
  background-color: $dark;

  .video-container {
    min-height: 600px;
    height: 100vh;
    overflow: hidden;
    width: 70%;
    position: absolute;
    right: 0px;

    video {
      transform: scale(1.5) !important;
    }
  }

  .content {
    position: absolute;
    left: 0;
    width: 100%;
    min-height: 600px;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(90deg, #000000 34%, #000000c7 68%, rgb(6 14 16 / 0%) 100%);
    color: $white;

    h1 {
      color: $white;
      font-size: 2rem;

      @media (min-width:992px) {
        font-size: 3rem;
      }
    }

    .more-information {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin: 1rem 0;

      .dropdown {
        .dropdown-toggle {
          display: flex;
          align-items: center;
          padding-left: 1.5rem;
          padding-right: 1.5rem;
          color: $white;
          background: lighten($dark, 5);
          font-weight: 600;

          &:after {
            margin-left: 1rem;
          }
        }
      }

      color: rgba($white, .7);

      .ouline {
        font-size: 70%;
        border: 1px solid rgba($white, .2);
        padding: 2px .5rem;
        border-radius: $br;

        &.bold {
          font-weight: 600;
        }
      }
    }

    .description {
      font-size: 1.3rem;
      // line-height: 1;
      width: 50%;
      margin-bottom: 0rem;

      .desc-content {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-height: 1.5;
      }
    }

    .play-btn {
      margin: 0rem 0;
      display: flex;
      margin: 1rem 0rem;

      .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .75rem;
        width: 100%;
        border-radius: $br*3;
      }

      @media (min-width:992px) {
        .btn {
          width: auto;
          font-size: 1rem;
          padding-left: 1.5rem;
          padding-right: 1.5rem;
          height: 3rem;
        }
      }
    }

    .rating {
      display: flex;
      align-items: baseline;
      gap: 1rem;
      padding: 0.5rem 0rem;
      
      .rating-stars {
        color: $warning;
        display: flex;
        align-items: center;
        font-size: 1.5rem !important;
      }
    }
  }
}
