<ng-container>
  <div class="header-content">
    <div class="video-container">
      <kismat-video [video]="currentVideo" [autoplay]="true" [muted]="true">
      </kismat-video>
    </div>

    <div class="content">
      <div class="container">
        <h1>{{video?.title}}</h1>
        <div class="more-information">
          <ng-container *ngIf="showSeasonsDrop">
            <div ngbDropdown *ngIf="currentSeason.title">
              <button class="btn btn-dropdown" id="dropdownBasic1" ngbDropdownToggle>
                {{currentSeason.title}}
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem *ngFor="let item of seasons"
                  (click)="seasonChange(item)">{{item.title}}</button>
              </div>
            </div>
            <div *ngIf="!currentSeason.title">
              <h4>No Season Found!</h4>
            </div>
          </ng-container>



          <span>{{video?.releaseDate | date}}</span>
          <span class="ouline">X-Ray</span>
          <span class="ouline bold">{{video?.contentCertificate}} 16+</span>
          <i class="icon fi-chat-regular" title="Subtitle"></i>
        </div>
        <div class="description">
          <div class="desc-content"> {{video?.description}} </div>
          <a href="javascript:void(0)" class="read-more text-warning" *ngIf="video?.description?.length > 200">Read
            More</a>
        </div>
        <div class="play-btn">
          <button class="btn btn-warning me-3" *ngIf="!ownVideo"> Buy Now at $10</button>
          <span *ngIf="ownVideo">
            <button class="btn btn-warning me-3" (click)="startWatching()">
              <i class="fi-play-filled"></i>
              Start Watching </button>
            <button class="btn btn-outline-warning" *ngIf="video.watchDuration != null" (click)="startWatching()"><i
                class="fi-play-filled"></i>
              Continue Watching </button>
          </span>
        </div>
        <!-- <div class="director"><span>Director:</span> Aijaz Khan</div> -->
        <div class="rating"><span>Rating:</span>
          <div class="rating-stars">
            <ngb-rating [rate]="video?.rating || 0" [max]="5" [readonly]="true"> </ngb-rating>
          </div>
          <app-player-actions [videoId]="video.id" [viewMore]="true" [showlove]="true"></app-player-actions>
        </div>

        <ng-container *ngIf="showSeasonsDrop">
          <kismat-episodes [seasonId]="currentSeason.seasonId" (selectedEpisode)="selectedEpisode($event)">
          </kismat-episodes>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>

<section class="ott-section bg-dark" *ngIf="!!currentVideo.name">
  <div class="container">
    <kismat-recommended [videoId]="videoId" [videoType]="video.videoType" title="Recommended Videos" [noPadding]="true">
    </kismat-recommended>
  </div>
</section>
