<section class="ott-section section-specials" [class.noPadding]="noPadding" [class.noPaddingTop]="noPaddingTop"
  [class.noPaddingBottom]="noPaddingBottom">
  <div class="container">
    <div class="section-title">
      <div class="title-left">
        <h2 class="title">{{title | titlecase}}</h2>
      </div>
      <!-- <div class="title-right">
        <a href="javascript:void(0)" class="link"
          (click)="commonservice.isLoggedIn()? modalservice.openExploreAll(title, videos)  : modalservice.openSigninModal()">Explore
          All</a>
      </div> -->
    </div>
  </div>

  <div class="container-fluid px-lg-0">
    <div class="row g-lg-0 align-items-center">
      <div class="col-12">
        <swiper [config]="swiperSlidesConfig" #swiperContainer [virtual]="true" class="swiper-zoom">
          <ng-template swiperSlide *ngFor="let item of videos">
            <div class="card card-specials"
              (click)="commonservice.isLoggedIn()? redirectservice.preview(item.id)  : modalservice.openSigninModal()">
              <div class="slide-img">
                <kismat-video
                  [video]="{name: item?.title, src : item?.videoSource?.videoUrl, img :item?.videoSource?.thumbnailUrl }"
                  [mouseoverPlayPauseEvents]="commonservice.isLoggedIn()">
                </kismat-video>
              </div>
              <div class="card-body">
                <h5>{{item.title}}</h5>
                <p>{{item.description}}</p>
                <div class="actions">
                  <div class="rating-stars">
                    <ngb-rating [rate]="item?.rating || 0" [max]="5" [readonly]="true"> </ngb-rating>
                  </div>
                  <app-player-actions [videoId]="item.id"></app-player-actions>
                </div>
              </div>
            </div>
          </ng-template>
        </swiper>
      </div>
    </div>

  </div>

</section>
