@import '~src/assets/scss/common-variable';

.section-specials {
  background-color: $dark;
  padding-bottom: 2rem;

  .logo-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 3rem;

    .logo {
      height: 50px;
      width: auto;
      flex: 1 1 auto;
      max-width: inherit;
    }

    h3 {
      font-size: 3rem;
      font-weight: 300;
      color: $white;
      margin: 0;
    }

    @media (min-width:992px) {
      margin-top: 0;
      align-items: center;
      justify-content: center;

      h3 {
        font-size: 4rem;
      }
    }
  }

  @media (min-width:992px) {
    padding-bottom: 2rem;
  }

  &.noPadding {
    padding-bottom: 0rem !important;
    padding-top: 0rem !important;
  }

  &.noPaddingTop {
    padding-top: 0rem !important;
  }

  &.noPaddingBottom {
    padding-bottom: 0rem !important;
  }


  .swiper-zoom {
    @media (min-width:992px) {
      padding: 3.5rem;
      margin-top: -2rem;
    }
  }

  h5 {
    font-size: 0.75rem;
    margin-bottom: 0rem;
  }

  .card {
    &.card-specials {
      position: relative;
      border-radius: 0;
      border: none;
      background: $dark;
      @include transition;
      transform: scale(1) translateY(0);
      cursor: pointer;



      .slide-img {
        width: 100%;
        height: 120px;
        display: block;
        object-fit: cover;
        border-radius: $br*2;
      }

      .card-body {
        background: $dark;
        background: linear-gradient(360deg, rgba($dark, 1) 0%, rgba($dark, 0) 100%);
        color: $white;
        padding: .5rem 1rem;
        width: 100%;

        h5 {
          font-weight: 600;
          font-size: 1rem;
          margin: 0;
        }

        p {
          overflow: hidden;
          -webkit-box-orient: vertical;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          text-overflow: ellipsis;
          white-space: normal;
          font-size: .75rem;
          margin-bottom: .5rem;
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin: 0;
        }

        .actions {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: .9rem;

          .rating-stars {
            color: $warning;
            font-size: .9rem;
          }
        }

        .buttons {
          display: flex;
          align-items: center;
          gap: .5rem;

          .btn {
            color: $white;
            font-size: 1rem;
            padding: 0;
            @include transition;
            opacity: .7;
            transform: scale(1);

            &:hover {
              opacity: 1;
              transform: scale(1.15);
            }
          }
        }

      }

      @media (min-width:992px) {
        padding-bottom: 1rem;

        .card-body {
          transform: translateY(0);
          position: absolute;
          top: 100%;
          @include transition;
          background: $dark;
          visibility: hidden;
          opacity: 0;
          padding-top: 0;
        }

        &:hover {
          transform: scale(1.25) translateY(-60px);
          z-index: 10;

          .card-body {
            transform: translateY(0);
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }
}
