  <div class="card shadow-sm border-0 mb-4">
    <div class="card-header bg-transparent border-0">
      <div class="card-title">Add Languages</div>
    </div>
    <div class="card-body">

      <form [formGroup]="languageForm">
        <div class="row">
          <div class="form-group col-lg-12">
            <label for="lname">Language</label>
            <div class="input-group">
              <input type="text" class="form-control" id="lname" placeholder="Language" formControlName="lname">
            </div>
            <div class="text-danger" *ngIf="languageForm.controls.lname.hasError('required') && submitted">
              Language is required
            </div>
          </div>

        </div>
        <div class="buttons d-flex justify-content-end mt-4">
          <button type="cancel" class="btn btn-ott-submit btn-lg btn-light" (click)="cancle()">Cancel</button>
          <button type="submit" class="btn btn-ott-submit btn-lg btn-primary text-warning ms-2" (click)="createNewLanguage()"><i class="fa fa-plus" ></i> Add
            Language</button>
        </div>
      </form>

    </div>
  </div>

  <div class="mb-4">
    <kismat-data-table title="Languages" [data]="languages" [headers]="languageHeaders" [editbtn]="false"
      (onSelectItemForDelete)="onSelectItemForDelete($event)">
    </kismat-data-table>
  </div>
