<ng-container>
  <div class="p-4">
    <div class="d-flex justify-content-between align-items-canter">
      <p class="h4">Change Account Email</p>
      <button type="button" class="btn-close" aria-label="Close" (click)="modalService.dismissAll('Cross click')">
      </button>
    </div>
    <form [formGroup]="payload" (ngSubmit)="verifyEmail()" >
      <div class="form-group my-4">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" formControlName="email">
        <div class="text-danger" *ngIf="payload.controls.email.invalid && submitted">
          Email is required
        </div>
      </div>
      <button type="submit" class="btn btn-success">Verify Email</button>
    </form>
  </div>
</ng-container>
