<div class="card content-video-card">
  <div class="card-body">
    <div class="uploadedContent">
      <ng-container *ngIf="!video.src"> Please {{title}} </ng-container>
      <ng-container *ngIf="video.src">
        <kismat-video [video]="{name: video.name , src : video.src, img : video.img}"
          [showOverlayPlay]="filetype === 'video'">
        </kismat-video>
      </ng-container>
    </div>
    <div class="form-group pt-3">
      <label for="video">{{title}}:</label>

      <input id="video" type="file" class="form-control" [accept]="fileaccept" (change)="cahnge_file($event.target)" />

      <div class="mt-2" *ngIf="showProgressBar">
        <div class="progress-container">
          <div class="header">
            <h6 class="title">Uploading </h6> <span>{{uploadingProgress}}%</span>
          </div>
          <div class="progress">
            <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar"
              [style.width]="uploadingProgress+'%'" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
