@import '~src/assets/scss/common-variable';

.section-recommended {
  position: relative;
  padding-top: 0rem;

  &:before {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 60%;
    content: "";
    background: #171717;
  }

  .container {
    position: relative;
    z-index: 9;
  }

  .title {
    margin-bottom: 2rem;

    @media (min-width:992px) {
      margin-bottom: 4rem;
    }
  }

  .options {
    position: absolute;
    right: .75rem;
    // bottom: 0;
    height: 4rem;
    display: flex;
    align-items: center;
    z-index: 9;

    .btn-more {
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: none;
      padding: 0;
      gap: .5rem;
      color: lighten($dark, 15);
      font-weight: 600;
      @include transition;

      @media (min-width:992px) {
        font-size: 1rem;
      }

      &:hover {
        color: $dark;
      }
    }
  }

}


::ng-deep {
  swiper {
    &.swiper-recommended {
      position: relative;
      max-height: 550px;
      img{
        width: 100%;
        height: 550px;
        object-fit: fill;
      }
      .btn {
        &.btn-play-pause {
          border-radius: 50%;
          font-size: 4rem;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%) scale(1);

          @include transition;

          .icon {
            position: relative;
            @include transition;
            text-shadow: 0 0 0.25rem rgba($white, 0);

            &::after {
              content: "";
              background: lighten($white, 35);
              width: 70%;
              height: 70%;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              border-radius: 50%;
              @include transition;
              z-index: 1;
            }

            &::before {
              position: relative;
              z-index: 2;
            }
          }

          &:hover {
            transform: translate(-50%, -50%) scale(1.2);

            .icon {
              text-shadow: 0 0 2rem rgba($danger, .5);

            }
          }

          @media (min-width:992px) {
            transform: scale(1.3);

            &:hover {
              transform: scale(1.7);
            }
          }
        }
      }
    }
  }
}
