<section class="ott-section section-recommended">
  <div class="container">
    <h2 class="title">Movies Recommended For You</h2>
    <swiper [config]="swiperSlidesConfig" #swiperContainer [virtual]="true" class="swiper-recommended">
      <ng-template swiperSlide *ngFor="let item of sliderItems">

        <div class="slide-content" >
          <img [src]="item.img" [alt]="item.tags" [title]="item.tags">

          <button class="btn btn-play-pause text-danger">
              <i class="icon fi-play-circle-filled"></i>
          </button>

        </div>
      </ng-template>
    </swiper>
    <div class="options">
        <button class="btn btn-more">More <i class="fi-chevron-right-filled"></i></button>
    </div>
  </div>
</section>
