<div class="support-style">
  <div class="row">
    <div class="col-12 text-center text-white">
      <h3>All on Your Favorite Devices</h3>
      <p>Subscription plans vary by subscription provider.</p>
    </div>
  </div>

  <div class="container">
    <div class="row row-cols-lg-4 row-cols-md-4 row-cols-1 g-3 py-3">
      <div class="col text-center">
        <div>
          <img src="./assets/imgs/tv.png" height="120" alt="tv" class="img-fluid" />
        </div>
        <div class="py-2">
          <h3 class="text-white">TV</h3>
          <hr class="solid">
        </div>
        <div class="text-white">
          Amazon Fire TV,
          Android TV,
          Apple TV,
          Chromecast,
          LG Smart TVs,
          Roku,
          Samsung TV,
          VIZIO SmartCast TVs
         
          <!-- <ul class="text-white list-group">
            <li class="list-group-item">Amazon Fire TV</li>
            <li class="list-group-item">Android TV</li>
            <li class="list-group-item">Apple TV</li>
            <li class="list-group-item">Chromecast</li>
            <li class="list-group-item">LG Smart TVs</li>
            <li class="list-group-item">Roku</li>
            <li class="list-group-item">Samsung TV</li>
            <li class="list-group-item">VIZIO&nbsp;SmartCast TVs</li>
          </ul> -->
        </div>
      </div>
      <div class="col text-center">
        <div>
          <img src="./assets/imgs/laptop.png" height="120" alt="tv" class="img-fluid" />
        </div>
        <div class="py-2">
          <h3 class="text-white">Computer</h3>
          <hr class="solid">
        </div>
        <div class="text-white">
          Chrome OS,
          MacOS,
          Windows PC
          <!-- <ul class="text-white list-group">
            <li class="list-group-item">Chrome OS</li>
            <li class="list-group-item">MacOS</li>
            <li class="list-group-item">Windows PC</li>
          </ul> -->
        </div>
      </div>
      <div class="col text-center">
        <div>
          <img src="./assets/imgs/console.png" height="120" alt="tv" class="img-fluid" />
        </div>
        <div class="py-2">
          <h3 class="text-white">Game Console </h3>
          <hr class="solid">
        </div>
        <div  class="text-white">
          PS5, PS4, Xbox Series X|S, Xbox One
          <!-- <ul class="text-white list-group pb-5">
            <li class="list-group-item">PS5</li>
            <li class="list-group-item">PS4</li>
            <li class="list-group-item">Xbox Series X|S</li>
            <li class="list-group-item">Xbox One</li>
          </ul> -->
        </div>
      </div>
      <div class="col text-center">
        <div>
          <img src="./assets/imgs/tablet.png" height="120" alt="tv" class="img-fluid" />
        </div>
        <div class="py-2">
          <h3 class="text-white">Monitor & Tablet</h3>
          <hr class="solid">
        </div>
        <div class="text-white">
          Amazon Fire Tablet,
          Android Phone &amp; Tablet,
          iPhone &amp; iPad
          <!-- <ul class="text-white list-group">
            <li class="list-group-item">Amazon Fire Tablet</li>
            <li class="list-group-item">Android Phone &amp; Tablet</li>
            <li class="list-group-item">iPhone &amp; iPad</li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>

</div>
<!-- <div class="support-style">
  <div class="my-4 container max-section-supported-devices">
    <div class="sc-jrAFXE dAUKNh layout row d-flex">
      <div class="d-flex flex-column col-md-3 align-items-center justify-content-start col-12 sc-bqyKOL gIEupW">
        <div class="sc-bdfBQB hZBxCM initial-img-wrapper"><img id="page7818-band68387-Image68388" alt="Connected TV"
            class="img img-fluid lozad sc-bdfBQB hZBxCM"
            sizes="(max-width: 575px) 100vw, (min-width: 576px) and (max-width: 1024px) 25vw, (min-width: 1025px) 25vw, 100vw"
            height="160" width="240" src="./assets/imgs/tv.png"
            data-srcset="https://hbomax-images.warnermediacdn.com/2021-01/Device-Module-TV.png?host=wme-hbomax-drupal-prod.s3.amazonaws.com&amp;w=266 266w" />
        </div>
        <div class="mt-10 sc-iqHYmW dhpKCs text rich-text w-100 w-100" id="page7818-band68387-Text68389">
          <div class="text-center">
            <span class="content"> TV </span> <br>
            <hr class="solid">
            <ul>
              <li>Amazon Fire TV</li>
              <li>Android TV</li>
              <li>Apple TV</li>
              <li>Chromecast</li>
              <li>LG Smart TVs</li>
              <li>Roku</li>
              <li>Samsung TV</li>
              <li>VIZIO&nbsp;SmartCast TVs</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column col-md-3 align-items-center justify-content-start col-12 sc-bqyKOL gIEupW">
        <div class="sc-bdfBQB hZBxCM initial-img-wrapper"><img id="page7818-band68387-Image68390" alt="Computer"
            class="img img-fluid lozad sc-bdfBQB hZBxCM"
            sizes="(max-width: 575px) 100vw, (min-width: 576px) and (max-width: 1024px) 25vw, (min-width: 1025px) 25vw, 100vw"
            height="160" width="240" src="./assets/imgs/laptop.png" data-srcset="./assets/imgs/tv.png" />
        </div>
        <div class="mt-10 sc-iqHYmW dhpKCs text rich-text w-100 w-100" id="page7818-band68387-Text68391">
          <div class="text-center">
            <span class="content"> Computer </span> <br>
            <hr class="solid">
            <ul>
              <li>Chrome OS</li>
              <li>MacOS</li>
              <li>Windows PC</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column col-md-3 align-items-center justify-content-start col-12 sc-bqyKOL gIEupW">
        <div class="sc-bdfBQB hZBxCM initial-img-wrapper"><img id="page7818-band68387-Image68392" alt="Game Console"
            class="img img-fluid lozad sc-bdfBQB hZBxCM"
            sizes="(max-width: 575px) 100vw, (min-width: 576px) and (max-width: 1024px) 25vw, (min-width: 1025px) 25vw, 100vw"
            height="160" width="240" src="./assets/imgs/console.png"
            data-srcset="https://hbomax-images.warnermediacdn.com/2021-01/Device-Module-Gaming.png?host=wme-hbomax-drupal-prod.s3.amazonaws.com&amp;w=266 266w" />
        </div>
        <div class="mt-10 sc-iqHYmW dhpKCs text rich-text w-100 w-100" id="page7818-band68387-Text68393">
          <div class="text-center">
            <span class="content"> Game Console </span> <br>
            <hr class="solid">
            <ul>
              <li>PS5</li>
              <li>PS4</li>
              <li>Xbox Series X|S</li>
              <li>Xbox One</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="mt-10 d-flex flex-column col-md-3 align-items-center justify-content-start col-12 sc-bqyKOL gIEupW">
        <div class="sc-bdfBQB hZBxCM initial-img-wrapper"><img id="page7818-band68387-Image68394"
            alt="Mobile and Tablet" class="img img-fluid lozad sc-bdfBQB hZBxCM"
            sizes="(max-width: 575px) 100vw, (min-width: 576px) and (max-width: 1024px) 25vw, (min-width: 1025px) 25vw, 100vw"
            height="160" width="240" src="./assets/imgs/tablet.png"
            data-srcset="https://hbomax-images.warnermediacdn.com/2021-01/Device-Module-Tablet.png?host=wme-hbomax-drupal-prod.s3.amazonaws.com&amp;w=266 266w" />
        </div>
        <div class="mt-10 sc-iqHYmW dhpKCs text rich-text w-100 w-100" id="page7818-band68387-Text68395">
          <div class="text-center">
            <span class="content">  </span> <br>
            <hr class="solid">

            <ul>
              <li>Amazon Fire Tablet</li>
              <li>Android Phone &amp; Tablet</li>
              <li>iPhone &amp; iPad</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
