.support-style {
  background-color: black;
  padding: 2rem 0;

  .solid {
    border-top: 4px solid #30cc64;
    width: 30%;
    text-align: center;
    margin: 0px auto;
  }

  .list-group-item {
    background: transparent;
    border: none;
    padding: 2px 0px;
    color: white;
  }
}
