<!-- <div class="admin-layout">
  <div class="admin-layout-sidenav">
    <kismat-sidenavbar [roots]="adminRoots"></kismat-sidenavbar>
  </div>
  <div class="admin-layout-navbar">
    <kismat-admin-navbar></kismat-admin-navbar>
  </div>
  <div class="admin-layout-content">
    <router-outlet></router-outlet> 
  </div>
</div> -->
<app-admin-navbar></app-admin-navbar>
<div class="layout-sidenav" [ngClass]="{'kott-sidenav-toggled': sidemenuToggled}">
  <div class="layout-sidenav-nav">
    <app-admin-sidenav></app-admin-sidenav>
  </div>
  <div class="layout-sidenav-content">
    <main>
      <div class="container-fluid">
        <router-outlet></router-outlet>

        <!-- remover below container once functionlity added to burger menu -->
        <!-- <div class="my-5">
          <p>Please integrate below functionality to burger menu and remover from here and please use same classes</p>
        <button class="btn text-uppercase btn-kismat" (click)="toggleMenu()">toggle menu</button>
        </div> -->
      </div>

    </main>
  </div>
</div>
