@import '~src/assets/scss/common-variable';

// .admin-layout {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;

//   &-sidenav {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 275px;
//     height: 100vh;
//     background: $darkBg;
//     overflow-x: hidden;
//     overflow-y: auto;
//     z-index: 10;
//     padding-top: 72px;
//   }

//   &-navbar {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 72px;
//     z-index: 15;
//     // padding-left: 275px;
//   }

//   &-content {
//     flex: 1;
//     overflow-x: hidden;
//     overflow-y: auto;
//     padding: 82px 10px 10px 285px;
//   }
// }

.container-fluid{
  padding-top: 1rem;
  @media (min-width: 992px) {
    padding-top: 2.785rem;
    padding-left: 2.785rem;
    padding-right: 2.785rem;
  }
}

.layout-sidenav {
  display: flex;

  .layout-sidenav-nav {
    width: $sidemenuWidth;
    height: 100vh;
    position: fixed;
    @include transition;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1020;
    transform: translateX(0);
    margin-left: -$sidemenuWidth;

  

    @media (min-width: 992px) {
      margin-left: 0;

    }
  }
  .layout-sidenav-content{
      min-height: calc(100vh - #{$lgNavbarHeight + 1});
      top: $lgNavbarHeight + 1;
      position: relative;
      min-width: 0;
      flex-grow: 1;
      background: $light;
      @include transition;
      @media (min-width: 992px){
          padding-left: $sidemenuWidth;
      }
      
  }
  &.kott-sidenav-toggled{
    @media (min-width: 992px){
        .layout-sidenav-nav{
            transform: translateX(-$sidemenuWidth);
        }
        .layout-sidenav-content{
            margin-left: -$sidemenuWidth;
        }
        
    }
  }
}
