<nav class="navbar navbar-expand-lg navbar-dark fixed-top" [ngClass]="{'scrolled': scrolled}">
  <div class="container">
    <a class="navbar-brand" href="javascript:void(0)" routerLink="/home">
      <img src="./assets/imgs/logo.png" alt="Kismat"></a>
    <button class="navbar-toggler" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{'show': navbarCollapse}">
      <button class="btn btn-dismiss-menu d-lg-none" (click)="toggleNavbar()">
        <i class="fi-dismiss-filled"></i>
      </button>
      <ul class="navbar-nav me-auto">
        <li class="nav-item" *ngFor="let m of menus">
          <a class="nav-link" [routerLink]="m.link" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}">{{m.label}}</a>
        </li>
        <li class="nav-item" ngbDropdown placement="left-bottom" class="d-inline-block ">
          <a class="nav-link dropdown-toggle " id="genre_id" ngbDropdownToggle> Genre</a>
          <div ngbDropdownMenu aria-labelledby="genre_id" class="dropdown-menu-end genre-drop-menu ms-auto">
            <div class="row row-cols-lg-3 row-cols-md-3 row-cols-2 mx-2">
              <div class="col" *ngFor="let genre of genres">
                <button ngbDropdownItem (click)="openGenre(genre)">{{genre.genreName}}</button>
              </div>
            </div>
          </div>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/home/live" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}">Live</a>
        </li> -->
      </ul>
      
      <ul class="navbar-nav ms-lg-auto navbar-right">
        <li class="nav-item nav-item-search" (click)="searchModal()">
          <a href="javascript:void(0)" class="nav-link nav-link-icon d-lg-flex d-none"><i
              class="icon fi-search-filled"></i></a>
        </li>
        <li class="nav-item user-profile" ngbDropdown>
          <a class="nav-link nav-link-profile" id="userprofile" ngbDropdownToggle>
            <img [src]="profile_pic" alt="user">
            <span class="content">
              <h5>{{userInfo.firstName | titlecase }}
                {{userInfo.lastName | titlecase}}
              </h5>
              <!-- <p>Asia pacific</p> -->
            </span>
          </a>
          <div ngbDropdownMenu aria-labelledby="userprofile" class="dropdown-menu-end">
            <div class="menus row g-0">
              <div class="col-sm-6">
                <button ngbDropdownItem>Your Favourite</button>
                <button ngbDropdownItem routerLink="/home/settings">Account & Settings</button>
                <button ngbDropdownItem>Watch Anywhere</button>
                <button ngbDropdownItem>Help</button>
                <button ngbDropdownItem (click)="logout()">Not {{userInfo.firstName | titlecase }} ? Sign Out</button>
              </div>
              <div class="col-sm-6">
                <button ngbDropdownItem><img class="icon" src="./assets/imgs/icons/icon-child.svg" alt="Icon">
                  Kids</button>
                <button ngbDropdownItem><i class="icon fi-add-circle-regular"></i> Add New</button>
                <button ngbDropdownItem routerLink="/home/manage-profile">Manage Profiles</button>
                <!-- <button ngbDropdownItem>Learn More</button> -->
              </div>
            </div>
          </div>
        </li>
      </ul>
      <!-- <div class="navbar-right">
        <button class="btn btn-ott btn-icon"><i class="icon fi-search-filled"></i></button>
        <div ngbDropdown class="d-inline-block">

          <button class="btn btn-ott" id="dropdownBasic1" ngbDropdownToggle><i class="icon fi-globe-regular"></i> <span
              class="d-none d-lg-block">English</span></button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu-end">
            <button ngbDropdownItem>Action - 1</button>
            <button ngbDropdownItem>Another Action</button>
            <button ngbDropdownItem>Something else is here</button>
          </div>
        </div>

        <div ngbDropdown class="d-inline-block user-profile">

          <button class="btn btn-profile" id="userprofile" ngbDropdownToggle>
            <img src="./assets/imgs/avatar-1.png" alt="Hafiz saeed">
            <div class="content">
              <h5>Hafiz saeed</h5>
              <p>Asia pacific</p>
            </div>
          </button>
          <div ngbDropdownMenu aria-labelledby="userprofile" class="dropdown-menu-end">
            <div class="menus row g-0">
              <div class="col-sm-6">
                <button ngbDropdownItem>Your Favourite</button>
                <button ngbDropdownItem>Account & Settings</button>
                <button ngbDropdownItem>Watch Anywhere</button>
                <button ngbDropdownItem>Help</button>
                <button ngbDropdownItem (click)="logout()">Not Hafiz ? Sign Out</button>
              </div>
              <div class="col-sm-6">
                <button ngbDropdownItem><img class="icon" src="./assets/imgs/icons/icon-child.svg" alt="Icon"> Kids</button>
                <button ngbDropdownItem><i class="icon fi-add-circle-regular"></i> Add New</button>
                <button ngbDropdownItem>Manage Profiles</button>
                <button ngbDropdownItem>Learn More</button>
              </div>

            </div>

          </div>
        </div>


      </div> -->
    </div>
  </div>
</nav>
