@import '~src/assets/scss/common-variable';

.navbar {
  height: $lgNavbarHeight - 2;
  background: linear-gradient($dark 0%, rgba($dark, 0) 100%);
  @include transition;

  &.scrolled {
    background: linear-gradient($dark 0%, rgba($dark, 1) 100%);
  }

  .navbar-brand {
    img {
      height: $lpLogoHeight - 1;
    }
  }

  .navbar-nav {
    .nav-item {
      .nav-link {
        @include transition;
        font-size: 1rem;
        font-weight: 300;
        color: $white !important;

        &:not(.active) {
          &:hover {
            color: $kismat !important;
          }
        }

        &.active {
          color: $kismat !important;
        }

        @media (min-width:992px) {
          padding-left: 1rem;
          padding-right: 0.5rem;
        }
      }
    }

    @media (min-width:992px) {
      display: flex;
      align-items: center;

      a {
        display: flex;
        align-items: center;
      }
    }
  }

  .navbar-right {
    .nav-link {
      display: flex;
      align-items: center;
      gap: .5rem;
      font-size: .875remrem;
      
      .icon {
        font-size: 1.25rem;
      }

      &.nav-link-icon {
        color: $white;
      }

      &.dropdown-toggle {
        color: $white;
        cursor: pointer;
      }

    }

    .user-profile {
      .nav-link-profile {
        display: flex;
        align-items: center;
        gap: 1rem;

        img {
          width: 2.75rem;
          height: 2.75rem;
          display: block;
          object-fit: cover;
          border-radius: 50%;
          border: 1px solid $secondary;
        }

        .content {
          text-align: left;

          h5 {
            margin: 0;
            font-size: 1rem;
          }

          p {
            font-size: .875rem;
            color: rgba($white, .5);
            margin: 0;
          }
        }
      }
    }
  }

  @media (min-width:992px) {
    height: $lgNavbarHeight;

    .navbar-brand {
      img {
        height: $lpLogoHeight;
      }
    }

    .navbar-right {

      // gap: 1.5rem;
      .nav-item-search {
        display: flex;
        align-items: center;
      }

      .nav-link {
       
        .icon {
          font-size: 1.25rem;
        }
      }

    }
  }

}

.genre-drop-menu {
  background: rgba(6, 14, 16, 0.85);
  min-width: 800px !important;
  right: unset !important;
  left: -400px !important;
  max-height: 500px;
  overflow-y: auto;
}
.dropdown-toggle {
  color: $white !important;
}

@media (max-width:992px) {
  .navbar-collapse {
    position: fixed;
    background: rgba($dark, .8);
    backdrop-filter: blur(10px);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding: 1rem 2rem;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    transform: translateY(30%);
    @include transition;
    display: block;

    .nav-link {
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;
    }

    .btn-dismiss-menu {
      position: fixed;
      top: 2rem;
      right: 2rem;
      color: rgba($white, .5);
      @include transition;
      font-size: 1.25rem;

      &:hover {
        color: $white;
      }
    }

    &.show {
      opacity: 1;
      visibility: visible;
      transform: translateY(0%);
    }
  
  }
}


@media (max-width:992px) {
  .genre-drop-menu {
    min-width: 285px !important;
    right: unset !important;
    max-height: 400px !important;
  }
}
