 <div class="slider-style">
   <div class="marquee">
    <ul class="marquee-content">
       <li class="marquee-item"> <img src="./assets/imgs/harrypotter-8filmcollection-hw74c0.jpg" alt="" /></li>
       <li class="marquee-item"> <img src="./assets/imgs/game-of-thrones74c0.jpg" alt="" /></li>
       <li  class="marquee-item"> <img src="./assets/imgs/zack-snyders-justice-league-16x974c0.jpg"  alt="" /></li>
        <li  class="marquee-item"><img src="./assets/imgs/friends-16x974c0.jpg"  alt="" /></li>
        <li  class="marquee-item"><img src="./assets/imgs/rick-and-morty-16x974c0.jpg" alt="" /></li>
        <li  class="marquee-item"><img src="./assets/imgs/big-bang-theory74c0.jpg" alt="" /></li>
        <li  class="marquee-item"><img src="./assets/imgs/euphoria-ka74c0.jpg" alt="" /></li>
        <li  class="marquee-item"><img src="./assets/imgs/succession-ka_074c0.jpg"  alt="" /></li>
        <li  class="marquee-item"><img src="./assets/imgs/insecure-1200x67574c0.jpg" alt="" /></li>
        <li  class="marquee-item"><img src="./assets/imgs/the-sex-lives-of-college-girls-video-cover-2_074c0.jpg" alt="" /></li>
        <li class="marquee-item"><img src="./assets/imgs/harrypotter-8filmcollection-hw74c0.jpg" alt="" /></li>
       <li class="marquee-item"><img src="./assets/imgs/game-of-thrones74c0.jpg" alt="" /></li>
       <li  class="marquee-item"><img src="./assets/imgs/zack-snyders-justice-league-16x974c0.jpg"  alt="" /></li>
        <li  class="marquee-item"><img src="./assets/imgs/friends-16x974c0.jpg"  alt="" /></li>
        <li  class="marquee-item"><img src="./assets/imgs/rick-and-morty-16x974c0.jpg" alt="" /></li>
        <li  class="marquee-item"><img src="./assets/imgs/big-bang-theory74c0.jpg" alt="" /></li>
        <li  class="marquee-item"><img src="./assets/imgs/euphoria-ka74c0.jpg" alt="" /></li>
        <li  class="marquee-item"><img src="./assets/imgs/succession-ka_074c0.jpg"  alt="" /></li>
        <li  class="marquee-item"><img src="./assets/imgs/insecure-1200x67574c0.jpg" alt="" /></li>
        <li  class="marquee-item"> <img src="./assets/imgs/the-sex-lives-of-college-girls-video-cover-2_074c0.jpg" alt="" /></li>
      </ul>
    </div>
</div>





