.slider-style{
	background-color: #0f0e0e;
    padding: 1rem 1rem;
	overflow-x: hidden;
	
}
img{
	margin-top: 3rem;
	max-width: 400px;
	border-radius: .3rem;
    margin: 7px 5px;
    padding: 0;
	height: 175px;
	width: 340px;
	
  }

  $animationSpeed: 40s;

@keyframes scrolling {
	0% { transform: translateX(0); }
	100% { transform: translateX(-4298px); }
  }

.marquee-content{
	display: flex;
	list-style: none;
	animation: scrolling 120s linear infinite;
}
.marquee{
	overflow: hidden;
}