@import '~src/assets/scss/common-variable';

.drag-content-area {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  .icon {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $light;
    border-radius: $br*3;
    margin: 2rem 0;
    font-size: 5rem;
    color: $kismat;
  }

  h6 {
    font-size: 1.25rem;
    font-weight: 600;
  }

  p {
    margin: 0;
    font-weight: 300;
    color: lighten($darkBg, 60);
  }
}

.select-file-button {
  max-width: 500px;
  margin: 2rem auto;
  cursor: pointer;

  .btn {
    width: 100%;
    border-color: rgba($warning, 1);
    color: $warning;
    font-weight: 600;
    border-radius: $br*3;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width:992px) {
      font-size: 1.5rem;
      height: 4rem;
    }

    input {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: 0;
    }
  }
}

.btn-add-new-row {
  display: flex;
  align-items: center;
  gap: .5rem;
  border-radius: $br*2;

  .icon {
    font-size: 1.5rem;
  }
}

.video-details-container {
  .header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;

    .actions {
      display: flex;
      align-items: center;
      gap: .75rem;

      .btn {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        border-color: $dark;
        font-size: 1.25rem;

        &.disabled {
          opacity: .5;
        }
      }
    }

    .title {
      font-size: 1.5rem;
      margin: 0;
    }
  }

  .form-label {
    margin-bottom: .25rem;
  }

  .form-control {
    border-color: darken($light, 6);

    @media (min-width:992px) {
      padding: .75rem 1.5rem;
      border-radius: $br*3;

      &:not(textarea) {
        height: 3.5rem;
      }
    }
  }

  // .input-group {
  //   border: 1px solid darken($light, 6);
  //   border-radius: 0.75rem;

  //   .form-control,
  //   .btn {
  //     border: none;
  //     box-shadow: none;
  //     background-color: transparent;
  //   }

  //   .btn {
  //     width: 4rem;
  //     font-size: 1.5rem;

  //     &:hover {
  //       background: $dark;
  //     }
  //   }

  //   @media (min-width:992px) {
  //     border-radius: $br*3;
  //   }
  // }
}



.footer-right {
  display: flex;
  align-items: center;
  gap: 1rem;

  .btn {
    border-radius: $br*3;

    &.btn-primary {
      color: $warning;
    }

    @media (min-width:992px) {
      padding-left: 3rem;
      padding-right: 3rem;
      height: 3.5rem;
    }
  }
}
