<div class="card">
  <div class="card-header">
    <h4 class="card-title">Content Release</h4>
    <h4 class="card-title">{{video?.title}}</h4>
  </div>
  <div class="card-body">
    <div class="video-details-container">
      <form novalidate [formGroup]="videoForm">
        <div class="row g-4">
          <div class="col-md-4">
            <label for="countryOrigin" class="form-label"> Country Origin </label>
            <select id="countryOrigin" class="form-control" formControlName="countryOrigin">
              <option value="" disabled>Select Country Origin</option>
              <option *ngFor="let item of countries" [value]="item.name">{{item.name}}</option>
            </select>
            <div class="text-danger" *ngIf="videoForm.controls.countryOrigin.hasError('required') && submitted">
              Country Origin is required
            </div>
          </div>
          <div class="col-md-4">
            <label for="contentCertificate" class="form-label"> Content Certificate </label>
            <select id="contentCertificate" class="form-control" formControlName="contentCertificate">
              <option value="U">U</option>
              <option value="A">A</option>
              <option value="U/A">U/A</option>
            </select>
            <div class="text-danger" *ngIf="videoForm.controls.contentCertificate.hasError('required') && submitted">
              Content Certificate is required
            </div>
          </div>

          <!-- <div class="col-lg-4">
            <kismat-file-uploads title="Upload Content Certificate" [videoId]="videoId"
              [video]="{name:video?.title, src:'', img: video?.contentCertificate}"
              [uploadType]="uploadingTypes.contentCertificate" (response)="fileUploaded($event)" filetype="poster"
              fileaccept="image/*">
            </kismat-file-uploads>
          </div> -->

          <div class="col-md-4">
            <label for="rating" class="form-label">Rating</label>
            <input type="text" id="rating" class="form-control" placeholder="Rating" formControlName="rating">
            <div class="text-danger" *ngIf="videoForm.controls.rating.hasError('required') && submitted">
              Rating is required
            </div>
          </div>

          <div class="col-md-4">
            <label for="movieLength" class="form-label">Content Length</label>
            <input type="text" id="movieLength" class="form-control" placeholder="02:00:00"
              formControlName="movieLength">
            <div class="text-danger" *ngIf="videoForm.controls.movieLength.hasError('required') && submitted">
              Movie Length is required
            </div>
          </div>

          <div class="col-md-4" formGroupName="visibility">
            <label for="include" class="form-label">Visability Include </label>
            <select id="include" class="form-control" (change)="changeSelection($event, 'include')">
              <option value="" selected>Select Include Countries</option>
              <option [value]="selectAllVisibilityInclude">{{selectAllVisibilityInclude}}</option>
              <option *ngFor="let item of visibility" [value]="item.name">{{item.name}}</option>
            </select>
            <div class="text-danger"
              *ngIf="videoForm.controls.visibility?.get('include')?.hasError('required') && submitted">
              Visability Include is required
            </div>
            <kismat-pills [data]="videoForm.value.visibility['include']" poptitle="Visability Include" [showPills]="3"
              (onCancleItem)="removeVisability($event)">
            </kismat-pills>
          </div>

          <div class="col-md-4" formGroupName="visibility">
            <label for="exclude" class="form-label">Visability Exclude </label>
            <select id="exclude" class="form-control" (change)="changeSelection($event, 'exclude')">
              <option value="" selected>Select Exclude Countries</option>
              <option *ngFor="let item of visibility" [value]="item.name">{{item.name}}</option>
            </select>
            <kismat-pills [data]="videoForm.value.visibility['exclude']" poptitle="Visability Exclude" [showPills]="3"
              (onCancleItem)="removeVisability($event)">
            </kismat-pills>

          </div>

          <div class="col-md-4">
            <label for="genres" class="form-label">Content Genres </label>
            <select class="form-control" id="genres" (change)="changeGenreSelection($event)">
              <option value="">Select Genres</option>
              <option *ngFor="let item of genres" [value]="item.genreName">{{item.genreName | uppercase}}</option>
            </select>
            <div class="text-danger" *ngIf="videoForm.controls.genres.hasError('required') && submitted">
              Content Genres is required
            </div>
            <kismat-pills [data]="videoForm.value.genres" poptitle="Content Genres " [showPills]="3"
              (onCancleItem)="removeGenre($event)"></kismat-pills>
          </div>

          <div class="col-md-4">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="isAgeRestricted"
                formControlName="isAgeRestricted">
              <label class="form-check-label" for="isAgeRestricted">Age Restrictions</label>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                formControlName="isItsMadeForKids">
              <label class="form-check-label" for="flexSwitchCheckDefault">Yes, it’s made for kids</label>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="isshowincarousel"
                formControlName="isShowInCarousel">
              <label class="form-check-label" for="isshowincarousel">Is Show In Carousel</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="isShowInLatestAndTrending"
                formControlName="isShowInLatestAndTrending">
              <label class="form-check-label" for="isShowInLatestAndTrending">Latest And Trending</label>
            </div>
          </div>


          <div class="col-12 footer-right">
            <button type="button" class="btn btn-lg btn-outline-warning"
              (click)="redirectservice.updateVideo(videoId)">Back</button>
            <button type="button" class="btn btn-lg btn-outline-success" (click)="updateVideoDetails()">Update</button>
            <button type="button" class="btn btn-lg btn-outline-success ms-auto"
              (click)="redirectservice.uploadVideos(videoId)">Next</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
