<div class="container">
  <div class="row justify-content-center my-5">
    <div class="col-8">
      <div class="card px-5 py-4">
        <div class="card-title text-center my-3">
          <h3>Contact Us</h3>
        </div>
        <div class="card-bory">
          <form>
            <div class="form-group mb-3">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Enter Your Name">
            </div>
            <div class="form-group  mb-3">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" placeholder="Enter Your Email">
            </div>
            <div class="form-group mb-3">
              <label for="subject">Subject</label>
              <input type="text" class="form-control" id="subject" placeholder="Enter Your Subject">
            </div>
            <div class="form-group mb-3">
              <label for="message">Message</label>
              <textarea class="form-control" id="message" rows="3" placeholder="Type your message here..."></textarea>
            </div>
            <div class="text-end py-3">
                <button type="submit" class="btn btn-primary px-5">Submit</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>
