<div class="card">
  <div class="card-header">
    <h4 class="card-title">Payment Modes</h4>
    <h4 class="card-title">{{video?.title}}</h4>

  </div>
  <div class="card-body">
    <div class="video-details-container">
      <form class="d-flex" [formGroup]="paymentOption">
        <select id="selectField" type="text" class="form-control" formControlName="payment" (change)="paymentTypeChange()" >
        <option value="" selected disabled hidden>Please Select Payment Mode</option>
        <option value="free">Free</option>
        <option value="subscription">Subscription</option>
        <option value="payperview">Pay Per View</option>
        </select>
        <div *ngIf="paymentOption.get('payment')?.value == 'payperview'" class="d-flex">
          <input type="tel" id="inputField" class="form-control col-4" formControlName="amount" 
          [OnlyNumber]="true" placeholder="Enter amount"/>
          <select id="currencyField" type="text" class="form-control col-4" formControlName="currency"  >
            <option value="" selected disabled hidden>Please Select Currency </option>
            <option value="Euro">Euro</option>
            <option value="Rupees">INR</option>
            <option value="Dollar">Dollar</option>
          </select>
        </div>
    </form>
      <div class="d-flex">
        <div class="col-md-6 footer-right">
          <button type="button" class="w-130 btn btn-lg btn-outline-warning"
            (click)="redirectservice.castAndCrew(videoId)">Back</button>

        </div>
        <div class="col-md-6 footer-right">
          <button type="button" [disabled]="paymentOption.invalid" class="btn btn-lg btn-outline-success ms-auto" (click)="save()">Save Content</button>
          <button type="button" [disabled]="paymentOption.invalid" class="btn btn-lg btn-outline-success" (click)="publish()">Publish Content</button>
        </div>
      </div>
    </div>
  </div>
</div>