<ng-container>
  <div class="p-4">
    <div class="d-flex justify-content-between align-items-canter">
      <p class="h4">Change Password</p>
      <button type="button" class="btn-close" aria-label="Close" (click)="modalService.dismissAll('Cross click')">
      </button>
    </div>
    <form [formGroup]="payload" (ngSubmit)="submit()">
      <div class="form-group my-4">
        <label for="oldPassword">Old Password</label>
        <input type="text" class="form-control" id="oldPassword" placeholder="Enter Old Password"
          formControlName="oldPassword">
        <div class="text-danger" *ngIf="payload.controls.oldPassword.invalid && submitted">
          Old Password is required
        </div>
      </div>
      <div class="form-group my-4">
        <label for="newPassword">New Password</label>
        <input type="text" class="form-control" id="newPassword" placeholder="Enter New Password"
          formControlName="newPassword">
        <div class="text-danger" *ngIf="payload.controls.newPassword.invalid && submitted">
          New Password is required
        </div>
      </div>
      <button type="submit" class="btn btn-success">Update</button>
    </form>
  </div>
</ng-container>
