@import '~src/assets/scss/common-variable';

.episodes {
  .title {
    font-size: 1.5rem;
  }

  .card {
    &.card-specials {
      position: relative;
      border-radius: 0;
      border: none;
      background: $dark;
      @include transition;
      transform: scale(1) translateY(0);
      cursor: pointer;



      .slide-img {
        width: 100%;
        height: 120px;
        display: block;
        object-fit: cover;
        border-radius: $br*2;
      }

      .card-body {
        background: $dark;
        background: linear-gradient(360deg, rgba($dark, 1) 0%, rgba($dark, 0) 100%);
        color: $white;
        padding: .5rem 1rem;
        width: 100%;

        h5 {
          font-weight: 600;
          font-size: 1rem;
          margin: 0;
        }

        p {
          overflow: hidden;
          -webkit-box-orient: vertical;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          text-overflow: ellipsis;
          white-space: normal;
          font-size: .75rem;
          margin-bottom: .5rem;
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin: 0;
        }

        .actions {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: .9rem;

          .rating-stars {
            color: $warning;
            font-size: .9rem;
          }
        }

        .buttons {
          display: flex;
          align-items: center;
          gap: .5rem;

          .btn {
            color: $white;
            font-size: 1rem;
            padding: 0;
            @include transition;
            opacity: .7;
            transform: scale(1);

            &:hover {
              opacity: 1;
              transform: scale(1.15);
            }
          }
        }

      }

    }
  }
}
