<section class="episodes">
  <h2 class="title" *ngIf="episodes.length > 0">{{title | titlecase}}</h2>
  <h2 class="title" *ngIf="episodes.length == 0">No Episodes Found!</h2>
  <swiper [config]="swiperSlidesConfig" #swiperContainer [virtual]="true" class="swiper-zoom">
    <ng-template swiperSlide *ngFor="let item of episodes">
      <div class="card card-specials" (click)="selectEpisode(item)">
        <div class="slide-img">
          <kismat-video [video]="{name: item?.title, src : item?.episodeUrl, img :item?.episodeUrl }">
          </kismat-video>
          <p class="h5">{{item.title}}</p>
        </div>
      </div>
    </ng-template>
  </swiper>
</section>
