  <!-- <div class="modal-content"> -->
  <div class="modal-header">
    <h4 class="modal-title">Cast And Crew</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="row g-3">
      <div class="col-lg-3" *ngFor="let item of videoActors; let i = index">
        <div class="card text-center">
          <div> <img class="card-image" [src]="item?.details?.profileDP" [alt]="item?.details?.castName" width="100%" />
          </div>
          <h5 class="mt-2 mb-0">{{item?.details?.castName}}</h5>
          <p class="mb-2">{{item?.details?.description}}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
