<section class="ott-section section-latest">
  <div class="container">
    <div class="section-title">
      <div class="title-left">
        <h2 class="title">Exclusive Movies on Kismet</h2>
      </div>
      <div class="title-right">
        <a href="javascript:void(0)" class="link" (click)="commonservice.isLoggedIn()? redirectservice.preview(null)  : modalservice.openSigninModal()">Explore All</a>
      </div>
    </div>
  </div>

  <swiper [config]="swiperSlidesConfig" #swiperContainer [virtual]="true" class="swiper-zoom">
    <ng-template swiperSlide *ngFor="let item of sliderItems">
      <div class="card card-latest">

        <div class="slide-img">
          <kismat-video [video]="{name: item.title? item.title : ''  , src : item.videourl? item.videourl :'',
          img : item.img? item.img : ''}" [mouseoverPlayPauseEvents]="commonservice.isLoggedIn()">
          </kismat-video>
        </div>

        <!-- <img *ngIf="!item.onPlay" class="slide-img" [src]="item.img" [alt]="item.title" [title]="item.title"> -->

        <div class="card-body">
          <h4>{{item.title}}</h4>
          <p>{{item.description}}</p>
          <div class="actions">
            <div class="rating-stars">
              <i class="icon fi-star-filled" *ngFor="let item of [1,2,3,4]"></i>
              <i class="icon fi-star-half-filled"></i>
            </div>
            <div class="buttons">
              <button class="btn"><i class="icon fi-share-android-filled"></i></button>
              <button class="btn"><i class="icon fi-heart-regular"></i></button>
              <button class="btn"><i class="icon fi-arrow-download-filled"></i></button>
              <button class="btn"><i class="icon fi-thumb-like-regular"></i></button>
              <button class="btn"><i class="icon fi-thumb-dislike-regular"></i></button>
            </div>
          </div>
          <div class="d-grid">
            <button class="btn btn-primary"
              (click)="commonservice.isLoggedIn()? redirectservice.preview(null) : modalservice.openSigninModal()">Watch
              Now</button>
          </div>
        </div>
      </div>
    </ng-template>
  </swiper>
</section>
