<ng-container *ngFor="let section of sections; index as i; first as first; last as last">
  <section class="ott-section section-specials" [class.noPadding]="!first && !last" >
    <div class="container">
      <div class="section-title">
        <div class="title-left">
          <h2 class="title">{{section.sectionName | titlecase}}</h2>
        </div>
        <div class="title-right">
          <a href="javascript:void(0)" class="link">Explore
            All</a>
        </div>
      </div>
    </div>

    <div class="container-fluid px-lg-0">
      <div class="row g-lg-0 align-items-center">
        <div class="col-12">
          <swiper [config]="swiperSlidesConfig" #swiperContainer [virtual]="true" class="swiper-zoom">
            <ng-template swiperSlide *ngFor="let item of section.videoList">
              <div class="card card-specials" (click)="redirectservice.preview(item.id) ">
                <!-- <img class="slide-img" [src]="item.img" [alt]="item.title" [title]="item.title"> -->
                <div class="slide-img">
                  <kismat-video
                    [video]="{name: item?.title, src : item?.videoSource?.videoUrl, img :item?.videoSource?.thumbnailUrl }"
                    [mouseoverPlayPauseEvents]="commonservice.isLoggedIn()">
                  </kismat-video>
                </div>
                <div class="card-body">
                  <h5>{{item.title}}</h5>
                  <p>{{item.description}}</p>
                  <div class="actions">
                    <div class="rating-stars">
                      <ngb-rating [rate]="item?.rating || 0" [max]="5" [readonly]="true"> </ngb-rating>
                    </div>
                    <app-player-actions [videoId]="item.id"></app-player-actions>
                  </div>

                </div>
              </div>
            </ng-template>
          </swiper>
        </div>
      </div>

    </div>

  </section>
</ng-container>
