<section class="ott-section section-continue-watching">
  <div class="container">
    <div class="section-title">
      <div class="title-left">
        <h2 class="title">Continue Watching</h2>
      </div>
      <div class="title-right">
        <a href="javascript:void(0)" class="link"
          (click)="commonservice.isLoggedIn()? redirectservice.preview(null)  : modalservice.openSigninModal()">Explore
          All</a>
      </div>
    </div>
  </div>

  <swiper [config]="swiperSlidesConfig" #swiperContainer [virtual]="true" class="swiper-zoom">

    <ng-template swiperSlide *ngFor="let item of continueWatching">
      <div class="card card-continue-watching">
        <div class="slide-img">
          <kismat-video [video]="{name: item.title? item.title : ''  , src : item.videoSource.videoUrl? item.videoSource.videoUrl :'',
            img : item.videoSource.vthumbnail? item.videoSource.vthumbnail : ''}"
            [mouseoverPlayPauseEvents]="commonservice.isLoggedIn()">
          </kismat-video>
        </div>

        <div class="card-body">
          <h4>{{item.title}}</h4>
          <p>{{item.description}}</p>
          <div class="actions">
            <div class="rating-stars">
              <i class="icon fi-star-filled" *ngFor="let item of [1,2,3,4]"></i>
              <i class="icon fi-star-half-filled"></i>
            </div>
            <app-player-actions [videoId]="item.id"></app-player-actions>
          </div>
          <div class="action-btn">
            <span class="">{{item.completedMin}} of {{item.totalMin}}m</span>
            <button class="btn btn-primary"
              (click)="commonservice.isLoggedIn()? redirectservice.preview(item.id) : modalservice.openSigninModal()">
              <i class="fas fa-solid fa-play"></i> Play</button>
          </div>
          <div class="progress">
            <div class="progress-bar bg-warning" [style.width]="item.completedPercentage + '%'" role="progressbar"
              aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>

      <!-- <div class="card ">
        <div class="slide-img">
          <kismat-video [video]="{name: item.title, src : item.videourl,
          img : item.img}" [mouseoverPlayPauseEvents]="commonservice.isLoggedIn()">
          </kismat-video>
        </div>

        <div class="card-body">
          <h2>{{item.title}}</h2>
          <p>{{item.description}}</p>
          <div class="actions">
            <div class="rating-stars">
              <i class="icon fi-star-filled" *ngFor="let item of [1,2,3,4]"></i>
              <i class="icon fi-star-half-filled"></i>
            </div>

            <app-player-actions [videoId]="item.id"></app-player-actions>
          </div>
          <div class="action-btn">
            <span class="">30 of 170m</span>
            <button class="btn btn-primary"  (click)="commonservice.isLoggedIn()? redirectservice.preview(null) : modalservice.openSigninModal()" ><i class="fa-solid fa-play"></i>Play</button>
          </div>
          <div class="progress">
            <div class="progress-bar bg-warning" style="width: 80%" role="progressbar" aria-valuenow="0"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div> 
      </div>-->
    </ng-template>
  </swiper>
</section>
