// $bg: #f3f8fa;
// $white: #fff;
// $black: #282936;

// @mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65, 0, .076, 1)) {
//   transition: $property $duration $ease;
// }

// button {
//   position: relative;
//   display: inline-block;
//   cursor: pointer;
//   outline: none;
//   border: 0;
//   vertical-align: middle;
//   text-decoration: none;
//   background: transparent;
//   padding: 0;
//   font-size: inherit;
//   font-family: inherit;

//   &.learn-more {
//     width: 8rem;
//     height: auto;

//     .circle {
//       @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
//       position: relative;
//       display: flex;
//       align-items: center;
//       justify-content: start;
//       margin: 0;
//       width: 3rem;
//       height: 3rem;
//       background: $black;
//       border-radius: 1.625rem;
//       font-size: 2rem;
//       color: $bg;

//       // .icon {
//       //   @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
//       //   position: absolute;
//       //   top: 0;
//       //   bottom: 0;
//       //   margin: auto;
//       //   background: $white;

//       //   &.arrow {
//       //     @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
//       //     left: 0.625rem;
//       //     width: 1.125rem;
//       //     height: 0.125rem;
//       //     background: none;

//       //     &::before {
//       //       position: absolute;
//       //       content: '';
//       //       top: -0.25rem;
//       //       right: 0.0625rem;
//       //       width: 0.625rem;
//       //       height: 0.625rem;
//       //       border-top: 0.125rem solid #fff;
//       //       border-right: 0.125rem solid #fff;
//       //       transform: rotate(45deg);
//       //     }
//       //   }
//       // }
//     }

//     .button-text {
//       @include transition(all, 0.45s, cubic-bezier(0.65, 0, .076, 1));
//       position: absolute;
//       top: 0;
//       left: 0;
//       right: 0;
//       bottom: 0;
//       padding: 0.75rem 0;
//       margin: 0 0 0 1.85rem;
//       color: $black;
//       font-weight: 700;
//       line-height: 1.6;
//       text-align: center;
//       text-transform: uppercase;
//     }
//   }

//   &:hover {
//     .circle {
//       width: 100%;

//       // .icon {
//       //   &.arrow {
//       //     background: $white;
//       //     transform: translate(1rem, 0);
//       //   }
//       // }
//     }

//     .button-text {
//       color: $white;
//     }
//   }
// }


//////////////////
.confetti-button {
  width: 2.5rem;
  height: 2.5rem;
  display: inline-flex;
  align-items: center;
  padding-left: 11px;
  background-color: #ff0081;
  color: #fff;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: all ease-in 0.2s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgb(255 0 130 / 50%);

  .btn-content {
    width: 0px;
    margin-left: 0.2rem;
    overflow: hidden;
    transition: all ease-in 0.2s;
  }

  &:hover {
    width: 5rem;
    .btn-content {
      width: 2.2rem;
    }
  }

}



.confetti-button:focus {
  outline: 0;
}

.confetti-button:before,
.confetti-button:after {
  position: absolute;
  content: '';
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}

.confetti-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.confetti-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.confetti-button:active {
  transform: scale(0.9);
  background-color: #e60074;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}

.confetti-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}

.confetti-button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
