<div class="al-container">
    <div class="logo">
        <img src="./assets/imgs/logo.png" alt="Kismat">
      </div>
  <div class="login-card card">
    <div class="card-header">
      <!-- <div class="logo">
        <img src="./assets/imgs/logo.png" alt="Kismat">
      </div> -->
      <h2 class="card-title">Admin Login</h2>
      <p>Login to Kismat Admin to manage content</p>
    </div>
    <div class="card-body">
      <form [formGroup]="signInForm" (ngSubmit)="onSignIn()">
      <div class="form-group">
        <label for="email">Email</label>
        <div class="input-group">
          <span class="input-group-text" id="basic-addon1"><i class="icon fi-person-filled"></i></span>
          <input type="email" formControlName="username" class="form-control" placeholder="Email" id="email">
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <div class="input-group">
          <span class="input-group-text" id="basic-addon1"><i class="icon fi-lock-closed-filled"></i></span>
          <input type="password" formControlName="password" class="form-control" placeholder="Password" id="password">
        </div>
      </div>
      <div class="d-grid submit-button">
        <button class="btn btn-primary btn-lg">Login</button>
      </div>
      <div class="more-actions">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Remember me
          </label>
        </div>
        <a href="" class="btn btn-link">Forgot Password?</a>
      </div>
    </form>
    </div>
  </div>
  <div class="copyright">© 2022 Kismet. All Rights Reserved. </div>
</div>
