@import '~src/assets/scss/common-variable';

.al-container {

  overflow-y: auto;
  background-color: $dark;
  background-image: $paymentPageBg;
  padding: 1rem;
  padding-bottom: 3rem;

  @media (min-width:992px) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
  }

  .logo {
    margin-bottom: 2rem;

    img {
      height: 3rem;
    }

    @media (min-width:992px) {
      margin-bottom: 4rem;

      img {
        height: 5rem;
      }
    }
  }

  .card {
    max-width: 50rem;
    width: 100%;
    border: none;
    border-radius: $br*2;
    margin-left: auto;
    margin-right: auto;


    .card-header {
      padding: 2rem;
      padding-bottom: 0;
      background: none;
      border: none;

      .card-title {
        color: $dark;
        font-weight: 800;
        margin: 0;
      }
    }

    .card-body {
      padding-left: 2rem;
      padding-right: 2rem;
      padding-bottom: 2rem;

      .form-group {
        margin-bottom: 1.5rem;
      }

      .submit-button {
        margin: 1.5rem 0;

        .btn {
          font-weight: 600;
          border-radius: $br*2;
          color: $warning;
          border-color: rgba($warning, .5);
        }
      }

      .more-actions {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .btn-link {
          font-size: 1rem;
          font-weight: 500;
          padding: 0;

          &:not(:hover) {
            text-decoration: none;

          }
        }
      }
    }

    @media (min-width:992px) {
      .card-header {
        padding-top: 3.125rem;
        padding-left: 3.125rem;
        padding-right: 3.125rem;

        .card-title {
          font-size: 2.5rem;
        }
      }

      .card-body {
        padding-left: 3.125rem;
        padding-right: 3.125rem;

        .form-group {
          margin-bottom: 2rem;
        }

        .submit-button {
          margin: 2rem 0;

          .btn {
            height: 4rem;
            font-size: 1.5rem;
          }
        }

        .more-actions {
          .btn-link {
            font-size: 1.25rem;

          }
        }
      }
    }
  }

  .copyright {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba($white, .3);
  }
}

.form-group {
  label {
    font-size: 1rem;
    color: $dark;

    @media (min-width:992px) {
      font-size: 1.25rem;
    }
  }

  $inputGroupIconSize:2.5rem;

  .input-group {
    height: $inputGroupIconSize;
    border-radius: $br*2;
    background: $white;
    box-shadow: 0px 3px 10px rgba(27, 28, 52, 0.1);
    position: relative;

    .input-group-text {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: $inputGroupIconSize;
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      border: none;
      font-size: 1.25rem;
      color: #BEBFC4;
    }

    .form-control {
      background: none;
      border: none;
      padding-left: $inputGroupIconSize + .5;
    }

    @media (min-width:992px) {
      height: $inputGroupIconSize + 1;

      .input-group-text {
        width: $inputGroupIconSize + 1;
        font-size: 1.5rem;
      }

      .form-control {
        padding-left: $inputGroupIconSize + 1.5;
      }
    }

  }

}
