  <div class="card mb-4 border-0 shadow-sm">
    <div class="card-header bg-transparent border-0">
      <div class="card-title">{{editMode ? 'Update Genre' : 'Create Genre'}}</div>
    </div>
    <div class="card-body">

      <form [formGroup]="genreForm">
        <div class="row">
          <div class="form-group col-lg-12">
            <label for="name">Genre</label>
            <div class="input-group">
              <input type="text" class="form-control" id="genre" placeholder="Genre" formControlName="genre">
            </div>
            <div class="text-danger" *ngIf="genreForm.controls.genre.hasError('required') && submitted">
              Genre is required
            </div>
          </div>
        </div>

        <div class="buttons d-flex justify-content-end mt-4">
          <button type="cancel" class="btn btn-ott-submit btn-lg btn-light" *ngIf="editMode" (click)="cancle()">Cancel</button>
          <button type="submit" class="btn btn-ott-submit btn-lg btn-primary text-warning ms-2"
          (click)="createNewGenre()"> <i class="fa" [ngClass]="editMode? 'fa-sync-alt': 'fa-plus'"></i> {{editMode? 'Update': 'Add'}}</button>
        </div>

    
      </form>

    </div>
  </div>


  <div class="mb-2">
    <kismat-data-table title="GenreList" [data]="genre" [headers]="genreHeaders"
      (onSelectItemForEdit)="onSelectItemForEdit($event)" (onSelectItemForDelete)="onSelectItemForDelete($event)">
    </kismat-data-table>
  </div>

