<div *ngIf="video?.src == ''; else videoplayer" class="no-video">
  <button class="btn back-button" (click)="_goBack()">
    <i class="fi-arrow-left-filled h3"></i>
  </button>
  <div>
    Video not available!
  </div>
</div>

<ng-template #videoplayer>
  <vg-player (onPlayerReady)="onPlayerReady($event)" (mouseover)="mouseoverPlayPauseEvents?  playmedia(media)  : ''"
    (mouseout)="mouseoverPlayPauseEvents? resetmedia(media) : ''">

    <vg-overlay-play *ngIf="showOverlayPlay"> </vg-overlay-play>
    <vg-buffering *ngIf="showBuffer"></vg-buffering>

    <vg-scrub-bar *ngIf="showVideoProgressBar" [vgSlider]="true">
      <vg-scrub-bar-current-time [vgSlider]="true"></vg-scrub-bar-current-time>
      <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
    </vg-scrub-bar>


    <vg-controls class="topctrl" *ngIf="showVideoBackButton" [vgAutohide]="true">
      <button class="btn back-button" (click)="_goBack()">
        <i class="fi-arrow-left-filled h3"></i>
      </button>
    </vg-controls>

    <vg-controls class="topctrl videoTitle" *ngIf="showVideoTitle" [vgAutohide]="true">
      <div class="video-title">
        {{video.name | titlecase}}
        <span *ngIf="currentSeason.title">
          || {{currentSeason.title | titlecase}}
        </span>
        <span *ngIf="currentEpisode.title">
          || {{currentEpisode.title | titlecase}}
        </span>
      </div>
    </vg-controls>

    <vg-controls *ngIf="showVideoControls" [vgAutohide]="true">
      <vg-play-pause></vg-play-pause>
      <!-- <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display> -->
      <vg-time-display vgProperty="left" vgFormat="hh:mm:ss"></vg-time-display>

      <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

      <vg-time-display vgProperty="total" vgFormat="hh:mm:ss"></vg-time-display>

      <div class="seasons" *ngIf="showSeasonsDrop">
        <button class="btn season-name" (click)="openSeasons()"> {{currentSeason.title | titlecase}} </button>
      </div>

      <vg-playback-button></vg-playback-button>
      <vg-track-selector></vg-track-selector>
      <vg-mute></vg-mute>
      <vg-volume></vg-volume>
      <vg-fullscreen></vg-fullscreen>
    </vg-controls>

    <video #media [vgMedia]="$any(media)" [muted]="muted" [vgMaster]="true" id="singleVideo" preload="auto"
      [poster]="video.img">
    </video>
    <!-- <video #media [vgMedia]="$any(media)" [muted]="muted" [vgMaster]="true" [src]="video.src" id="singleVideo"
      preload="auto" [poster]="video.img">
    </video> -->

  </vg-player>

</ng-template>
