@import '~src/assets/scss/common-variable';

.no-video {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: $white;

  .back-button {
    position: fixed;
    top: 0;
    left: 0;
  }
}

#singleVideo {
  object-fit: cover;
  object-position: center;
}

.video-player-container {
  height: 100%;
}

::ng-deep {
  vg-scrub-bar-current-time .background {
    background-color: #00bb17 !important;
  }

  vg-controls {
    z-index: 225 !important;
  }

  vg-controls.topctrl {
    background: none;
    position: absolute;
    top: 0;
    transition: all 1s ease-in-out;
    width: 50px;
  }

  vg-controls.topctrl.hide {
    position: absolute;
    top: -50px;
    transition: all 1s ease-in-out;
  }

  vg-controls.videoTitle {
    width: 50%;
    left: 70px;
    display: flex;
    align-items: center;
  }
}

.back-button {
  color: $white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.video-title {
  color: $white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.seasons {
  display: flex;
  align-items: center;

  .season-name {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: $white;
    background: none;
    border: none;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  }
}

// ::ng-deep {
//   .seasons-drop {

//     .dropdown,
//     .dropup {

//       .dropdown-toggle {
//         display: flex;
//         align-items: center;
//         padding-left: 1.5rem;
//         padding-right: 1.5rem;
//         color: $white;
//         background: none;
//         font-weight: 600;
//         // &:after {
//         //   margin-left: 1rem;
//         // }
//       }

//       .btn-dropdown:focus {
//         outline: none !important;
//         box-shadow: none !important;
//       }

//       .dropdown-menu {
//         background-color: #00000080 !important;
//         padding: 0px !important;

//         button {
//           outline: none;
//           padding: 0px !important;
//         }

//         .dropdown-item {
//           padding: 0px !important;
//         }
//       }

//     }
//   }
// }
