<ng-container>
  <div class="modal-body">
    <p class="h5 text-center"> {{message}} </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary " (click)="no()">No</button>
    <button type="button" class="btn btn-outline-danger" (click)="yes()">Yes</button>
  </div>
</ng-container>
