@import '~src/assets/scss/common-variable';

.card-statistic {
  .card-body {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;

    .thumbnail {
      width: 5rem;
      height: 5rem;
      flex: 0 0 5rem;
      background: $light;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: $br*4;

      .icon {
        font-size: 2rem;
      }

      .img {
        width: 2.5rem;
      }
    }

    .content {
      .number {
        margin: 0;
        font-size: 2rem;
        color: $dark;
        font-weight: 700;
      }

      .label {
        margin: 0;
        font-size: 1rem;
        font-weight: 400;
      }
    }
  }
}
.card-body-chart{
    .bar-chart{
        height: 314px !important;
    }
}
