<div class="row">
  <div class="col-lg-6 mb-4">
    <div class="card card-chart shadow-sm border-0 h-100">
      <div class="card-header border-0 bg-transparent">
        <div class="header-left">
          <h3 class="card-title">Quarterly Top content reports</h3>
        </div>
        <div class="header-right">
          <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills card-tabs">
            <li [ngbNavItem]="1">
              <a ngbNavLink><i class="icon fi-data-bar-vertical-filled"></i> Bar</a>
              <ng-template ngbNavContent>
                <canvas baseChart class="bar-chart" [datasets]="barChartData" [labels]="barChartLabels"
                  [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType">
                </canvas>
              </ng-template>
            </li>
            <li [ngbNavItem]="2">
              <a ngbNavLink><i class="icon fi-data-pie-filled"></i>Pie</a>
              <ng-template ngbNavContent>
                <canvas baseChart class="bar-chart" [datasets]="barChartData" [labels]="barChartLabels"
                  [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType">
                </canvas>
              </ng-template>
            </li>
            <li [ngbNavItem]="3">
              <a ngbNavLink><i class="icon fi-circle-filled"></i> Bubble</a>
              <ng-template ngbNavContent>
                <canvas baseChart class="bar-chart" [datasets]="barChartData" [labels]="barChartLabels"
                  [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType">
                </canvas>
              </ng-template>
            </li>
          </ul>
        </div>


      </div>
      <div class="card-body card-body-chart" [ngbNavOutlet]="nav">
      </div>
    </div>
  </div>
  <div class="col-lg-6 mb-4">
    <div class="card card-table shadow-sm border-0 h-100">
      <div class="card-header bg-transparent border-0">
        <div class="header-left">
          <h3 class="card-title">Latest comments</h3>
          <!-- <p>Pakistan</p> -->
        </div>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-kott m-0 border-none">
          <thead>
            <tr>
              <th>Users</th>
              <th>Comment</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let td of tableData">
              <td>
                <div class="table-user">
                  <img [src]="td.userImg" alt="">
                  <div class="text">
                    <h6 class="name">{{td.userName}}</h6>
                    <p class="place">{{td.userLocation}}</p>
                  </div>
                </div>
              </td>
              <td>{{td.comment}}</td>
              <td class="text-nowrap">{{td.date}}</td>
            </tr>

          </tbody>
        </table>

      </div>
    </div>
  </div>

  <div class="col-12 mb-4">
    <div class="card card-table shadow-sm border-0 h-100">
      <div class="card-header bg-transparent border-0">
        <div class="header-left">
          <h3 class="card-title">Most Liked Content</h3>
        </div>
        <div class="header-right">
          <div class="buttons">
            <button class="btn btn-secondary"><i class="icon fad fa-download"></i> Export</button>
            <button class="btn btn-secondary"><i class="icon fad fa-expand"></i>View all</button>
          </div>
        </div>
      </div>
      <ul ngbNav #recentContentSummary="ngbNav" [(activeId)]="recentActive" class="nav-tabs">
        <li [ngbNavItem]="1">
          <a ngbNavLink>Movies</a>
          <ng-template ngbNavContent>
            <table class="table table-kott m-0 border-none">
              <thead>
                <tr>
                  <th>Content</th>
                  <th>Content Type</th>
                  <th>Views progress last Months </th>
                  <th>Likes</th>
                  <th>Views</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let item of tableItems">
                  <td>{{item.content}}</td>
                  <td>{{item.type}} </td>
                  <td>
                    <div class="progress-container">
                      <div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar" [style.width]="item.progress" aria-valuenow="45"
                          aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <span class="progress-value">{{item.progress}}</span>
                    </div>
                  </td>
                  <td>{{item.likes | number}}</td>
                  <td>{{item.views | number}}</td>
                </tr>

              </tbody>
            </table>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink>Web Series</a>
          <ng-template ngbNavContent>
            ds
          </ng-template>
        </li>
        <li [ngbNavItem]="3">
          <a ngbNavLink> TV Shows</a>
          <ng-template ngbNavContent>
            we
          </ng-template>
        </li>
      </ul>
      <div class="card-body table-responsive" [ngbNavOutlet]="recentContentSummary">


      </div>
    </div>
  </div>
</div>
