<div class="card shadow-sm border-0">
  <div class="card-header bg-transparent border-0">
    <h4 class="card-title"> {{isEditMode ? 'Update Episode' : 'Create Episode'}} </h4>
    <h4 class="card-title" *ngIf="isEditMode">{{episode?.title}}</h4>
  </div>
  <div class="card-body">
    <div class="video-details-container">
      <form novalidate [formGroup]="payload">
        <div class="row g-4">

          <div class="col-md-4">
            <label for="title" class="form-label">Episode Name</label>
            <input type="text" id="title" class="form-control" placeholder="Episode Name" formControlName="title">
            <div class="text-danger" *ngIf="payload.controls.title.hasError('required') && submitted">
              Episode Name is required
            </div>
          </div>
          <div class="col-md-4">
            <label for="subTitle" class="form-label">Episode Tagline</label>
            <input type="text" id="subTitle" class="form-control" placeholder="Episode Tagline"
              formControlName="subTitle">
            <div class="text-danger" *ngIf="payload.controls.subTitle.hasError('required') && submitted">
              Episode Tagline is required
            </div>
          </div>
          <div class="col-md-4">
            <label for="" class="form-label">Release date </label>
            <div class="input-group input-group-kismat">
              <input class="form-control" placeholder="yyyy-mm-dd" name="dp" (dateSelect)="onDateSelect($event)"
                ngbDatepicker #d="ngbDatepicker" [value]="payload.get('releaseDate')?.value">
              <button class="btn btn-outline-dark " (click)="d.toggle()" type="button"><i
                  class="fad fa-calendar-day"></i></button>
            </div>
            <div class="text-danger" *ngIf="payload.controls.releaseDate.hasError('required') && submitted">
              Release date is required
            </div>
          </div>
          <div class="col-md-4">
            <label for="movieLength" class="form-label">Episode Length</label>
            <input type="text" id="movieLength" class="form-control" placeholder="02:34:55"
              formControlName="movieLength">
            <div class="text-danger" *ngIf="payload.controls.movieLength.hasError('required') && submitted">
              Episode Length is required
            </div>
          </div>
          <!-- <div class="col-md-4">
            <label for="episodeUrl" class="form-label">Episode Url</label>
            <input type="text" id="episodeUrl" class="form-control" placeholder="episodeUrl"
              formControlName="episodeUrl">
            <div class="text-danger" *ngIf="payload.controls.episodeUrl.hasError('required') && submitted">
              Episode URL is required.
            </div>
          </div> -->


          <div class="col-12">
            <label for="description" class="form-label">Episode Description</label>
            <textarea id="description" cols="30" rows="2" class="form-control" placeholder="Episode Description"
              formControlName="description"></textarea>
            <div class="text-danger" *ngIf="payload.controls.description.hasError('required') && submitted">
              Episode Description is required
            </div>
          </div>
          <div class="col-12 d-flex">
            <!-- <button type="button" class="btn btn-lg btn-outline-success" (click)="episodes()">Episodes</button> -->

            <button type="button" class="btn btn-lg btn-outline-secondary ms-auto me-2"
              (click)="cancel()">Cancel</button>
            <button type="button" class="btn btn-lg btn-outline-success"
              (click)="createEpisode()">{{isEditMode ? 'Update Episode' : 'Create Episode'}}</button>

          </div>
        </div>
      </form>
    </div>
  </div>

</div>
