@import '~src/assets/scss/common-variable';

.form-select{
    padding-right: 3rem !important;
    height: 3rem;
}

.select-actor-image{
    $size:120px;
    position: relative;
    width: $size;
    img{
        display: block;
        width: $size;
        height: $size;
        border-radius: $br*2;
        object-fit: cover;
        border: 1px solid darken($light, 6);
    }
    .action{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        padding: .5rem 0;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        .btn{
            border-radius: $br*2;
            &:not(:hover){
                background-color: rgba($dark, .5);
                border-color: rgba($dark, .5);
                color: $white;
            }
        }
    }
}

.chip{
    padding: 2px 10px;
    border-radius: 25px;
    background: $light;
    display: inline-flex;
    align-items: center;
    margin: 1px;
}