<div class="card card-table shadow-sm border-0 h-100 mb-4">
  <div class="card-header bg-transparent border-0">
    <div class="header-left">
      <h3 class="card-title">{{title}}</h3>
    </div>
    <div class="header-right"></div>

  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-kott m-0 border-none">
        <thead>
          <tr>
            <th scope="col" *ngFor="let h of headers" [ngClass]="{'w-25': h.lable === 'Description'}">{{h.lable}}</th>
            <th scope="col" *ngIf="editbtn || deletebtn"> <span *ngIf="editbtn">Edit</span>
              <span *ngIf="editbtn && deletebtn"> / </span>
              <span *ngIf="deletebtn">Delete</span> </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataRows; index as i">
            <td scope="row" *ngFor="let h of headers">
              <ng-container [ngSwitch]="h.type">
                <ng-container *ngSwitchCase="'text'">
                  {{getTableColumnValue(item, h.field)}}
                </ng-container>
                <ng-container *ngSwitchCase="'date'">
                  {{getTableColumnValue(item, h.field) | date }}
                </ng-container>
                <ng-container *ngSwitchCase="'image'">
                  <div class="py-1">
                    <img src="{{getTableColumnValue(item, h.field)}}" alt="" width="70px">
                  </div>
                </ng-container>
                <ng-container *ngSwitchCase="'video'">
                  <div class="py-1">
                    <img src="{{getTableColumnValue(item, h.field)}}" alt="" width="70px">
                  </div>
                </ng-container>
                <ng-container *ngSwitchCase="'button'">
                  <div class="py-1">
                    <button class="btn btn-outline-success" (click)="onButton(item, h.field)">{{h.lable}}</button>
                  </div>
                </ng-container>
                <ng-container *ngSwitchCase="'fileupload'">
                  <div class="select-actor-image">
                    <img *ngIf="!getTableColumnValue(item, h.field)" src="./assets/imgs/placeholder.png"
                      alt="placeholder">
                    <img *ngIf="getTableColumnValue(item, h.field)" src="{{getTableColumnValue(item, h.field)}}" alt="">
                    <div class="action">
                      <input id="files" #fileupload type="file" class="form-control d-none" [accept]="h.accept"
                        (change)="changeFile($event.target , item)" />
                      <button class="btn btn-sm btn-dark" (click)="fileupload.click()">
                        {{getTableColumnValue(item, h.field)? 'Update': 'Choose'}}</button>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngSwitchCase="'arraypills'">
                  <div class="py-1">
                    <!-- <mat-chip-list>
                      <mat-chip ></mat-chip>
                    </mat-chip-list> -->
                    <span class="chip" *ngFor="let val of getTableColumnValue(item, h.field)">
                      {{val}}
                    </span>
                  </div>
                </ng-container>
                <ng-container *ngSwitchDefault>
                  {{getTableColumnValue(item, h.field)}}
                </ng-container>

              </ng-container>
              <!-- <ng-container *ngIf="h.type == 'text' || !h.type">{{ item[h.field]}}</ng-container>
            <ng-container *ngIf="h.type=='date'">{{ item[h.field] | date : 'dd-MM-yyyy'}} </ng-container> -->
            </td>
            <td scope="row" *ngIf="editbtn || deletebtn">
              <div class="d-flex align-items-center">
                <button class="btn btn-outline-primary mx-1" (click)="selectItem(item , 'edit')" *ngIf="editbtn"
                  title="Edit"><i class="fad fa-edit"></i></button>
                <button class="btn btn-outline-danger mx-1" (click)="selectItem(item, 'delete')" *ngIf="deletebtn"
                  ngClass="Delete"><i class="fad fa-trash"></i></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="d-flex justify-content-between mt-3" *ngIf="dataRows.length !== 0">
      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
        (pageChange)="refreshData()">
      </ngb-pagination>
      <select class="form-select form-control form-control-sm w-auto" [(ngModel)]="pageSize"
        (ngModelChange)="refreshData()">
        <option [ngValue]="10">10 </option>
        <option [ngValue]="15">15</option>
        <option [ngValue]="25">25</option>
        <option [ngValue]="50">50</option>
        <option [ngValue]="100">100</option>
      </select>
    </div>
  </div>
</div>
