<nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-dark">
  <div class="container">
    <a class="navbar-brand" href="javascript:void(0)" routerLink="/"><img src="./assets/imgs/logo.png" alt="Kismat"></a>
    <div class="navbar-right">
      <button class="btn text-white d-none d-lg-block" [routerLink]="['/payment']" routerLinkActive="active">Go
        Premium</button>

      <!-- <button class="btn btn-ott btn-icon" ><i class="icon fi-search-filled" ></i></button>

      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-ott" id="dropdownBasic1" ngbDropdownToggle><i class="icon fi-globe-regular"></i> <span
            class="d-none d-lg-block">English</span></button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu-end">
          <button ngbDropdownItem>Hindi</button>
          <button ngbDropdownItem>French</button>
          <button ngbDropdownItem>Spanish</button>
        </div>
      </div> -->


      <button class="btn btn-ott btn-warning btn-signup" (click)="modalservice.openSigninModal()"><i
          class="icon fi-person-accounts-filled d-lg-none"></i>
        <span class="d-none d-lg-flex align-items-center gap-3">Sign In
          <i class="icon fi-arrow-right-filled"></i></span></button>

      <button class="btn btn-ott btn-warning btn-signup" (click)="modalservice.openSignupModal()">
        <span class="d-lg-none align-items-center gap-3">
          <i class="icon fi-person-regular"></i>
        </span>
        <span class="d-none d-lg-flex align-items-center gap-3">
          Sign Up, It's Free
          <i class="icon fi-person-regular"></i>
        </span>
      </button>

    </div>

  </div>
</nav>
