@import '~src/assets/scss/common-variable';

.navbar{
    // height: $lgNavbarHeight - 2;
    
    .navbar-brand{
        margin: 0;
        img{
            height: $lpLogoHeight - 1;
        }
    }
    .navbar-right{
        display: flex;
        align-items: center;
        gap: .5rem;
        .btn{
            .icon{
                font-size: 1rem;
            }
            &.btn-icon{
                color: $white;
            }
            &.dropdown-toggle{
                color: $white;
            }
            &.btn-signup{
                border-radius: $br*2;
                height: 34px;

                padding-left: .5rem;
                padding-right: .5rem;
            }
        }
        
    }
    @media (min-width:992px) {
        height: $lgNavbarHeight;
        .navbar-brand{
            img{
                height: $lpLogoHeight;
            }
        }
        .navbar-right{
            gap: 1.5rem;
            .btn{
                .icon{
                    font-size: 1.25rem;
                }
                &.btn-signup{
                    border-radius: $br*3;
                    height: 40px;
                    padding-left: 1.5rem;
                    padding-right: 1.5rem;
                }
            }
            
        }
    }
    
}