  <div class="card mb-4 border-0 shadow-sm">
    <div class="card-header bg-transparent border-0">
      <div class="card-title">Create Video Section</div>
    </div>
    <div class="card-body">

      <form [formGroup]="videoSectionsForm">
        <div class="row g-4">
          <div class="form-group col-lg-4">
            <label class="video-list" for="sequence">Sequence</label>
            <div class="input-group">
              <input type="text" class="form-control" id="sequence" placeholder="Ex: 1, 2, 3"
                formControlName="sequence" [OnlyNumber]="true">
            </div>
            <div class="text-danger" *ngIf="videoSectionsForm.controls.sequence.hasError('required')  && submitted">
              Sequence is required
            </div>
          </div>

          <div class="form-group col-md-4">
            <label for="videoType" class="form-label">Video Type</label>
            <select id="videoType" class="form-control" formControlName="videoType">
              <option value="" disabled>Select Video Type</option>
              <option *ngFor="let item of videoType" [value]="item | lowercase">{{item | lowercase}}</option>
            </select>
            <div class="text-danger" *ngIf="videoSectionsForm.controls.videoType.hasError('required') && submitted">
              Video Type is required
            </div>
          </div>
          <div class=" form-group col-md-4">
            <label for="genres" class="form-label">Genres Type</label>
            <select id="genres" class="form-control" (change)="changeGenreSelection($event)">
              <option value="">Select Genres Type</option>
              <option *ngFor="let item of genres" [value]="item.genreName">{{item.genreName}}</option>
            </select>
            <div class="text-danger" *ngIf="videoSectionsForm.controls.genres.hasError('required') && submitted">
              Genres Required
            </div>
            <kismat-pills [data]="videoSectionsForm.value.genres || []" poptitle="GenresType " [showPills]="3"
              (onCancleItem)="removeGenre($event)"></kismat-pills>
          </div>


          <div class="form-group col-lg-6">
            <label class="video-list" for="name">Section Name</label>
            <div class="input-group">
              <input type="text" class="form-control" id="sectionName" placeholder="Section Name"
                formControlName="sectionName">
            </div>
            <div class="text-danger" *ngIf="videoSectionsForm.controls.sectionName.hasError('required')  && submitted">
              Section Name is required
            </div>
          </div>
        </div>
        <div class="buttons d-flex justify-content-end mt-4">
          <button type="cancel" class="btn btn-ott-submit btn-lg btn-light" (click)="cancle()">Cancel</button>
          <button type="submit" class="btn btn-ott-submit btn-lg btn-primary text-warning ms-2"
            (click)="createNewSection()">
            <i class="fa" [ngClass]="editMode? 'fa-sync-alt': 'fa-plus'"></i> {{editMode? 'Update': 'Add'}} Video
            Section</button>
        </div>


      </form>
    </div>
  </div>

  <div class="mt-4">
    <kismat-data-table title="Video Section" [data]="sections" [headers]="videoSectionHeaders"
      (onSelectItemForEdit)="onSelectItemForEdit($event)" (onSelectItemForDelete)="onSelectItemForDelete($event)">
    </kismat-data-table>
  </div>
