@import '~src/assets/scss/common-variable';

.section-shows {
  background-image: $sectionShowsBg;
  background-position: top center;
  background-size: cover;

  .img-thumb {
    img {
      width: 100%;
      display: block;
    }
  }

  .section-content {
    h2 {
      color: $warning;
      font-size: 1.5rem;
      font-weight: 600;
    }

    p {
      font-size: 1.2rem;
      color: $white;
      font-weight: 300;
    }

    .btn {
      border-color: rgba($warning, .5);
      color: $warning;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      font-size: 1rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      border-radius: $br*3;
      margin-top: 1.5rem;
    }

    @media (min-width:992px) {
      // padding-left: 2rem;

      h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1.2rem;
      }

      .btn {
        height: 3.2rem;
        font-size: 1.5rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        margin-top: 2rem;
      }
    }
  }
}
