<section class="ott-section section-shows">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-2 col-md-3 mb-4 mb-lg-0">
          <div class="img-thumb">
            <img src="/assets/imgs/thumb-show.png" alt="">
          </div>
        </div>
        <div class="offset-lg-1 col-lg-8 col-md-7">
          <div class="section-content">
            <h2>Download your shows to watch offline.</h2>
            <p>Save your favourites easily and always have something to watch.</p>
            <button class="btn btn-primary btn-yellow-border"><i class="icon fi-arrow-download-filled"></i>
              Download</button>
          </div>
        </div>
      </div>
    </div>
  </section>