<select style="text-align: center;padding:10px;margin-left: 35%;" (change)="onSelect()">
    <option value="" disabled selected>Select your option</option>
    <option>30 Days</option>
    <option>Three Months</option>
    <option>Six Months</option>
    <option>One Year</option>
</select>
<br/>
<br/>
<br/>
<div>
    <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    </style>
    
    <table *ngIf="showValues">
        <tr>
            <th>Movie Name</th>
            <th>Number of Transactions</th>
            <th>Total Revenue</th>
          </tr>
          <tr>
            <td>Acharya</td>
            <td>7</td>
            <td>600$</td>
          </tr>
          <tr>
            <td>RRR</td>
            <td>3</td>
            <td>150$</td>
          </tr>
        
    </table> 
</div>