<div class="card shadow-sm border-0">
  <div class="card-header bg-transparent border-0">
    <h4 class="card-title"> {{isEditMode ? 'Update Season' : 'Create Season'}} </h4>
    <h4 class="card-title" *ngIf="isEditMode">{{season?.title}}</h4>
  </div>
  <div class="card-body">
    <div class="video-details-container">
      <form novalidate [formGroup]="seasonForm">
        <div class="row g-4">
        
          <div class="col-md-4">
            <label for="title" class="form-label">Season Name</label>
            <input type="text" id="title" class="form-control" placeholder="Season Name" formControlName="title">
            <div class="text-danger" *ngIf="seasonForm.controls.title.hasError('required') && submitted">
                Season Name is required
            </div>
          </div>
          <div class="col-md-4">
            <label for="subTitle" class="form-label">Season Tagline</label>
            <input type="text" id="subTitle" class="form-control" placeholder="Season Tagline"
              formControlName="subTitle">
            <div class="text-danger" *ngIf="seasonForm.controls.subTitle.hasError('required') && submitted">
                Season Tagline is required
            </div>
          </div>

          <div class="col-md-4">
            <label for="movieLength" class="form-label">Season Length</label>
            <input type="text" id="movieLength" class="form-control" placeholder="02:00:00"
              formControlName="movieLength">
            <div class="text-danger" *ngIf="seasonForm.controls.movieLength.hasError('required') && submitted">
                Season Length is required
            </div>
          </div>

          <div class="col-md-4">
            <label for="" class="form-label">Release date </label>
            <div class="input-group input-group-kismat">
              <input class="form-control" placeholder="yyyy-mm-dd" name="dp" (dateSelect)="onDateSelect($event)"
                ngbDatepicker #d="ngbDatepicker" [value]="seasonForm.get('releaseDate')?.value">
              <button class="btn btn-outline-dark " (click)="d.toggle()" type="button"><i
                  class="fad fa-calendar-day"></i></button>
            </div>
            <div class="text-danger" *ngIf="seasonForm.controls.releaseDate.hasError('required') && submitted">
              Release date is required
            </div>
          </div>

          <div class="col-md-4">
            <label for="seasonNumber" class="form-label">Season Number</label>
            <input type="text" id="seasonNumber" class="form-control" placeholder="1"
              formControlName="seasonNumber" [OnlyNumber]="true">
            <div class="text-danger" *ngIf="seasonForm.controls.seasonNumber.hasError('required') && submitted">
                Season Number is required
            </div>
          </div>

          <!-- <div class="col-md-4">
            <label for="episodeNumber" class="form-label">Episode Number</label>
            <input type="text" id="episodeNumber" class="form-control" placeholder="1"
              formControlName="episodeNumber" [OnlyNumber]="true">
            <div class="text-danger" *ngIf="seasonForm.controls.episodeNumber.hasError('required') && submitted">
                Episode Number is required
            </div>
          </div> -->

          <div class="col-12">
            <label for="description" class="form-label">Season Description</label>
            <textarea id="description" cols="30" rows="2" class="form-control" placeholder="Season Description"
              formControlName="description"></textarea>
            <div class="text-danger" *ngIf="seasonForm.controls.description.hasError('required') && submitted">
                Season Description is required
            </div>
          </div>
          <div class="col-12 footer-right">
            <button type="button" class="btn btn-lg btn-outline-success me-auto" (click)="episodes()" *ngIf="seasonId">Episodes</button>

            <button type="button" class="btn btn-lg btn-outline-secondary  ms-auto" (click)="cancel()">Cancel</button>
            <button type="button" class="btn btn-lg btn-outline-success"
              (click)="createSeason()">{{isEditMode ? 'Update Season' : 'Create Season'}}</button>
           
          </div> 
        </div>
      </form>
    </div>
  </div>

</div>
