<header>
  <swiper [allowTouchMove]="false" #swiperContainer [virtual]="true" class="swiper-header">
    <ng-template swiperSlide *ngFor="let item of sliderItems; let i = index">

      <div class="slide-content">
        <!-- style="background-image: url({{item.img}});" -->
        <div class="slide-img" *ngIf="swiperContainer.swiperRef.activeIndex == i" [tabindex]="i">
          <kismat-video [video]="{name: item.title? item.title : '', src : item.videourl? item.videourl :'',
          img : item.img? item.img : ''}" [autoplay]="false" [muted]="true">
          </kismat-video>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="content">
                <img src="./assets/imgs/logo-2.png" alt="Kismat" />
                <h1>Get a Pack of blockbuster <br /> movies, epic originals,  and <br /> Influenced series</h1>
                <p class="py-2">Plans start at $9.99/month</p>
                <p>
                  <a class="btn btn-outline-warning btn-rounded" href="javascript:void(0)" role="button"
                  (click)="modalservice.openSignupModal()">
                    Sign Up Now
                  </a>

                  
                  
                  <!-- <div class="director"><span>Director:</span> Aijaz Khan</div>
                <div class="rating"><span>Rating:</span>
                  <div class="rating-stars">
                    <i class="icon fi-star-filled" *ngFor="let item of [1,2,3,4]"></i>
                    <i class="icon fi-star-half-filled"></i>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </swiper>
</header>
<!-- <img class="slide-content" [src]="item.img" [alt]="item.tags" [title]="item.tags"> -->

<!-- <ng-container>
  <header>
    <ngb-carousel *ngIf="images" class="slide-content">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[0]" alt="Random first slide">
        </div>
        <div class="carousel-caption content">
          <h3>First slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[1]" alt="Random second slide">
        </div>
        <div class="carousel-caption">
          <h3>Second slide label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[2]" alt="Random third slide">
        </div>
        <div class="carousel-caption">
          <h3>Third slide label</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </header>
</ng-container> -->
