@import '~src/assets/scss/common-variable';

header {
  height: calc(100vh - #{$lgNavbarHeight - 2});
  position: relative;

  .swiper {
    height: calc(100vh - #{$lgNavbarHeight - 2});
    overflow: hidden;

    .slide-content {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      overflow-y: auto;
      position: relative;
      display: flex;
      align-items: center;
      color: white;
      font-size: 1rem;

      .max-attribution {
        opacity: .7;
      }

      .max-attribution p {
        margin-bottom: 0;
        margin-top: 30px;
      }

      .slide-img {
        position: absolute;
        height: 100%;
        width: 100%;
        display: block;
        object-fit: cover;
        border-radius: $br*3;
      }

      .max-outer-container::before {
        background-image: linear-gradient(0deg, black, transparent);
        bottom: 0;
        content: "";
        height: 200px;
        position: absolute;
        width: 100%;
        z-index: 0;
      }

      &:before {
        @include pcover;
        content: '';
        background: rgba($dark, .4);
      }

      .content h1 {
        // margin-top: 2rem;
        position: relative;
        z-index: 2;
        font-size: 30px;



        p {
          position: relative;
          margin: 20px auto 15px;
          color: $white;
          font-size: 1.25rem;
          font-weight: 300;
          text-shadow: 0px 1px 3px rgb(0, 0, 0);

          span {
            cursor: default;
            pointer-events: none;
          }
        }

        .director,
        .rating {
          font-style: italic;
          font-size: 1.5rem;
          color: $white;
          display: flex;
          align-items: center;
          gap: 1rem;
          text-shadow: 0px 1px 3px black;

          span {
            font-weight: 600;
          }
        }

        .rating-stars {
          color: $warning;
        }

        @media (min-width:1200px) {

          // margin-top: 3rem;
          h1 {
            font-size: 1.6rem;
            color: white;
          }

          p {
            font-size: 1rem;
            margin-bottom: 3rem;
          }

          .director,
          .rating {
            font-size: 1.7rem;
            margin: 1rem 0;
          }
        }
      }

      .content {
        img {
          position: relative;
          height: 4rem;
          margin-bottom: 15px;
        }
      }

      .content {
        padding-left: 1rem;
        // position: absolute;
        // right: 0;
        // bottom: 40px;
        z-index: 2;
        max-width: 100% !important;
        width: 100%;
        // background: linear-gradient(90deg,rgba($dark, 0) 0%, rgba($dark, 0.82) 100%, $dark 100%);
        // padding: 0rem 6rem !important;

        p {
          position: relative;
        }
      }
    }
  }

  @media (min-width:1200px) {
    height: 70px;
    min-height: 600px;
    font-size: 1.6rem;

    .swiper {
      height: 70px;
      min-height: 100%;

    }
  }
}
