@import '~src/assets/scss/common-variable';

.section-subscribe {
  background: $dark;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: $subscribeBg;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: .2;
  }

  .container {
    position: relative;
    z-index: 2;
  }
  .title{
      margin: 0;
      font-weight: 300;
      @media (min-width:992px) {
          font-size: 3.5rem;
      }
  }
  .btn{
      color: $warning;
      border-color: rgba($warning, 1);
      font-size: 1.5rem;
      padding: .5rem 3rem;
      border-radius: $br*2;
      font-weight: 600;
      border-width: 2px;
      @media (min-width:992px) {
          padding: .5rem 5rem;
      }
  }
}
