<section class="ott-section section-subscribe">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm mb-4 mb-sm-0">
                <h2 class="title">Established fact that a reader will be distracted by the readable content. </h2>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-auto">
                <button class="btn btn-primary">Go Premium</button>
            </div>
        </div>
    </div>
  </section>