<ng-container *ngIf="showseasons">
  <div class="modal-header">
    <h5 class="modal-title">Seasons</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeSeasonModal()"></button>
  </div>
  <div class="modal-body">
    <ul class="list-group">
      <li class="list-group-item seasion-list-item"
        [ngClass]="{ 'selected-season' : season.seasonId == currentSeason.seasonId }" *ngFor="let season of seasons"
        (click)="_changeSeason(season)">
        {{season.title | titlecase}}
      </li>
    </ul>
  </div>
</ng-container>

<ng-container *ngIf="!showseasons">
  <div class="modal-header">
    <button class="btn back-button" (click)="_goToSeasons()">
      <i class="fi-arrow-left-filled h3"></i>
    </button>
    <h5 class="modal-title">Episodes</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeSeasonModal()"></button>
  </div>
  <div class="modal-body">
    <ul class="list-group">
      <li class="list-group-item episode-list-item"
        [ngClass]="{ 'selected-episode' : episode.episodeId == currentEpisode.episodeId}"
        *ngFor="let episode of episodes" (click)="_episodeEpisode(episode)">
        <div class="list-item-episode-img">
          <kismat-video [video]="{name: episode.title, src : episode.episodeUrl, img :''}">
          </kismat-video>
        </div>
        <div class="list-item-content">
          <h6 class="list-item-title">{{episode.title | titlecase}}</h6>
          <div>{{episode.description}}</div>
        </div>
      </li>
    </ul>
  </div>
</ng-container>
