@import '~src/assets/scss/common-variable';

::ng-deep {
  .modal.modal-seasons .modal-dialog {
    width: 100%;
    position: fixed;
    bottom: 50px;
    right: 0px;
    margin: 0;
    max-height: 650px;
    overflow-y: auto;

    .seasion-list-item {
      border: none;
      font-size: 18px;
      cursor: pointer;
      border-radius: 4px;
      height: 50px;
      display: flex;
      align-items: center;

      &:hover {
        background-color: $light;
      }
    }

    .selected-season {
      border: 2px solid $secondary;
      border-width: thick;
    }

    .episode-list-item {
      border: none;
      font-size: 18px;
      cursor: pointer;
      border-radius: 4px;
      display: flex;
      align-items: center;
      padding: 0.7rem;

      &:hover {
        background-color: $light;
      }
    }

    .list-item-episode-img {
      width: 250px;
      height: 100px;
      object-fit: cover;
      border-radius: $br*3;
      padding-right: 0.7rem;
    }
    .list-item-content{
      width: 100%;
      .list-item-title{
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 0.5rem;
      }
    }

    .selected-episode {
      border: 2px solid $secondary;
      border-width: thick;
    }

  }
}
