<app-home-header [fullHeight]="true" ></app-home-header>
<!-- [fullHeight]="true" -->
<app-latest-trending></app-latest-trending>
<app-continue-watching></app-continue-watching>
<app-top-ten></app-top-ten>

<!-- <kismet-genres></kismet-genres> -->
<kismet-sections></kismet-sections>

<app-subscribe-plan></app-subscribe-plan>
<app-footer></app-footer>