@import '~src/assets/scss/common-variable';

.manage-profile {
  background: darken($dark, 2);
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.profile {
  margin: auto;
  background-color: $light;
  border-radius: 40px;
  width: 480px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid $success;
    object-fit: fill;
    overflow: hidden;
    cursor: pointer;
  }

  .name {
    margin-top: 24px;
    font-size: 22px;
    font-weight: bold;
  }

  .username{
    font-size: 15px;
    font-weight: 400;
    width: 50%;
    margin-top: 8px;
    line-height: 1.3;
    text-align: center;
  }

  .details {
    font-size: 13px;
    font-weight: 400;
    width: 50%;
    margin-top: 8px;
    line-height: 1.3;
    text-align: center;
  }

  .buttons {
    display: flex;
    align-items: center;
    margin-top: 50px;

    .message {
      background-color: #ffedd2;
    }

    .follow {
      background: linear-gradient(90deg,
          rgba(#fa3967, 1) 0%,
          rgba(#fa9639, 1) 100%);
    }

    .button {
      width: 186px;
      height: 54px;
      border-radius: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 13px;
      font-weight: 500;
      margin-left: 12px;
      cursor: pointer;

      &:first {
        margin-left: 0px;
      }

      svg {
        height: 22px;
        margin-right: 4px;
      }
    }
  }
}
