@import '~src/assets/scss/common-variable';

footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid lighten($secondary, 15);

  @media (min-width:992px) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .call-to-action {
    color: $dark;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1rem;

    a {
      text-decoration: none;
      color: $kismat;
      @include transition;

      &:hover {
        color: darken($kismat, 10);
        text-decoration: underline;
      }
    }

    @media (min-width:992px) {
      font-size: 1.5rem;
    }
  }

  ul {

    &.links {
      display: flex;
      justify-content: center;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 10px 25px;
        a {
          font-size: 1rem;
          color: $dark;
          @include transition;
          text-decoration: none;
          padding-bottom: 0.5rem;
          display: block;
          font-weight: 500;
          
          &:hover {
            color: darken($kismat, 10);
          }
        }
      }
    }
  }

  .footer-bottom {
    margin-top: 1rem;

    P {
      color: lighten($darkBg, 50);
    }

    .social-links {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      gap: .5rem;
      justify-content: end;
      
      a {
        font-size: 1rem;
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        text-decoration: none;
        background-color: $dark;
        border-radius: 50%;
        @include transition;
        transform: scale(1);

        &:hover {
          transform: scale(1.1);

          &.facebook {
            background-color: #3b5998;
          }

          &.twitter {
            background-color: #1da1f2;
          }

          &.instagram {
            background-color: #c32aa3;
          }

          &.youtube {
            background-color: #ff0000;
          }
        }

      }
    }

    @media (min-width:992px) {
      margin-top: 1rem;
    }
  }
}
