<footer>
  <div class="container">

    <div class="row border-bottom">
      <ul class="navlinks links">
        <li *ngFor="let item of linkItems">
          <a [routerLink]="[item.link]">{{item.label}}</a>
        </li>
      </ul>
    </div>

    <div class="footer-bottom row pt-4">
      <div class="col-4">
        <h2 class="call-to-action mb-0">Questions? Mail <i class="icon fi-mail-filled"></i> <a
          href="tel:000-123-030-1243">info@kismetlive.com</a></h2>
      </div>
      <div class="col-4 text-center">
        <p class="mb-4 m-sm-0 flex-fill">&copy; 2022 Kismet. All Rights Reserved. </p>
      </div>
      <div class="social-links col-4">
        <a class="facebook" href=""> <i class="fa-brands fab fa-facebook-f"></i> </a>
        <a class="twitter" href=""><i class="fa-brands fab fa-twitter"></i></a>
        <a class="instagram" href=""><i class="fa-brands fab fa-instagram"></i></a>
        <a class="youtube" href=""><i class="fa-brands fab fa-youtube"></i></a>
      </div>
    </div>
  </div>
</footer>
