<div class="container">
  <div class="d-flex py-3 justify-content-between">
    <a href="javascript:void(0)" routerLink="/" class="btn ps-0 text-danger d-flex align-items-center">
      <i class="fi-arrow-left-regular me-2"></i> Back to Home
    </a>
    <a href="javascript:void(0)" (click)="window.print()" class="btn btn-outline-primary d-flex align-items-center">
      <i class="fi-print-filled me-2"></i> Print
    </a>
  </div>
  <div class="pb-5 pt-3">
    <h3>PRIVACY POLICY</h3>

    <div class="pt-3 ps-3">
      <h5>1. INTRODUCTION</h5>
      <div class="ps-4">
        <p>
          This privacy policy (<b>“Privacy Policy”</b>) covers the information Kismat (<b>“We”</b>) collects from the
          user(s) (<b>“User(s)”</b> and/or <b>“You”</b>) of the Site, App, Streaming Box and Services.
        </p>
        <p>
          Capitalised terms used but not defined herein shall have the meaning ascribed thereto in the Terms of Use.
        </p>
        <p>This Privacy Policy should be read in conjunction and together with the Terms of Use. Personal Information of
          a User(s) is collected if the User(s) registers with the Site or App and thereafter accesses the Contents or
          takes any action on the Site/App/Streaming Box or uses or accesses the Services. The terms ‘Personal
          Information’ and ‘Sensitive Personal Data or Information’ shall have the meaning ascribed to it under the
          applicable laws in India. By using the Services, you agree to the terms and conditions of this Privacy Policy.
        </p>
        <div>
          Here are our privacy principles:
          <ul>
            <li>Providing information to us is your choice.</li>
            <li>You can choose to have the Personal Information provided by you deleted.</li>
            <li>You always have the ability to opt-out of receiving communications from the Site or App.</li>
          </ul>
        </div>
      </div>
    </div>


    <div class="pt-3 ps-3">
      <h5>2. COLLECTION OF INFORMATION AND USE
      </h5>
      <div class="ps-4">
        <div>
          The Personal Information or Sensitive Personal Data or Information which You may provide to Kismat and/or
          which We may collect as part of the information provided is or could be the following:
          <ol type="a">
            <li>Your registration details which may include the name, email address, mobile/contact details, age,
              gender, password, location, pin code, area code, occupation, etc provided by You. You may note that we
              adopt reasonable security measures to protect your password from being exposed or disclosed to anyone.
            </li>
            <li>Your billing, tax registration, and other information pertaining to Your transactions on the Site or App
              or related to the Services.</li>
            <li>You may in some cases share your debit or credit card details or other bank account details while
              accessing any Services offered on the Site or App on the pay per view model.
            </li>
            <li>Your comments or other content that you publicly post or share on the Site or App.
            </li>
            <li>If you access or engage with the Site, App or Services through a social media service, we may collect
              your user ID or user name, any information you have permitted the social media service to share with us,
              and any information you have made public with the social media service.</li>
            <li>Your usage behavior of the Site or App or interests, purchasing behavior, other traceable activities
              online, on apps and on mobile such as destinations visited, viewed advertisements or content consumed.
            </li>
            <li>Details of the computer system or computer network which You use to visit the Siteor App and undertake
              any activity on the Site or App, such as a unique device identifier including user behavior from web based
              cookies, session identifiers from device ID, commercially available services, data aggregator platforms.
            </li>
            <li>User preferences (e.g., preferred language settings);</li>
            <li>IP address, operating system, browser type, browser version, browser configuration, name of internet
              service provider, and other types of computer and connection related information relevant to identifying
              your type of device, connecting to the website, enabling data exchange with you and your device, and
              ensuring a convenient use of the website;
            </li>
            <li>URL and IP address of the website from which you accessed, or were directed to, our website, including
              date and time;
            </li>
            <li>Subpages visited while on our website, links followed on the website, including date and time;</li>
            <li>The full Uniform Resource Locator (URL) click stream to, through and from the website, including date
              and time;
            </li>
            <li>Service requests and orders placed;
            </li>
            <li>Transaction history, including open and completed transactions;</li>
            <li>Search terms entered;</li>
            <li>Services/products viewed or searched for on the website;
            </li>
            <li>Shopping cart and payment information;</li>
            <li>Credit Card information;</li>
            <li>Information collected by cookies or similar technologies (as described in the next paragraph);</li>
            <li>Newsletter subscriptions, enrollment for promotions, use of special offers, etc.
            </li>
            <li>Consents, authorizations, etc. granted;</li>
            <li>Survey answers, reviews, ratings and other types of feedback provided;</li>
            <li>Content of any communication sent through the website, including any information posted in social
              communities on the website or otherwise shared with Kismat and/or other users, as well as chat messages
              and chat transcripts;
            </li>
            <li>Information on software downloaded from the website; and</li>
            <li>Any other information that you enter on, or upload to, the website (e.g., content that you fill into an
              online form, a photo that you upload).
            </li>
          </ol>
          <p>
            Our primary purposes in collecting information including Personal Information or Sensitive Personal Data or
            Information from You is to allow You to use the Site or App and various features and Services on or in
            relation to the Site/App or to contact you for any Services provided by Kismat or its affiliates or its
            various service providers or Kismat’s business partners and advertisers; to record Your information and
            details as permitted and required under applicable laws, statutory direction or judiciary orders; to serve
            various promotion materials and advertising materials to You; and such other uses as provided in any User
            Agreement and this Privacy Policy.
          </p>
          <p>
            We may also use Your information for content recommendations, transactional emails or to provide You with
            information, direct marketing, online and offline advertising and other materials regarding products,
            services and other offers from time to time in connection with Kismat or its parent, subsidiary and
            affiliated companies (<b>“Kismat Entities”</b>) and its joint ventures.
          </p>
          <p>We may also collect information or Personal Information to track User behavior and preferences for internal
            analytics of all Users of the Site or App. We may also use your information: (i) to evaluate your
            eligibility for certain types of offers, products or services; (ii) to perform analytics and conduct
            customer research, including general market research or surveying our customers' needs and opinions on
            specific issues, generating sales and traffic patterns, and to analyse advertising effectiveness, both on an
            anonymous basis (e.g., by aggregating data) or on an individual basis (if legally permissible). This
            Personal Information is collected through the use of server log files and tracking technologies to collect
            and analyse certain types of technical information and may include cookies and web beacons.[MDT2]  If you do
            not consent to the use of cookies and/or device session tracking by Kismat, You may at any time adjust Your
            browser settings and/or delete and/or disable the cookies. However, please note that should you choose to
            delete / disable the use of cookies or other tracking technologies on your computer, certain sections of the
            Site or App and/or Services provided by Kismat may not be available to you.
          </p>
          <p>
            We may combine Your Personal Information or Sensitive Personal Data or Information, other information and
            information collected from tracking technologies and aggregate it with information collected from other
            Users using our Site or App to attempt to provide You with the Services and a better experience on the Site
            or App.

          </p>
          <p>You understand, agree and acknowledge that our collection, storage and processing of your Personal
            Information or Sensitive Personal Data or Information is for a lawful purpose connected with a function or
            activity of Kismat Entities and its joint ventures and/or group companies. You hereby consent to the
            collection, storage, use, disclosure, transfer, of the Personal Information or Sensitive Personal Data or
            Information by Kismat for the purposes set out herein. You further understand, agree and acknowledge that
            Your Personal Information which is classified as Sensitive Personal Data or Information as per applicable
            laws is considered necessary for Kismat to provide various services on its Site or App to You and for Your
            usage of the Site or App and other services provided by Kismat in relation to the Site or App and you
            affirmatively consent to its collection, storage, transfer and processing.
          </p>
        </div>
      </div>
    </div>

    <div class="pt-3 ps-3">
      <h5>3. INFORMATION SHARING AND DISCLOSURE</h5>
      <div class="ps-4">
        <p>
          Kismat is the recipient of Personal Information or Sensitive Personal Data or Information and shall exercise
          reasonable commercial endeavours for the prevention of unauthorized disclosure of the Personal Information
          including any Sensitive Personal Data or Information provided by the Users.
        </p>
        <p>
          We may enable access of the Users’ information to Kismat Entities, joint ventures, business partners, agents
          or third parties for the purposes of the services provided by them or for any other marketing related activity
          undertaken by or on behalf of Kismat Entities and/or its joint ventures, and/or for the purposes of enhancing
          the quality of the services provided to You on the Site or App, and You expressly consent to the same.
        </p>
        <p>We will ensure on reasonable commercial efforts basis that the third parties and agents employed by us for
          the purposes of Services provided by the Site or App are under an obligation to maintain confidentiality with
          respect to the Personal Information or Sensitive Personal Data or Information provided by the Users and to use
          it strictly for the purposes of the Services and Site or App only.
        </p>
        <p>Kismat may disclose Your Personal Information or Sensitive Personal Data or Information to such extent as
          Kismat may deem necessary for You to enter into commercial transactions with the Site or App. Recipients of
          your Personal Information or Sensitive Personal Data may be located in any country. This may include countries
          where applicable data protection laws provide a lesser degree of protection than your home country.
        </p>
      </div>
    </div>

    <div class="pt-3 ps-3">
      <h5>4. COMPLIANCE WITH LAWS AND LAW ENFORCEMENT</h5>
      <div class="ps-4">
        <p>
          Kismat cooperates with mandated government and law enforcement agencies or to any third parties by an order
          under law for the time being in force to enforce and comply with the law. We will also disclose any
          information including Sensitive Personal Data or Information about You to government and law enforcement
          agencies or private parties without your permission as we, in our sole discretion, believe necessary or
          appropriate to respond to valid claims and legal process, to protect the property and rights of Kismat or a
          third party, to protect the safety of the public or any person, or to prevent or stop any illegal, unethical
          or legally actionable activity. Kismat may also provide Your Personal Information including Sensitive Personal
          Data or Information to various tax authorities upon any demand or request from them.
        </p>
      </div>
    </div>



    <div class="pt-3 ps-3">
      <h5>5. BUSINESS TRANSFERS</h5>
      <div class="ps-4">
        <p>
          Kismat may sell, transfer or otherwise share some or all of its assets, including Your Personal Information
          including any Sensitive Personal Data or Information, in connection with a merger, acquisition, reorganization
          or sale of assets or in the event of bankruptcy. Should such a sale or transfer occur, we will ensure that the
          Personal Information including any Sensitive Personal Data or Information You have provided through the Site
          or App is stored and used by the transferee in a manner that is consistent with this Privacy Policy.
        </p>
      </div>
    </div>


    <div class="pt-3 ps-3">
      <h5>6. EMAIL POLICIES</h5>
      <div class="ps-4">
        <p>
          Kismat may use Your Personal Information or Sensitive Personal Data or Information for the aforementioned
          purposes of the Services/Site or App. You have full control regarding which emails You want to receive. If You
          decide at any time that You no longer wish to receive such communications from us, please follow the
          unsubscribe instructions provided in any of the communications. Please note that once we receive Your request,
          it may take an additional period of time for Your opt-out to become effective. </p>
      </div>
    </div>
    <div class="pt-3 ps-3">
      <h5>7. DATA SECURITY</h5>
      <div class="ps-4">
        <p>
          We understand the importance of data security and we want your browsing experience with us to be as safe as
          possible. We have implemented reasonable safeguards and precautions to protect your personal data, including
          technical and organizational measures against unauthorized access, improper use, alteration, unlawful or
          accidental destruction, and accidental loss, both in an online and offline context.
        </p>
        <p>We maintain technical and organizational security measures and procedures to protect the security of your
          personal data, which are consistent with measures used by other similar websites.
        </p>
        <p>Please understand that, while we strive to protect your personal data against potential risks and exposures,
          there is no absolute security in the online sphere. Hence, we ask you to support our IT security efforts by
          not disclosing any data on our website that is particularly sensitive or not required in the specific context.
          In this context, please note that credit card credentials will not be stored absent your explicit permission.
          Furthermore, you can help us protecting your personal data by signing off when you finished using
          login-protected areas of the website.
        </p>
      </div>
    </div>



    <div class="pt-3 ps-3">
      <h5>8. DELETING YOUR INFORMATION</h5>
      <div class="ps-4">
        <p>
          If you wish to have the Personal Information including any Sensitive Personal Data or Information that you
          have provided to us deleted, you can always do so by sending a request to us on the email id of our Customer
          Services department provided at the bottom of this page. You may note that deletion of certain Personal
          Information may lead to cancellation of your registration with the Site or App and your access to certain
          features of the Site or App, as well as cessation of Services.
        </p>
      </div>
    </div>



    <div class="pt-3 ps-3">
      <h5>9. LINKS TO OTHER SITES / FINANCIAL DATA
      </h5>
      <div class="ps-4">
        <p>
          We provide links to other websites for your convenience and information. Such other websites are not
          controlled by us. When you visit such other website you do so at your own risk. These sites may have their own
          privacy policies in place, which we recommend you review if you visit any linked websites. We do not, assume
          any responsibility or liability for such other websites, the content of such websites and their privacy
          practices, nor do we endorse them. We encourage you to familiarize yourself with the privacy statements
          provided by such other websites prior to providing them with information about you or entering into any
          transactions on them.
        </p>
        <p>While transacting with other Users of the Site or App, You may provide Your financial information including
          without limitation Your bank account details, credit card account details or your details pertaining to any
          payment settlement or pre-paid instrument service provider. You understand, agree and acknowledge that the
          Site or App and Kismat never receives Your financial and payment information from these service providers.
          Your Personal Information, Sensitive Personal Data or Information and financial information will be dealt with
          by these service providers in accordance with their respective privacy policies and other terms and conditions
          and Kismat and Site or App shall not be liable, accountable or responsible for Your Personal Information,
          Sensitive Personal Data or Information and financial information which You provide to these service providers.
        </p>
      </div>
    </div>


    <div class="pt-3 ps-3">
      <h5>10. SECURITY
      </h5>
      <div class="ps-4">
        <p>
          Kismat uses commercially reasonable industry practices and procedures designed to help keep Your Personal
          Information including Sensitive Personal Data or Information safe. Secure server software (SSL) encrypts all
          information You submit before it is sent to Kismat. Furthermore, all of the User data we collect is protected
          against unauthorized access. To prevent unauthorized access, maintain data accuracy, and ensure correct use of
          information, We will employ commercially reasonable and practicable security practices and procedures and
          security methods and technologies. We will also ensure on reasonable commercial efforts basis that any agent
          or third party that we employ complies with the same security standards as we do for the protection of your
          Personal Information including Sensitive Personal Data or Information.
        </p>
        <p>Your information may be transferred to or may be maintained on computers, computer systems and computer
          resources located outside of Your state or country where the privacy laws may be different (but no less
          stringent than the restrictions imposed by Indian law) as those where you live. If You are located outside
          India and choose to provide information to us, please be aware that the Site or App is hosted in India and
          that Kismat keeps or transfers information to and from India for storage and processing. Your submission of
          such information represents your agreement to that transfer.
        </p>
        <p>Unfortunately, the transmission of information over the Internet is not completely secure. Although we strive
          to protect your personal data, we cannot guarantee the security of your data while it is being transmitted to
          our site; any transmission is at your own risk. Once we have received your information, We have commercially
          reasonable procedures and security practices in place to reasonably endeavour to prevent unauthorized access.
        </p>
      </div>
    </div>


    <div class="pt-3 ps-3">
      <h5>11. CHANGES IN PRIVACY POLICY
      </h5>
      <div class="ps-4">
        <p>
          From time to time we may update this Privacy Policy. Your continued use of our Site or App and the Services
          constitutes your acceptance of the then-current Privacy Policy and Terms of Use so We encourage You to visit
          this page periodically to review any changes.

        </p>
      </div>
    </div>
    <div class="pt-3 ps-3">
      <h5>12. PHISHING
      </h5>
      <div class="ps-4">
        <p>
          Identity theft and the practice currently known as "phishing" are of great concern to Kismat. Safeguarding
          information to help protect You from identity theft is a top priority. We do not and will not, at any time,
          request Your credit card information or national identification numbers in a non-secure or unsolicited e-mail
          or telephone communication.
        </p>
      </div>
    </div>

    <div class="pt-3 ps-3">
      <h5>13. CONTACT US
      </h5>
      <div class="ps-4">
        <p>
          If You have any questions about this Privacy Policy, the practices of Kismat or Your dealings with the Site or
          App, You can contact us info@Kismat.com or via the links at the bottom of the page.</p>
      </div>
    </div>
    <div class="pt-3 ps-3">
      <h5>14. GRIEVANCE OFFICER

      </h5>
      <div class="ps-4">
        <p>
          Mr. Shariq Hamid shall be the Grievance Officer for the purpose of this Privacy Policy. If You have any
          questions or grievance or want to delete or modify Your Personal Information, You shall mark Your
          correspondence (given under the heading “Contact Us”) in the name of Mr. Shariq Hamid, Grievance Officer. Any
          communication which is not marked as such shall not be treated as a valid and binding communication for the
          purpose of this Privacy Policy and applicable laws w.r.t. this Privacy Policy. 
        </p>
      </div>
    </div>






  </div>

</div>

<app-footer></app-footer>
